<% provide(:title, t('clients.edit.heading')) %>

<%= render partial: 'layouts/breadcrumb', locals: {path: [{:title => t('clients.index.breadcrumb'), :href => clients_path}, {:title => t('clients.edit.heading'), :href => ''}], icon: 'house-colored'} %>


<div class="page-container">
  <div class="container">
    <!-- .card -->
    <div class="card card-fluid">
      <h2 class="card-header"> <%= t('clients.edit.profile') %> </h2>
      <!-- .card-body -->
      <div class="card-body">
        <!-- form -->
        <%= form_for(@client, html: {class: 'js-validatable'}) do |f| %>
          <div class="col-lg-6 offset-lg-3 col-md-12">
            <%= render 'accounts/clients/client_fields', f: f %>
            <hr/>
            <!-- .form-actions -->
            <div class="form-actions">
              <button type="submit" class="btn btn-primary ml-auto"><%= t('clients.edit.edit_button') %></button>
            </div> <!-- /.form-actions -->
          </div>

        <% end %> <!-- /form -->

      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div>
</div>