<% provide(:title, t('clients.show.heading')) %>

<%= render layout: 'layouts/breadcrumb', locals: { path: [
    { :title => t('clients.show.breadcrumb'), :href => clients_path },
    { title: @client.full_name, :href => '' }], icon: 'house-colored' } do %>

  <div class="action-btns">
    <div class="btn-group btn-group-toggle client-controls">
      <%= react_component('ModalControlStrip', props: { entries: clients_modal_data }) %>

      <% if @client.searchprefs_available %>
        <%= react_component('ModalControlStrip', props: { entries: client_prefs_data }) %>
        <%= link_to construct_search_prefs_edit_url(@client),
                    data: { toggle: "tooltip", position: "bottom" },
                    title: t('clients.show.edit_search_tooltip'),
                    class: 'btn btn-secondary btn-sm' do %>
          <i class="fas fa-edit fa-fw orig"></i>
          <span class="d-none d-lg-inline">&nbsp;<%= t('js.clients_edit_store_searches_tooltip') %></span>
        <% end %>
      <% end %>

      <% if current_user.is_admin?(current_account) || current_user.clients.pluck(:id).include?(@client.id) %>
        <%= link_to edit_client_path(@client), class: 'btn btn-secondary btn-sm editable' do %>
          <i class="fas fa-user-edit colored fa-fw"></i>
          <span class="d-none d-lg-inline">&nbsp;<%= t 'properties.edit.edit_button_alt' %></span>
        <% end %>
      <% end %>

      <% if current_user.is_admin?(current_account) %>
        <%= link_to @client, method: :delete, data: { confirm: t('prompt') }, class: 'btn btn-secondary btn-sm editable' do %>
          <i class="fas fa-trash colored fa-fw"></i>
          <span class="d-none d-lg-inline">&nbsp;<%= t 'properties.delete.delete_button' %></span>
        <% end %>
      <% end %>

    </div>
  </div>
<% end %>

<div class="page-container">
  <div class="container">
    <div class="app-container">

      <!-- .card -->
      <div class="card card-fluid">

        <div class="card-header card-header-custom">
          <div class="row align-items-center">
            <div class="col-lg-2 d-none d-lg-block card-start-heading">
              <%= link_to clients_path, class: "btn btn-primary btn-warning navigation-btn" do %>
                <i class="fas fa-chevron-left fa-fw"></i><%= t('properties.show.back') %>
              <% end %>
            </div>
            <div class="col-lg-8 text-center flex-nowrap">
              <nav class="nav nav-tabs anchor-support nav-justified border-0 d-flex justify-content-center text-nowrap ">
                <a href="#info" class="nav-link custom active text-nowrap" data-toggle="tab" role="tab" aria-selected="true"><span class="tab-title-container-client"><i class="menu-icon fas fa-user fa-fw"></i><span class="d-none d-md-inline tab-text">&nbsp; <%= t('clients.show.tabs.info') %></span></span></a>
                <a href="#searching" class="nav-link custom " data-toggle="tab" role="tab" aria-selected="false"><span class="tab-title-container-client"><i class="menu-icon fas fa-tasks fa-fw"></i><span class="d-none d-md-inline tab-text">&nbsp; <%= t('clients.show.tabs.searching') %></span></span>
                </a>
                <a href="#offering" class="nav-link custom " data-toggle="tab" role="tab" aria-selected="false"><span class="tab-title-container-client"><i class="menu-icon fas fa-hand-point-right fa-fw"></i><span class="d-none d-md-inline tab-text">&nbsp; <%= t('clients.show.tabs.offering') %></span></span>
                </a>
              </nav><!-- /.nav -->
            </div>
          </div>
        </div>


        <!-- .card-body -->
        <div class="card-body">

          <div class="tab-content p-0" id="ClientContent">
            <!-- Tab 1 - Client info-->
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
              <% if @client.qrcode.present? %>
                <div class="client-qr-code-container d-none d-lg-block" data-toggle="tooltip" data-placement="bottom" title="<%= t('clients.show.qrcode_tooltip') %>">
                  <%= @client.qrcode.html_safe %>
                </div>
              <% end %>

              <div class="col-lg-6 offset-lg-3 col-md-12">
                <div class="media mb-3">
                  <div class="user-avatar user-avatar-xl fileinput-button">
                    <%= render_avatar(@client, 'tile-xl', "avatar_preview") %>
                  </div><!-- /avatar -->
                  <div class="media-body pl-3 pt-3">
                    <strong><%= @client.full_name %></strong><br /><%= raw content_tag(:i, @client.job).html_safe unless @client.job.blank? %>
                  </div>
                </div> <!-- /.media -->
              </div>

              <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12">

                  <!-- If case things get too slow... -->
                  <%#= react_component('TabWrapper', props: {base_path: client_path(@client)}) %>
                  <div class="table-responsive">
                    <!-- .table -->
                    <table class="table table-striped">
                      <tbody>
                      <tr>
                        <td><%= t('activerecord.attributes.client.first_name') %></td>
                        <td><%= @client.first_name %></td>
                      </tr>
                      <tr>
                        <td><%= t('activerecord.attributes.client.last_name') %></td>
                        <td><%= @client.last_name %></td>
                      </tr>
                      <tr>
                        <td><%= t('activerecord.attributes.client.job') %></td>
                        <td><%= @client.job.blank? ? '-' : @client.job %></td>
                      </tr>
                      <tr>
                        <td><%= t('activerecord.attributes.client.email') %></td>
                        <td><%= @client.email.blank? ? '-' : @client.email %></td>
                      </tr>
                      <tr>
                        <td><%= t('activerecord.attributes.client.telephones') %></td>
<!--                        <td><%#= @client.telephones.blank? ? '-' : @client.telephones %></td>-->
                        <td><%= print_telephones(@client.telephones, current_account) %></td>
                      </tr>
                      <tr>
                        <td><%= t('activerecord.attributes.client.registered') %></td>
                        <!-- +l+ function accounts for the localized timedate -->
                        <td><%= l(@client.created_at, format: :custom) %></td>
                      </tr>
                      <tr>
                        <td class="<%= @client.agent? ? 'table-danger' : '' %>"><%= t('clients.agent') %></td>
                        <td class="<%= @client.agent? ? 'table-danger' : '' %>"><%= t(@client.agent?) %></td>
                      </tr>
                      <tr>
                        <td><%= t('clients.show.ordertoview') %></td>
                        <td><%= t(@client.ordertoview.to_s.downcase) %>&nbsp;<%= (@client.try(:ordertoviewfile).try(:attached?) && @client.ordertoview) ? link_to('&#10515'.html_safe, rails_blob_path(@client.ordertoviewfile, disposition: "attachment"), class: 'no-underline') : '' %></td>
                      </tr>
                      <tr>
                        <td><%= t('clients.show.ordertosell') %></td>
                        <td><%= t(@client.ordertosell.to_s.downcase) %>&nbsp;<%= (@client.try(:ordertosellfile).try(:attached?) && @client.ordertosell) ? link_to('&#10515'.html_safe, rails_blob_path(@client.ordertosellfile, disposition: "attachment"), class: 'no-underline') : '' %></td>
                      </tr>

                      <% @client.model_type.fields.each do |field| %>
                        <%= render "accounts/cfields/#{field.field_type}_read",
                                   cfield_label: field.name,
                                   cfield_data: @client.preferences[field.slug] %>
                      <% end %>

                      </tbody>
                    </table>
                  </div>
                </div>

              </div>


            </div>
            <div class="tab-pane fade" id="searching" role="tabpanel" aria-labelledby="searching-tab">

                <div class="row">
                  <div class="col-lg-6 col-12 offset-lg-3">

                    <div class="alert alert-primary pr-5 has-icon" role="alert">
                      <button type="button" class="closer-button pt-3">×</button>
                      <div class="alert-icon">
                        <i class="fas fa-info"></i>
                      </div><%= t('clients.show.mappings_tooltip_html') %>
                    </div>

                    <% unless @client.searchprefs_available %>
                      <div class="alert alert-warning pr-5 has-icon" role="alert">
                        <button type="button" class="closer-button pt-3">×</button>
                        <div class="alert-icon">
                          <i class="fas fa-exclamation"></i>
                        </div><%= t('clients.show.mappings_tooltip_empty')%>
                      </div>
                    <% end %>

                  </div>
                </div>

              <% if @client.searchprefs_available %>
                <%= react_component('ClientPrefsListWithDatatable', props: {
                    initial_payload: {
                        dataset_wrapper: @propertieslist,
                        results_per_page: @results_per_page,
                        total_entries: @total_entries,
                        current_page: @current_page,
                        initial_search: @initial_search,
                        initial_sorting: @initial_sorting,
                        initial_ordering: @initial_ordering,
                        locations_endpoint: properties_locations_url,
                        clients_endpoint: clients_url,
                        client_endpoint: client_path(@client),
                        assignmentships_endpoint: matches_url,
                        properties_path: properties_path,
                        hasFeedback: false,
                        object_type: 'clientprefslist'
                    },
                    i18n: {
                        no_results: t('js.components.select.noresults'),
                        website_enabled: t('js.forms.properties.wizard.step1.website_enabled'),
                        website_disabled: t('js.forms.properties.wizard.step1.website_disabled'),
                        pinned: t('js.forms.properties.wizard.step1.pinned'),
                    }
                }, prerender: false) %>
              <% else %>
                <div class="text-center reduced-opacity">
                  <%= image_pack_tag 'media/images/no_stored_searches.svg', class: "img-fluid max-300" %>
                </div>
                <div class="d-flex justify-content-center mt-5">
                  <p class="text-justify mb-4 max-300">
                    <a type='button' class="btn btn-lg btn-danger btn-action"
                       href="<%= properties_path(force_filters_open: true, preselected_client: @client.id) %>">
                      <%= t('clients.show.new_search') %>
                    </a></p>
                </div>
              <% end %>
            </div>

            <div class="tab-pane fade" id="offering" role="tabpanel" aria-labelledby="offering-tab">
              <div class="row">
                <div class="col-lg-6 col-12 offset-lg-3">
                  <% properties = @client.properties.references(:cpas).where(cpas: { ownership: true }) %>
                  <% if properties.length > 0 %>
                    <div class="list-group custom list-group-bordered mb-3">
                      <% properties.map do |property| %>
                        <%= link_to property_path(property), class: "list-group-item list-group-item-action", data: { turbolinks: 'true' } do %>
                          <div class="list-group-item-figure">
                            <div class="tile bg-success">
                              <i class="fas fa-home fa-fw"></i>
                            </div>
                          </div>
                          <div class="list-group-item-body"><strong><%= property.slug.upcase %></strong>
                            - <%= property.category.localname %>
                            - <%= number_to_currency(property.price) %></div>
                        <% end %>
                      <% end %>
                    </div>
                  <% else %>

                    <div class="d-flex justify-content-center">
                      <div class="alert alert-warning has-icon" role="alert">
                        <div class="alert-icon">
                          <i class="fas fa-exclamation"></i>
                        </div><%= t('clients.show.no_ownership') %>
                      </div>
                    </div>

                    <div class="text-center reduced-opacity">
                      <%= image_pack_tag 'media/images/no_stored_searches.svg', class: "img-fluid max-300" %>
                    </div>

                  <% end %>
                </div>
              </div>
            </div>

          </div> <!-- /.card-body -->
        </div> <!-- /.card -->


      </div>
    </div>
  </div>
</div>