<% provide(:title, t('users.new.heading')) %>

<%= render partial: 'shared/breadcrumb', locals: {path: [{:title => 'users.new.heading', :href => new_user_path}], icon: 'house-colored'} %>

<div class="page-container">
  <div class="container">
    <!-- .card -->
    <div class="card card-fluid">
      <h2 class="card-header"><%= t('users.new.profile') %> </h2>
      <!-- .card-body -->
      <div class="card-body">
        <!-- form -->
        <%= form_for(@invitation) do |f| %>
          <div class="col-lg-6 offset-lg-3 col-md-12">


            <!-- .form-group -->
            <div class="form-group">
              <div class="pb-2">
                <span class="badge badge-secondary"><em><%= t('users.new.feedback') %></em></span>
              </div>
              <div class="form-label-group">
                <%= f.email_field :email, class: 'form-control', placeholder: User.human_attribute_name("email") %>
                <%= f.label "email", User.human_attribute_name("email") %>
                <%= inline_error @invitation, :email, 'Email' %>
              </div>
            </div>
            <!-- /.form-group -->

<!--            <hr />-->

            <!-- .form-actions -->
            <div class="form-actions invite-action">
              <button type="submit" class="btn btn-primary btn-block"><%= t('invitations.new.inv_button') %></button>
            </div> <!-- /.form-actions -->
          </div>

        <% end %> <!-- /form -->

      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div>
</div>