<% provide(:title, 'Edit user') %>
<div class="center pr-signup-container pr-container">
  <i class="pr-icon sm invite-user-colored"></i>
  <span class="title"><%= t 'invitations.new.heading' %></span>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="pr-form-container">

        <%= form_for @invitation do |invitation| %>

            <%= render 'shared/error_messages', locals: {model: @invitation} %>

            <%= invitation.label Invitation.human_attribute_name("email_label") %>
            <%= invitation.email_field :email, placeholder: Invitation.human_attribute_name("email_placeholder"), class: 'glowing-border' %>
            <%= inline_error @invitation, :email, 'Email'%>

            <%= invitation.submit t('invitations.new.inv_button'), class: 'btn btn-primary' %>
            <%#= invitation.submit 'Invite User', data: { confirm: 'Are you sure?', 'sweet-alert-type': 'question' }, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

