<% provide(:title, 'Log in') %>
<div class="center pr-signup-container pr-container">

  <i class="pr-icon sm padlock1-colored"></i>
  <span class="title"><%= t 'sessions.heading' %></span>

  <div class="row">
    <div class="col-md-12">
      <div class="pr-form-container">
        <%= form_for(:session, url: login_path) do |f| %>
            <%#= render 'shared/error_messages' %>
            <%= f.label User.human_attribute_name("email") %>
            <%= f.email_field :email, class: 'glowing-border' %>

            <%= f.label User.human_attribute_name("password") %>
            <%= f.password_field :password, class: 'glowing-border' %>

            <%= f.label :remember_me, class: 'checkbox inline' do %>
            <%= f.check_box :remember_me %>
            <span><%= User.human_attribute_name("remember_me") %></span>
          <% end %>

          <%= f.submit t('sessions.login_button'), class: 'btn btn-primary' %>

        <% end %>

        <% if request.subdomain.blank? %>
          <p class="new_user_prompt"><%= t('sessions.new_user_prompt') %> <%= link_to t('sessions.sign_up_now'), new_account_url(subdomain: false) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>