<% provide(:title, t('main.title')) %>

<%= render partial: 'shared/breadcrumb', locals: {path: [{:title => 'main.heading', :href => ''}], icon: 'house-colored'} %>

<div class="page-container">
  <div class="container">
    <div class="app-container">

      <div class="row ">
        <div class="col">
          <h2><%= t 'main.options' %></h2>
        </div>
      </div>

      <div class="clearfix mt-3"></div>

      <div class="row">

        <div class="col-md-12 col-lg-6">
          <div class="row">
            <% %w(properties partners clients mapping integrations statistics).each do |entry| %>
              <div class="col-6">
                <%= link_to respond_to?("#{entry}_path") ? send("#{entry}_path") : '', class: 'option-container' do %>
                  <%= content_tag :div, class: 'option' do %>
                    <%= content_tag :i, nil, class: "pr-icon smm #{entry}" %>
                    <%= content_tag :p, t("main.#{entry}") %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-md-12 col-lg-6">
<!--          <div class="row">-->

<!--            <div class="col-6">-->
<!--              <div class="card-metric">-->
<!--                <div class="metric">-->
<!--                  <p class="metric-value h3">-->
<!--                    <sub><i class="oi oi-people"></i></sub> <span class="value">12</span>-->
<!--                  </p>-->
<!--                  <h2 class="metric-label"> Teams </h2>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-6">-->
<!--              <div class="card-metric">-->
<!--                <div class="metric">-->
<!--                  <p class="metric-value h3">-->
<!--                    <sub><i class="oi oi-fork"></i></sub> <span class="value">47</span>-->
<!--                  </p>-->
<!--                  <h2 class="metric-label"> Projects </h2>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->

<!--          <div class="row pt-4">-->

<!--            <div class="col-6">-->
<!--              <div class="card-metric">-->
<!--                <div class="metric">-->
<!--                  <p class="metric-value h3">-->
<!--                    <sub><i class="oi oi-fork"></i></sub> <span class="value">47</span>-->
<!--                  </p>-->
<!--                  <h2 class="metric-label"> Projects </h2>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-6">-->
<!--              <div class="card-metric">-->
<!--                <div class="metric">-->
<!--                  <p class="metric-value h3">-->
<!--                    <sub><i class="oi oi-fork"></i></sub> <span class="value">47</span>-->
<!--                  </p>-->
<!--                  <h2 class="metric-label"> Projects </h2>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->

<!--          <div class="row pt-4">-->

<!--            <div class="col-6">-->
<!--              <div class="card-metric">-->
<!--                <div class="metric">-->
<!--                  <p class="metric-value h3">-->
<!--                    <sub><i class="oi oi-fork"></i></sub> <span class="value">47</span>-->
<!--                  </p>-->
<!--                  <h2 class="metric-label"> Projects </h2>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-6">-->
<!--              <div class="card-metric">-->
<!--                <div class="metric">-->
<!--                  <p class="metric-value h3">-->
<!--                    <sub><i class="oi oi-fork"></i></sub> <span class="value">47</span>-->
<!--                  </p>-->
<!--                  <h2 class="metric-label"> Projects </h2>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->



<!--          </div>-->

                      <div class="chart-container"><%= line_chart @data, @options %></div>
        </div>

      </div>

    </div>

  </div>


</div>

<%= link_to image_tag('rails.png', alt: 'Rails logo'), 'http://rubyonrails.org/' %>


