<% provide(:title, t('main.title')) %>

<%= render partial: 'shared/breadcrumb', locals: {title: 'main.heading', icon: 'house-colored'} %>

<div class="page-container">
  <div class="container">
    <div class="app-container">

      <div class="row ">
        <div class="col">
          <h2><%= t 'main.options' %></h2>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row justify-content-md-center menu-row">


        <% %w(properties users clients integrations).each do |entry| %>
          <div class="col-md-auto">
            <%= link_to respond_to?("#{entry}_path") ? send("#{entry}_path") : '', class: 'option-container' do %>
              <%= content_tag :div, class: 'option' do %>
                <%= content_tag :i, nil, class: "pr-icon smm #{entry}" %>
                <%= content_tag :p, t("main.#{entry}") %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="row">

        <div class="col">
          <div class="placeholder" style=""
               data-large="https://picsum.photos/<%= 100 + Random.rand(700) %>/<%= 100 + Random.rand(700) %>/?random&sig=<%= Random.rand(50) %>">
            <img src="https://cdn-images-1.medium.com/freeze/max/27/1*sg-uLNm73whmdOgKlrQdZA.jpeg?q=20" alt="yolo" class="img-small"/>
            <div style="padding-bottom: 66.6%;"></div>
          </div>
        </div>

        <div class="col">
          <div class="placeholder" style=""
               data-large="https://picsum.photos/500/100/?random&sig=<%= Random.rand(20) %>">
            <img src="https://cdn-images-1.medium.com/freeze/max/27/1*sg-uLNm73whmdOgKlrQdZA.jpeg?q=20" alt="yolo" class="img-small"/>
            <div style="padding-bottom: 20%;"></div>
          </div>
        </div>

        <div class="col">
          <div class="img-placeholder" style="">
               <img class="myimages" src="https://picsum.photos/<%= 100 + Random.rand(700) %>/<%= 100 + Random.rand(700) %>/?random&sig=<%= Random.rand(50) %>" alt="wdfsdf">
          </div>
        </div>

      </div>
<!--        <div class="col-md-auto">-->
<!--          <div class="option-container">-->
<!--            <div class="option">-->
<!--              <i class="pr-icon smm houses"></i>-->
<!--              <p><%#= t 'main.houses' %></p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-auto">-->
<!--          <div class="option-container">-->
<!--            <div class="option">-->
<!--              <i class="pr-icon smm agent-colored"></i>-->
<!--              <p><%#= t 'main.partners' %></p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-auto">-->
<!--          <div class="option-container">-->
<!--            <div class="option">-->
<!--              <i class="pr-icon smm clients"></i>-->
<!--              <p><%#= t 'main.clients' %></p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-auto">-->
<!--          <div class="option-container">-->
<!--            <div class="option">-->
<!--              <i class="pr-icon smm integrations"></i>-->
<!--              <p><%#= t 'main.integrations' %></p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->




      </div>

    </div>
  </div>

  <%= link_to image_tag('rails.png', alt: 'Rails logo'), 'http://rubyonrails.org/' %>


</div>