<% provide(:title, t('main.title')) %>

<%= render partial: 'layouts/breadcrumb', locals: { path: [{ :title => t('main.heading'), :href => '' }], icon: 'house-colored', index: true } %>

<div class="page-container">
  <div class="container">
    <div class="app-container">

      <%# Timeline date (admin only) %>
      <%= content_tag :div, class: "stats", id: "stats_data", data: {
        graph: @graph
      } do %>
      <% end %>

      <%# Pre-rendering of calendar events %>
      <%= content_tag :div, class: "calendar_events", id: "calendar_events", data: {
        cevents: @calendar_events
      } do %>
      <% end %>

      <%# Calendar event routes %>
      <%= content_tag :div, class: "calendar_events", id: "calendar_events_url", data: {
        url: "#{calendar_events_path}.json",
      } do %>
      <% end %>

      <%# Calendar translations %>
      <%= content_tag :div, class: "calendar_events_i18n", id: "calendar_events_i18n", data: {
        ceventsi18n: {
          event: t('event'),
          events: t('events'),
          noEvents: t('no_events'),
          add: t('new_event'),
          eventInfoAddTitle: t('event_info_add_title'),
          eventInfoDeleteTitle: t('event_info_delete_title'),
          eventInfoDeleteBody: t('event_info_delete_body'),
          confirm: t('confirm'),
          no: t('false'),
          cancel: t('cancel')
        }
      } do %>
      <% end %>

      <%= render "accounts/helpers/locale" %>

      <% if current_user.is_admin?(current_account) %>

        <!-- Calendar-->
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="card card-fluid">
              <!-- .card-header -->
              <div class="card-header"><i class="far fa-calendar fa-fw"></i>&nbsp;<%= t('calendar') %>
              </div><!-- .card-body -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-sm-12 justify-content-center">
                    <div id="calendar"></div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div id="events"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Chart.js -->

          <div class="col-md-12 col-lg-4">
            <div class="card card-fluid">
              <div class="card-body">

                <h3 class="card-title mb-4"><%= chart_data?(@graph) ? t('main.chart.title') : t('main.statistics') %></h3>
                <div class="chartjs chart-container">
                  <% if chart_data?(@graph) %>
                    <canvas id="overview-chart" class="chart"></canvas>
                  <% else %>
                    <div style="position: relative; height: 218px;">
                      <div class="chart-masker" style="height: 218px; margin: 0;"></div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div>
              <div class="card card-fluid">
                <div class="card-body">
                  <div class="container-fluid d-flex justify-content-center">
                    <%= link_to users_path, class: "visual-picker visual-picker-sm px-3" do %>
                      <!-- .visual-picker-figure -->
                      <div class="visual-picker-figure">
                        <!-- .visual-picker-content -->
                        <span class="visual-picker-content"><span class="tile tile-sm bg-info"><i class="fas fa-user"></i></span></span> <!-- /.visual-picker-content -->
                      </div><!-- /.visual-picker-figure -->
                      <!-- .visual-picker-peek -->
                      <span class="visual-picker-peek"><%= t('settings.sidebar.partners') %></span>
                    <% end %> <!-- /.visual-picker -->
                    <!-- .visual-picker -->
                    <%= link_to properties_path, class: "visual-picker visual-picker-sm px-3" do %>
                      <!-- .visual-picker-figure -->
                      <div class="visual-picker-figure">
                        <!-- .visual-picker-content -->
                        <span class="visual-picker-content"><span class="tile tile-sm bg-danger"><i class="fas fa-home"></i></span></span> <!-- /.visual-picker-content -->
                      </div><!-- /.visual-picker-figure -->
                      <!-- .visual-picker-peek -->
                      <span class="visual-picker-peek"><%= t('settings.sidebar.properties') %></span>
                    <% end %> <!-- /.visual-picker -->
                    <!-- .visual-picker -->
                    <%= link_to clients_path, class: "visual-picker visual-picker-sm px-3" do %>
                      <!-- .visual-picker-figure -->
                      <div class="visual-picker-figure">
                        <!-- .visual-picker-content -->
                        <span class="visual-picker-content"><span class="tile tile-sm bg-success"><i class="fas fa-users"></i></span></span> <!-- /.visual-picker-content -->
                      </div><!-- /.visual-picker-figure -->
                      <!-- .visual-picker-peek -->
                      <span class="visual-picker-peek"><%= t('settings.sidebar.clients') %></span>
                    <% end %> <!-- /.visual-picker -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div> <!-- row end -->

      <% else %>
        <div class="row">
          <div class="col-lg-8 offset-lg-2 col-12">
            <div class="card">
              <!-- .card-header -->
              <div class="card-header"><i class="far fa-calendar fa-fw"></i>&nbsp;<%= t('calendar') %>
              </div><!-- .card-body -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-sm-12 justify-content-center">
                    <div id="calendar"></div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div id="events"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <div class="btn-group" role="group" aria-label="Basic example">
                <a href="<%= clients_path %>" type="button" class="btn btn-secondary "><i class="fas fa-user fa-fw"></i>&nbsp;<span class="d-none d-sm-inline"><%= t('main.clients') %></span>
                </a>
                <a href="<%= properties_path %>" type="button" class="btn btn-secondary"><i class="fas fa-home fa-fw"></i>&nbsp;<span class="d-none d-sm-inline"><%= t('main.properties') %></span>
                </a>
              </div>
              <%= link_to new_property_path, class: 'ml-2 btn btn-outline-danger' do %>
                <i class="far fa-plus-square mr-1"></i>&nbsp;<span><%= t('main.welcome.button_prompt_add_alt') %></span>
              <% end %>
            </div>

          </div>
        </div>
        </div>

      <% end %>


      </div>
</div>

<%#= link_to 'DEMO', 'demo' %>


