<% content_for(:nested_settings_header) do %>
  <%= t('settings.sidebar.integrations.title') %>
<% end %>

<% content_for(:integrations) do %>
  <h2><%= t('settings.sidebar.integrations.spitogatos.credentials_title') %></h2>
  <div class="col-12 col-lg-6 offset-lg-3 py-4 table-responsive">

    <table class="table table-striped">
      <tr>
        <td><%= t('settings.sidebar.integrations.spitogatos.broker_id') %>:</td>
        <td><%= @spitogatos.broker_id %></td>
      </tr>
      <tr>
        <td><%= t('settings.sidebar.integrations.spitogatos.username') %>:</td>
        <td><%= @spitogatos.username %></td>
      </tr>
      <tr>
        <td><%= t('settings.sidebar.integrations.spitogatos.password') %>:</td>
        <td><%= @spitogatos.password %></td>
      </tr>
    </table>

    <div class="spitogatos-sync-result-container pt-3 text-center">
      <span id="spitogatos-sync-result"
            data-unknown-msg="<%= t('settings.sidebar.integrations.spitogatos.status.unknown') %>"
            class="">
      </span>
      <p id="spitogatos-success-feedback" class="d-none"><%= t('settings.sidebar.integrations.spitogatos.feedback_html', properties_url: properties_path) %></p>
    </div>
  </div>

  <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseInstructions" aria-expanded="false" aria-controls="collapseInstructions">
    <%= t('settings.sidebar.integrations.spitogatos.instructions.show.title_caps') %>&nbsp; <i class="fas fa-book-reader fa-md fa-fw"></i>
  </button>

  <div class="pt-2">
      <div class="collapse" id="collapseInstructions">
        <div class="instructions-wrapper">
          <div class="d-inline text-center mt-5">
            <h3><u></u></h3>
          </div>
        <%= t('settings.sidebar.integrations.spitogatos.instructions.show.body_html', brandname: BRANDNAME, support_url: settings_chat_index_path ) %>
      </div>
    </div>
  </div>

  <hr/>

  <div class="form-actions">
    <button id="spitogatos-config-check"
            class="btn btn-outline-danger mr-auto"
            data-remote-path="<%= settings_integrations_validate_spitogatos_config_path(@spitogatos) %>"><%= t('settings.sidebar.integrations.spitogatos.check') %>
    </button>

    <%= link_to t('settings.sidebar.integrations.spitogatos.edit'), edit_settings_integrations_spitogato_path(@spitogatos), class: 'btn btn-outline-primary ml-auto' %>
  </div>

<% end %>