<%= form_for @model_type, html: {class: 'validatable'} do |f| %>
  <div class="col-lg-8 offset-lg-2 col-md-12">

    <% if @model_type.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@model_type.errors.count, "error") %> prohibited this product_type from being saved:</h2>
        <ul>
          <% @model_type.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="form-label-group">
        <%= f.select :id, options_from_collection_for_select(ModelType.all, :id, :localized_name, @model_type.id), {}, class: 'form-control custom-select', disabled: true %>
        <%= f.label :name %>
        <small class="form-text text-muted"><%= t('cfields.category_feedback') %></small>
      </div>
    </div>
    <hr/>

    <div class="form-group">
      <%= f.fields_for :fields do |builder| %>
        <%= render 'accounts/model_types/field_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields t('cfields.add_field'), f, :fields %>
    </div>

    <div class="actions">
      <%= f.submit t('cfields.submit'), class: 'btn btn-primary ml-auto' %>
    </div>

  </div>


<% end %>
