<% provide(:title, 'User Registration') %>
<div class="center pr-signup-container pr-container">

  <i class="pr-icon sm add-user-colored"></i>
  <span class="title">Signup</span>

  <div class="row">
    <div class="col-md-12">
      <div class="pr-form-container">
      <%= form_for(@user) do |f| %>
        <%#= render 'shared/error_messages' %>

        <%= f.label :first_name %>
        <%= f.text_field :first_name, placeholder: 'i.e. John', class: 'glowing-border form-control' %>
        <%= inline_error :first_name, 'First name'%>


        <%= f.label :last_name %>
        <%= f.text_field :last_name, placeholder: 'i.e. Doe', class: 'glowing-border form-control' %>
        <%= inline_error :last_name, 'Last name'%>

        <%= f.label :email %>
        <%= f.email_field :email, placeholder: 'i.e. jdoe@example.com', class: 'glowing-border form-control' %>
        <%= inline_error :email, 'Email'%>

        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'Please use at least 6 characters', class: 'glowing-border form-control' %>
        <%= inline_error :password, 'Password'%>

        <%= f.label :password_confirmation, 'Password confirmation' %>
        <%= f.password_field :password_confirmation, placeholder: 'Retype your password', class: 'glowing-border form-control' %>
        <%= inline_error :password_confirmation, 'Password confirmation'%>

        <%= f.submit 'Create account', class: 'btn btn-primary' %>
      <% end %>
      </div>
    </div>
  </div>
</div>