<% provide(:title, t('accounts.switch')) %>

<% content_for :heading do %>
  <p> <%= t('accounts.switch') %></p>
<% end %>

<!-- .Content section -->
<% content_for :content do %>
  <div class="auth-form auth-form-special centered-title">
    <i class="pr-icon md account-switch"></i>
    <div class="vertical-spacer"></div>
    <h2><%= t('accounts.switch_heading') %></h2>
    <div class="vertical-spacer"></div>

    <div class="table-responsive">
      <!-- .table -->
      <table class="table table-hover">
        <thead class="thead-">
        <tr>
          <th><%= t 'accounts.domain' %></th>
          <th><%= t 'accounts.role' %></th>
        </tr>
        </thead>
        <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td>
              <%= link_to account_switch_url(subdomain: account.subdomain) do %>
                <%= account.subdomain %>
              <% end %></td>
            <td><span class="label"><%= t "navbar.account.type.#{current_user.role(account)}" %></span></td>
          </tr>
        <% end %>
        </tbody>
      </table><!-- /.table -->
    </div>

  </div>
<% end %>




