<% content_for :landing do %>

  <!-- .app -->
  <main class="app hidden-x-overflow app-site website ">
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a
      class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and
      security.
    </div>
    <![endif]-->
    <!-- site header -->
    <!-- .navbar -->
    <nav class="navbar navbar-expand-lg navbar-light py-4">
      <!-- .container -->
      <div class="container">
        <!-- .hamburger -->
        <button class="hamburger hamburger-squeeze hamburger-light d-flex d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /.hamburger -->
        <!-- .navbar-brand -->
        <a class="navbar-brand ml-auto mr-0" href="#">
          <svg width="180" height="61" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <rect fill="#47555E" fill-rule="nonzero" width="180" height="52.519" rx="26.259"/>
              <path d="M56.303 16.157h122.544v18.404H56.303z"/>
              <g fill="#EEE" fill-rule="nonzero">
                <path d="m71.455 32.229-3.1 1.08a43.742 43.742 0 0 0-1.282-1.825c-.613-.841-1.526-2.096-2.738-3.765l.047-.192c.191-.044.439-.143.743-.296a2.82 2.82 0 0 0 .755-.534c.216-.23.375-.461.478-.696.103-.236.155-.533.155-.892 0-.352-.086-.668-.259-.947a1.576 1.576 0 0 0-.71-.622 2.719 2.719 0 0 0-.767-.212 6.487 6.487 0 0 0-.775-.047 19.163 19.163 0 0 0-.474.005c-.006.624-.01 1.294-.015 2.007-.005.714-.007 1.404-.007 2.07 0 1.04.004 2.113.01 3.223l.016 2.471h-3.288c.003-.49.009-1.184.017-2.08.009-.895.013-2.284.013-4.167a692.368 692.368 0 0 0-.03-5.848c.204 0 .573-.006 1.108-.016.535-.01 1.04-.016 1.514-.016.978 0 1.81.027 2.495.079a7.945 7.945 0 0 1 1.924.378c.875.28 1.52.695 1.938 1.245.417.55.626 1.161.626 1.834 0 .749-.198 1.394-.595 1.936-.396.541-.814.952-1.255 1.232v.056a90.473 90.473 0 0 0 1.81 2.3 25.68 25.68 0 0 1 1.646 2.239ZM80.431 28.505h-6.079c.003.431.127.828.371 1.19.245.362.623.654 1.134.877.362.154.74.262 1.133.325.394.063.815.095 1.265.095.386 0 .717-.005.992-.015l.625-.024-.299 2.13a18.894 18.894 0 0 1-1.677.067c-1.048 0-1.986-.114-2.814-.342-.828-.228-1.537-.58-2.125-1.058a4.47 4.47 0 0 1-1.185-1.493 4.275 4.275 0 0 1-.44-1.93c0-.705.107-1.331.321-1.878.215-.546.572-1.071 1.071-1.575.41-.417.916-.736 1.516-.958a5.225 5.225 0 0 1 1.825-.333c.658 0 1.247.093 1.768.279.52.186.967.464 1.34.835.444.446.763.98.96 1.6.196.622.295 1.357.298 2.208Zm-2.83-1.254c-.045-.56-.206-1.007-.483-1.34-.278-.334-.665-.5-1.163-.5-.489 0-.887.163-1.195.49-.307.327-.506.777-.597 1.35h3.438ZM89.389 28.329a1102.377 1102.377 0 0 1-.008 4.736c-.107.01-.517.038-1.229.082-.712.045-1.44.067-2.181.067-.504 0-1.092-.043-1.766-.128-.673-.086-1.232-.224-1.675-.413-.562-.24-.999-.56-1.31-.958a2.187 2.187 0 0 1-.465-1.385c0-.574.163-1.064.49-1.471.325-.407.844-.744 1.556-1.01.482-.18 1.07-.32 1.761-.418a26.602 26.602 0 0 1 1.789-.203c-.017-.299-.095-.543-.235-.733-.14-.19-.386-.338-.74-.446a3.851 3.851 0 0 0-.774-.155c-.287-.03-.628-.045-1.023-.045-.371 0-.69.006-.955.017-.265.012-.54.023-.825.034l.257-2.185c.13-.002.32-.007.573-.014.252-.007.613-.01 1.085-.01 1.08 0 1.969.09 2.665.273.695.183 1.283.482 1.762.898.441.383.76.843.955 1.38.195.537.293 1.232.293 2.087Zm-2.87 1.567v-.66c0-.246 0-.494-.003-.744-.16.007-.433.038-.82.096-.387.058-.74.156-1.056.295a1.76 1.76 0 0 0-.595.435 1.022 1.022 0 0 0-.272.718c0 .317.081.57.243.758.162.189.37.333.623.432.182.072.39.126.621.161a5.007 5.007 0 0 0 .98.05l.276-.01.002-.538.002-.993ZM94.32 33.057h-3.045l.014-2.64a759.662 759.662 0 0 0 .005-7.211c-.005-1.088-.011-2.219-.02-3.391h3.046l-.017 3.106a594.12 594.12 0 0 0 .004 7.176c.008 1.16.013 2.146.013 2.96ZM102.823 30.977l-.277 2.149c-.099.01-.247.017-.446.023a30.62 30.62 0 0 1-.84.008c-1.483 0-2.605-.28-3.367-.842-.762-.562-1.143-1.403-1.143-2.523 0-.72.004-1.364.011-1.93.007-.565.01-1.195.01-1.888h-1.47V23.82h1.535v-2.469h2.945v2.47h2.997v2.152H99.78c0 .138-.002.38-.008.725a55.172 55.172 0 0 0-.006 1.563l.002.833c0 .632.174 1.104.523 1.417.349.313 1.019.47 2.01.47a20.58 20.58 0 0 0 .521-.005ZM112.988 28.447c0 .703-.131 1.372-.392 2.006a4.598 4.598 0 0 1-1.189 1.67c-.44.398-.945.696-1.515.893a5.602 5.602 0 0 1-1.846.296 5.665 5.665 0 0 1-1.84-.297 4.411 4.411 0 0 1-1.526-.878 4.636 4.636 0 0 1-1.171-1.65 5.174 5.174 0 0 1-.411-2.048c0-.72.118-1.37.354-1.95.235-.58.599-1.108 1.09-1.586.449-.434.97-.762 1.566-.985a5.443 5.443 0 0 1 1.927-.335c.691 0 1.325.102 1.901.306a4.402 4.402 0 0 1 1.554.954c.499.47.873 1.006 1.123 1.606.25.601.375 1.267.375 1.998Zm-3.017.04c0-.402-.058-.802-.173-1.2a2.325 2.325 0 0 0-.561-.994 1.521 1.521 0 0 0-.535-.354 1.768 1.768 0 0 0-.662-.125c-.269 0-.5.043-.694.128a1.725 1.725 0 0 0-.565.426c-.217.234-.382.542-.496.923-.114.382-.17.763-.17 1.145 0 .438.056.842.17 1.212.112.37.304.69.573.96.155.159.334.277.539.356a1.78 1.78 0 0 0 1.333-.02 1.57 1.57 0 0 0 .554-.388c.222-.241.392-.548.51-.92a3.78 3.78 0 0 0 .177-1.15ZM121.393 26.077a40.58 40.58 0 0 0-1.672.587c-.59.22-1.377.56-2.363 1.016 0 .17-.001.436-.004.8a152.734 152.734 0 0 0 .008 3.212c.009.747.013 1.202.013 1.365h-3.046c0-.2.005-.686.013-1.457a269.519 269.519 0 0 0 .004-5.04l-.017-2.739h2.982l-.015 1.316.024.014c.551-.359 1.147-.695 1.788-1.008.64-.313 1.136-.526 1.487-.64l.798 2.574ZM131.664 25.288c0 .9-.245 1.684-.735 2.35-.49.667-1.162 1.171-2.015 1.514a6.941 6.941 0 0 1-1.692.463c-.647.1-1.27.152-1.868.156l.013 3.286h-3.29c.003-.577.008-1.338.017-2.283a503.197 503.197 0 0 0 .004-6.73c-.005-.975-.012-2.002-.021-3.082a368 368 0 0 0 .995-.011c.371-.005.723-.007 1.057-.007 1.332 0 2.373.055 3.123.165a6.97 6.97 0 0 1 2.002.583c.768.347 1.361.825 1.78 1.434.42.609.63 1.33.63 2.162Zm-3.354.227c0-.428-.093-.806-.277-1.132a1.991 1.991 0 0 0-.843-.784 2.362 2.362 0 0 0-.826-.259 7.43 7.43 0 0 0-.887-.052h-.252c0 .089-.002.421-.008.998a153.107 153.107 0 0 0-.006 2.718l.002.841h.269c.26 0 .55-.026.87-.078.32-.052.585-.135.794-.247.381-.196.67-.449.868-.758.197-.309.296-.724.296-1.247ZM148.322 32.64l-3.168.587-1.399-7.69h-.057c-.152.376-.47 1.165-.95 2.365-.482 1.2-.976 2.5-1.482 3.899h-2.45a84.736 84.736 0 0 0-1.512-3.974 136.51 136.51 0 0 1-.932-2.295h-.057c-.064.315-.25 1.261-.559 2.84a229.414 229.414 0 0 0-.891 4.847l-3.069-.57a316.61 316.61 0 0 0 1.576-7.605c.432-2.24.687-3.55.766-3.93l3.2-.311c.082.263.388 1.106.918 2.529.529 1.423 1.138 3.014 1.827 4.772h.072a592.642 592.642 0 0 0 2.83-7.301l3.28.267c.037.228.245 1.45.624 3.664.378 2.215.856 4.85 1.433 7.907ZM158.01 29.502c0 .673-.177 1.25-.532 1.73-.355.481-.836.878-1.443 1.192-.534.278-1.202.483-2.003.615-.802.133-1.594.2-2.376.2-.597 0-1.118-.01-1.564-.03-.446-.021-.75-.037-.913-.047l-.324-2.657c.077.01.36.027.847.051.488.025.903.037 1.245.037.28 0 .617-.02 1.013-.062.397-.041.734-.1 1.012-.174.371-.1.629-.232.773-.395a.876.876 0 0 0 .217-.602c0-.26-.08-.48-.242-.66-.161-.18-.44-.368-.836-.565-.24-.124-.568-.281-.986-.471a9.128 9.128 0 0 1-1.062-.56c-.574-.355-.987-.755-1.24-1.199a2.941 2.941 0 0 1-.38-1.483c0-.44.088-.84.265-1.201.177-.36.413-.67.707-.928.49-.466 1.17-.828 2.04-1.085.868-.257 1.899-.386 3.09-.386.562 0 1.027.007 1.396.023.369.015.609.028.72.038l.343 2.66c-.17-.009-.407-.024-.711-.047a15.533 15.533 0 0 0-1.138-.033c-.336 0-.653.021-.95.062a5.663 5.663 0 0 0-.874.192c-.26.076-.465.19-.617.34a.754.754 0 0 0-.227.556c0 .216.083.414.25.593.167.179.447.37.841.575.28.139.598.289.952.45.353.16.702.343 1.046.548.554.335.97.726 1.247 1.172.276.446.415.963.415 1.55Z"/>
              </g>
              <g>
                <path d="M26 2c13.255 0 24 10.745 24 24S39.255 50 26 50 2 39.255 2 26 12.745 2 26 2" fill="#FCF5A2"/>
                <path d="M44.472 25.376a4.01 4.01 0 0 1 .572.52.425.425 0 0 1 .094.162h.002c.002.007.738 2.252-1.722 3.76l.012.032c.099.272.116.91-.003 1.683a9.375 9.375 0 0 1-.75 2.496c-.865 1.855-2.184 3.579-4.98 3.195.81 2.304 1.646 6.043.002 8.974-.75 4.552-2.015 6.419-2.767 7.154.894.517 2.603 1.515 3.134 1.9.671.489.681 1.137.016 1.538-.282.169-.659.276-.907.328-3.295.691-5.522-.696-5.994-1.027-.545-.088-.994-.296-1.314-.595-.782-.73-.599-1.794-.281-2.455-.283-.311-.334-.724-.396-1.254l-.013-.11c-.099-.815-.738-1.733-1.071-2.165-2.497 1.271-4.292 4.082-4.391 4.24a.437.437 0 0 1-.106.118 8.847 8.847 0 0 1-.295.217c.032.53.075 1.759-.17 2.2-.259.465-1.267 1.47-2.478 2.316-1.38.964-2.862 1.63-4.465 1.573-2.5-.091-2.531-2.301-.694-3.016.859-.335 1.194-1.354 1.55-2.236-.28-.107-.464-.2-.528-.234a.427.427 0 0 1-.246-.399l.186-6.536c-2.64 1.127-7.101 1.604-7.748-1.976-.26-1.43-.153-2.676.104-3.675.434-1.69 1.387-2.727 1.764-2.812.307-.07 1.467-.021 2.396.033a3.722 3.722 0 0 1-.123-.151c-.912-1.198-.504-2.191-.178-2.868.473-.983 3.554-5.862 4.548-7.43-3.393-1.058-5.812-3.115-5.514-8.299.108-1.875.412-2.343-.066-4.776-.188-.957.126-2.257.937-3.71-4.95-.808-3.184-5.539-.76-6.145 1.813-.453 3.06 1.514 3.577 2.541 1.645-1.637 3.824-3.294 6.529-4.751l1.096-.518-.521 1.102-.456.825 4.248-2.694-1.627 3.051 3.919-2.195-1.645 2.808c.91.076 2.874.334 4.78 1.196.288-1.046 1.111-3.248 2.914-3.111.746.056 1.528.51 2.08 1.17.345.412.605.908.716 1.442a2.673 2.673 0 0 1-.189 1.696c-.301.653-.897 1.28-1.89 1.798.226.36.422.749.583 1.172.659 1.737 1.035 2.844 1.316 3.672.485 1.428.75 2.198 1.783 3.936.215.343 2.388 4.178-4.897 8.561.366.553 1.205 1.617 2.49 2.088.76.279 1.165.202 1.385-.04.249-.272.353-.78.438-1.264 0-.2.07-.65.708-.494.014-.274 0-.693-.103-1.295-.227-1.32-.202-2.099-.047-2.477.142-.348.38-.49.675-.466.214.018.425.147.617.36.248.277.467.7.627 1.226.76-.782 2.26-2.177 3.48-2.41.343-.067.598-.06.783.001.284.094.427.283.464.542.025.175-.018.368-.11.566-.18.393-.579.874-.946 1.258a9.035 9.035 0 0 1-.134.134" fill="#231614"/>
                <path d="M13.244 11.043c.095-.137.193-.276.297-.415-.222-.88-.652-1.379-.87-1.585-.194-.185.033-.555.29-.435.3.14.847.486 1.2 1.234a15.306 15.306 0 0 1 .614-.7c-.317-.71-1.345-2.715-2.738-2.367-.938.235-1.604 1.271-1.567 2.316.056 1.517 1.558 1.83 2.774 1.952" fill="#AF502E"/>
                <path d="M13.244 11.043c.095-.137.193-.276.297-.415-2.343-.792-2.402-3.313-.664-3.788a1.337 1.337 0 0 0-.84-.065c-.938.235-1.604 1.271-1.567 2.316.056 1.517 1.558 1.83 2.774 1.952" fill="#8F4229"/>
                <path d="M25.362 7.493 26.53 5.38l-2.598 1.518V6.9l-1.427.825 1.741-3.11-3.046 2.08h-.001l-.106.072-1.39.94 1.314-2.465c-2.574 1.55-4.576 3.268-5.999 4.909-1.919 2.213-2.77 4.245-2.526 5.486.504 2.564.533 2.486.422 4.43-.396 6.894 4.393 7.856 9.806 8.667 1.826.274 4.193.954 5.579.99.837.02 1.48.056 1.743-.2.734-.712 2.335-1.858 2.34-1.861a.458.458 0 0 1 .05-.03c8.11-4.281 6.059-7.795 5.868-8.124-1.112-1.91-1.312-2.499-1.85-4.084a98.933 98.933 0 0 0-1.307-3.646c-1.698-4.476-8.313-4.818-8.95-4.84l-.831.554" fill="#AF502E"/>
                <path fill="#8F4229" d="M25.362 7.493 26.53 5.38l-.969.566v.001l-.199 1.546M22.505 7.725l1.741-3.111-1.205.823-.536 2.288M19.704 7.708l1.314-2.466c-.272.164-.538.33-.797.497l-.517 1.969M26.59 17.808s1.916-1.868 4.171-.256c2.256 1.612-3.732 2.628-4.172.256M18.973 22.269s-.089-2.494 1.731-4.357c0 0-1.053-1.926.126-4.25 1.18-2.324 1.802-1.254 2.572 1.916.772 3.17-2.762 3.148-4.43 6.69"/>
                <path d="M12.492 15.637c.504 2.564.533 2.486.422 4.43-.396 6.894 4.393 7.856 9.806 8.667 1.826.274 4.193.954 5.579.99.837.02 1.48.056 1.743-.2.16-.155.362-.331.58-.512 0 0-5.024-3.005-5.994-.81 0 0-8.239-1.638-9.31-5.365-1.07-3.725-2.237-5.167-2.826-7.2" fill="#8F4229"/>
                <path d="m21.083 34.071-1.187-.334-.007 3.344.103.028-.014-2.657a.428.428 0 0 1 .53-.448l.57.142.005-.075M22.97 34.605l-1.046-.296-.03.426.997.381.079-.511" fill="#FFFFFE"/>
                <path d="M24.93 36.717c.07.017.14.037.214.06l.16-1.514-1.506-.425-.006.036.969.39a.427.427 0 0 1 .264.456l-.094.997" fill="#C7C6C1"/>
                <path d="M21.935 37.871c.128-.084.26-.204.4-.331.449-.405.95-.859 1.746-.91l.066-.692-.49-.197a.428.428 0 0 1-.578.362l-1.785-.681a.429.429 0 0 1-.276-.41l-.183-.045.011 2.422c.429.161.802.334 1.09.482" fill="#FFFFFE"/>
                <path d="M21.935 37.871c.128-.084.26-.204.4-.331.449-.405.95-.859 1.746-.91l.066-.692-.49-.197c.224.44.002.663.002.663-1.146.257-1.8 1.135-1.8 1.135l-1.013-.15c.429.161.802.334 1.09.482" fill="#C7C6C1"/>
                <path d="M25.65 38.661a.473.473 0 0 0 .068-.257.682.682 0 0 0-.11-.338 1.155 1.155 0 0 0-.308-.322c-1.303-.556-1.894-.022-2.392.428-.95.859-.638.707-1.237 1.876-.224.439.077.75.199.852.227.058.966.212 1.437-.137.793-.586 1.258-.21 1.58.23l.03.038c.234-.798-.544-1.18-1.093-1.33a.204.204 0 0 1-.149-.231l.01-.058a.2.2 0 0 1 .087-.137.2.2 0 0 1 .16-.031c.636.14 1.075.29 1.357.52l.024.02a.47.47 0 0 0 .008-.159c0-.5-.878-.89-1.304-1.026a.205.205 0 0 1-.14-.228l.003-.025a.201.201 0 0 1 .084-.136.202.202 0 0 1 .156-.035c.494.09 1.103.188 1.53.486" fill="#AF502E"/>
                <path d="M22.86 38.216c-.892.81-.6.683-1.189 1.832-.224.439.077.75.199.852.227.058.966.212 1.437-.137.793-.586 1.258-.209 1.58.23l.03.038c-.76-2.352-3.722 1.016-2.057-2.815" fill="#8F4229"/>
                <path d="m21.217 33.22-3.459-3.58c-1.142 1.804-3.872 6.138-4.305 7.037-.23.48-.52 1.179.089 1.978.712.935 2.51 2.027 6.56 3.185a.505.505 0 0 1 .063.024c.083.03.558.164.978-.487-.29-.322-.638-.924-.231-1.717.237-.464.399-.85.497-1.105-.721-.39-2.509-1.33-3.641-1.724.423-.024.85.005 1.268.07l.009-3.729a.427.427 0 0 1 .542-.41v-.001l1.63.46" fill="#363735"/>
                <path d="m21.217 33.22-3.459-3.58c-1.142 1.804-3.872 6.138-4.305 7.037-.23.48-.52 1.179.089 1.978.712.935 2.51 2.027 6.56 3.185a.505.505 0 0 1 .063.024c.083.03.558.164.978-.487-.29-.322-.638-.924-.231-1.717.237-.464.399-.85.497-1.105-1.683 1.026-1.144 2.7-1.144 2.7-2.184-.576-6.788-1.906-6.081-4.197.706-2.292 3.619-5.868 4.154-4.605.536 1.264.698 4.448.698 4.448l.009-3.729a.427.427 0 0 1 .542-.41v-.001l1.63.46" fill="#272827"/>
                <path d="m16.527 45.738.119-4.158c-1.122-.452-1.965-.897-2.594-1.327-.501-.042-2.575-.21-2.933-.128-1.24.281-1.587 3.741-1.385 4.858.54 2.987 4.716 1.758 6.793.755" fill="#48281B"/>
                <path d="m16.527 45.738.06-2.08s-6.518 2.176-6.377-2.512c-.494 1.188-.615 3.068-.477 3.837.54 2.987 4.717 1.758 6.794.755" fill="#3E251A"/>
                <path d="M17.874 55.174c-.441 1.057-.787 2.287-2.06 2.782-.962.375-1.147 1.31.417 1.366 1.403.051 2.717-.559 3.947-1.418 1.76-1.23 2.053-1.755 2-3.157a6.515 6.515 0 0 1-4.304.427M30.567 53.543c-.289.7.063 1.488 1.02 1.61.078.01.149.041.207.086.007.005 1.875 1.742 5.207 1.043a2.14 2.14 0 0 0 .675-.246c-.306-.297-3.083-1.893-3.632-2.207-1.694-.02-2.778-.11-3.477-.286" fill="#363735"/>
                <path d="M30.567 53.543c-.289.7.063 1.488 1.02 1.61.078.01.149.041.207.086.004.003.873.81 2.48 1.103-.042-.017-1.901-.814-2.039-1.725 0 0 1.691-.28 1.81-.788-1.695-.02-2.779-.11-3.478-.286M16.944 59.292c1.138-.135 2.215-.676 3.234-1.388 1.76-1.23 2.053-1.755 2-3.157a6.515 6.515 0 0 1-4.304.427c.479.88 2.07.974 2.07.974.127 1.508-2.993 3.142-3 3.144" fill="#272827"/>
                <path d="M30.832 46.217c-.284.49-.65.827-1.163 1.05-.96.418-2.38.358-4.787.126-3.537-.34-6.283-1.748-7.478-2.461l-.26 9.109c.753.333 3.002.928 5.63-1.06.73-1.126 3.658-4.571 6.725-3.977-.262.057-.52.135-.772.232.31.299 1.164 1.216 1.3 2.34l.012.11c.105.887.125.817 3.99.86.31-.17 1.459-.733 2.362-5.652-.56.163-1.158.262-1.57.327-.965.151-1.922.218-2.594.255-.803.045-1.202-.541-1.395-1.26" fill="#363735"/>
                <path d="M29.509 47.33c-.958.348-2.351.282-4.627.063-3.537-.34-6.283-1.748-7.478-2.461l-.104 3.646.631-1.842s7.244 2.324 11.578.595ZM28.727 49.236c.31.299 1.164 1.216 1.3 2.34l.012.11c.105.887.125.817 3.99.86.31-.17 1.459-.733 2.362-5.652-.56.163-1.158.262-1.57.327-.965.151-1.922.218-2.594.255-.803.045-1.202-.541-1.395-1.26-.45 2.778 4.006 1.72 4.006 1.72.018.716-.608 2.971-.887 3.367-.278.396-3.314.875-3.412-.136-.097-1.012-1.812-1.931-1.812-1.931" fill="#272827"/>
                <path d="M17.144 54.04c.753.334 3.002.929 5.63-1.06.73-1.125 3.658-4.57 6.725-3.976-4.526-1.525-7.552 3.472-7.552 3.472-1.35 1.5-4.803 1.565-4.803 1.565" fill="#272827"/>
                <path d="M30.658 41.086c-1.376-2.513-3.646-3.82-4.656-4.304l-.042.397c.152.133.277.281.375.439.15.242.231.505.237.77.006.274-.069.543-.234.784a1.476 1.476 0 0 1-.189.223c.01.041.017.085.022.13.06.496-.195.912-.378 1.14a1.712 1.712 0 0 1-.234 1.02 1.013 1.013 0 0 1-.267.296l-.426 3.113a.427.427 0 0 1-.576.357l-5.653-2.142a.427.427 0 0 1-.271-.468l.099-.605a30.224 30.224 0 0 1-.974-.334l-.039 1.333c2.258 1.57 5.09 2.87 8.077 3.11 2.195.177 4.58.364 5.15-2.282.07-.82.04-1.945-.02-2.977" fill="#363735"/>
                <path d="M30.658 41.086c-1.376-2.513-3.646-3.82-4.656-4.304 1.497 1.267 3.964 3.766 3.58 6.207-.386 2.442-4.741 2.213-4.741 2.213a.427.427 0 0 1-.55.25l-5.654-2.143a.427.427 0 0 1-.271-.468l.099-.605a30.126 30.126 0 0 1-.974-.334l-.039 1.333c2.258 1.57 5.09 2.87 8.077 3.11 2.195.177 4.58.364 5.15-2.282.07-.82.04-1.945-.02-2.977" fill="#272827"/>
                <path d="M26.097 35.888c.77.341 2.828 1.389 4.43 3.45a57.99 57.99 0 0 0-.088-.889c-1.456-2.532-8.249-8.013-9.102-8.696a48.35 48.35 0 0 1-1.896-.33l3.426 4.263 3.015.852c.209.059.337.26.309.468l-.094.882" fill="#363735"/>
                <path d="M21.337 29.753a48.35 48.35 0 0 1-1.896-.33l3.426 4.263 2.987.844-4.517-4.777Zm4.76 6.135c.466.206 1.401.67 2.422 1.46l-2.33-2.463a.42.42 0 0 1 .002.121l-.094.882Z" fill="#272827"/>
                <path d="m34.858 29.687.81 2.305a.426.426 0 0 1-.516.558l-.582-.162 1.11 1.406a.427.427 0 0 1 0 .544l-4.283 5.142c.11 1.26.24 3.23.14 4.56l-.004.099a9.394 9.394 0 0 0-.002.973c0 1.762 3.718 1.242 4.793.376 2.55-2.054.561-7.854.478-10.388.003.005.241.456.545 1.2 3.296.501 5.487-2.912 5.313-5.948a3.478 3.478 0 0 1-1.124-.224c-.892-.317-1.654-.602-2.316-1.265-.107.617-.153.955-.567 1.409-.449.491-1.147.693-2.313.266a5.287 5.287 0 0 1-1.482-.851" fill="#363735"/>
                <path d="M37.347 36.3c3.296.501 5.487-2.912 5.313-5.948a3.478 3.478 0 0 1-1.124-.224c-.892-.317-1.654-.602-2.316-1.265-.107.617-.153.955-.567 1.409-.449.491-1.147.693-2.313.266a5.287 5.287 0 0 1-1.482-.851c2.375 2.575 4.584.56 4.584.56.341.784 1.617 1.393 1.617 1.393.086 4.218-3.712 4.66-3.712 4.66M35.68 34.338l-4.283 5.142c.11 1.26.24 3.23.14 4.56l-.004.099a9.394 9.394 0 0 0-.002.973c0 1.762 3.718 1.242 4.793.376 2.517-2.027.612-7.704.483-10.288.036.89.256 7.463-1.101 8.422-1.456 1.027-3.727 1.456-3.127-3.812l3.1-5.472" fill="#272827"/>
                <path d="m31.371 38.178 3.432-4.12-1.713-2.17a.427.427 0 0 1 .448-.675l1.054.294-1.202-3.424c-.171.096-.346.192-.527.288l-.098.07c.636 4.127-.932 8.555-1.394 9.737" fill="#363735"/>
                <path d="m33.538 31.213 1.054.294-1.202-3.424a31.35 31.35 0 0 1-.527.288l-.098.07s.725 1.704.773 2.772" fill="#272827"/>
                <path d="M42.971 26.138c.274.142.782.502 1.324 1.365.153-.505.09-.93.05-1.105a3.033 3.033 0 0 0-.098-.096c-.314-.296-.632-.488-.903-.569-.184-.055-.321-.06-.377-.008-.007.006.006-.005-.002.003-.094.1-.044.288.006.41" fill="#8F4229"/>
                <path d="M42.31 28.56c-.308-.396-.957-1.422-.166-2.226-.099-.322-.158-.814.199-1.192a1.41 1.41 0 0 1 .045-.043c.292-.27.723-.329 1.2-.186.034.01.068.021.101.034.12-.116.251-.245.299-.295.296-.31.612-.681.76-.966a2.314 2.314 0 0 0-.172.028c-1.272.244-3.068 2.192-3.425 2.592v.008l-.462.524a6.32 6.32 0 0 0-.244-1.017l-.004-.005.003-.003c-.212-.662-.505-1.272-.691-1.086-.035.329.003.895.153 1.771.15.87.123 1.462.074 1.807.114.068.236.146.367.236.556.38 1.052.631 1.473.78.162.058.31.1.443.13.737-.317 1.226-.692 1.547-1.071-1.281-2.427-1.564-.792-1.138-.072a.204.204 0 0 1-.043.26l-.023.02a.202.202 0 0 1-.155.05.201.201 0 0 1-.142-.079" fill="#AF502E"/>
                <path d="M42.31 28.56c-.308-.396-.957-1.422-.166-2.226-1.2.602-.679 1.997-.679 1.997-.92-.514-1.485-.026-1.485-.026.114.068.236.146.367.236.556.38 1.052.631 1.473.78.162.058.31.1.443.13.737-.317 1.226-.692 1.547-1.071-1.281-2.427-1.564-.792-1.138-.072a.204.204 0 0 1-.043.26l-.023.02a.202.202 0 0 1-.155.05.201.201 0 0 1-.142-.079" fill="#8F4229"/>
                <path d="M29.28 30.896a.515.515 0 1 0-.726.73.515.515 0 0 0 .727-.73M31.256 35.824l-1.666-3.37c-.076.043-.158.08-.243.107l.032 3.228c.542.57 1.016 1.114 1.376 1.6.143-.396.322-.931.5-1.565" fill="#C7C6C1"/>
                <path d="m29.364 34.274.015 1.515c.542.57 1.016 1.114 1.376 1.6.143-.396.322-.931.5-1.565l-1.891-1.55" fill="#ACADA9"/>
                <path d="m31.925 32.584-1.685-.97a1.244 1.244 0 0 1-.044.136l1.383 2.8c.137-.612.258-1.274.346-1.966M30.08 30.538l1.937 1.115c.063-.86.063-1.747-.037-2.626-.469.357-1.011.789-1.343 1.11-.158.154-.35.275-.58.365a.727.727 0 0 1 .023.036M27.836 32.102l-1.06 1.166a61.097 61.097 0 0 1 1.741 1.643l-.023-2.347a1.368 1.368 0 0 1-.545-.335l-.001-.001a1.444 1.444 0 0 1-.112-.126" fill="#C7C6C1"/>
                <path d="m27.357 32.63-.58.638a61.097 61.097 0 0 1 1.74 1.643l-.014-1.342-1.146-.94" fill="#ACADA9"/>
                <path d="m26.141 32.695 1.41-1.55c.014-.17.06-.331.13-.478-1.332-.114-3.13-.422-4.68-.66.819.675 1.96 1.636 3.14 2.688" fill="#C7C6C1"/>
                <path d="m26.141 32.695.554-.608-1.175-.963 2.161-.457c-1.332-.114-3.13-.422-4.68-.66.819.675 1.96 1.636 3.14 2.688" fill="#ACADA9"/>
                <path d="m24.21 41.512-.296 2.122a.428.428 0 0 1-.575.346l-3.419-1.3a45.774 45.774 0 0 1-.632-.187l-.023.14 4.826 1.829.356-2.603a2.245 2.245 0 0 1-.134-.192 3.98 3.98 0 0 0-.102-.155" fill="#C7C6C1"/>
                <path d="m21.437 42.343 1.704.647.18-1.284c-.521.178-1.075.132-1.421.07a2.332 2.332 0 0 1-.463.567" fill="#C7C6C1"/>
                <path d="M32.706 25.21c-.562.257-.632.542-.724.914a9.011 9.011 0 0 1-.062.238 3.874 3.874 0 0 1-.438 1.047c-.221.364-.549.768-1.071 1.268-1.1 1.051-3.178.515-3.41.45l-.025-.006c-6.477-1.9-6.958-6.429-6.952-7.782-.438.263-.865.608-1.051.93.002-.013.325-3.037 2.953-4.249-.518-.823-1.435-2.59-1.096-4.358.167-.864.907-1.614 1.807-1.916.42-.141.88-.187 1.335-.103.458.084.908.298 1.305.675.89.846 1.516 2.54 1.312 5.49.201.047.406.1.618.16.44-.177 1.77-.626 3.554-.416-.416-.76-.868-1.941-.638-3.23.144-.815.805-1.537 1.585-1.824.35-.129.73-.172 1.103-.102.378.071.743.258 1.06.59.706.74 1.164 2.246.888 4.895.273.016.535.057.759.137.851.304 1.204 1.392 1.075 2.643a6.027 6.027 0 0 1-.538 1.915 5.162 5.162 0 0 1-1.24 1.69c-.577.506-1.281.859-2.109.944" fill="#231614"/>
                <path d="M28.59 28.478c-.631-.641-1.35-1.258-2.118-1.62-.777-.365-1.62-.463-2.489-.029.836.569 1.894 1.08 3.234 1.472l.015.005c.106.03.717.19 1.358.172" fill="#C53B2F"/>
                <path d="m27.856 25.182.517 1.666c.447.083 1.495.211 2.522-.146.09-.19.148-.375.202-.567l.055-.216c.071-.29.135-.546.286-.782a5.65 5.65 0 0 1-1.215-.408c-.114.863-.48 1.15-.48 1.15.117-.642.01-1.185.01-1.185-.61.221-1.25.386-1.897.488" fill="#FFFFFE"/>
                <path d="M34.974 6.976c-.174.324-.556 1.102-.719 1.989.21.2.411.414.6.642.875-.432 1.38-.94 1.62-1.457.179-.39.207-.788.128-1.164a2.48 2.48 0 0 0-.536-1.066c-.41-.491-.97-.828-1.487-.867-1.28-.098-1.886 1.88-2.072 2.648.357.198.706.42 1.04.67.282-.773.784-1.346 1.055-1.618a.276.276 0 0 1 .179-.08.2.2 0 0 1 .185.096.2.2 0 0 1 .007.207" fill="#AF502E"/>
                <path d="M34.255 8.965c.21.2.411.414.6.642.875-.432 1.38-.94 1.62-1.457.179-.39.207-.788.128-1.164a2.48 2.48 0 0 0-.536-1.066c-.299-.358-.677-.633-1.06-.771.009.003.496.265.56 1.413.063 1.157-1.312 2.403-1.312 2.403" fill="#8F4229"/>
                <path d="M32.516 18.87c-2.337-.914-4.202-.403-4.85-.165.027.64.192 2.22 1.162 2.898a1.656 1.656 0 0 1-.008-.157c0-.461.192-.835.429-.835.236 0 .428.374.428.835 0 .17-.026.327-.07.46.16.026.313.041.456.047.46.017.85-.07 1.171-.253-.102-.152-.168-.393-.168-.663 0-.462.192-.836.429-.836.233 0 .422.363.427.816.226-.362.39-.824.493-1.378.045-.24.078-.498.1-.77" fill="#48281B"/>
                <path d="M26.815 18.746c-3.41-.926-5.17.15-6.07 1.363.056.538.18 1.02.357 1.447.46 1.106 1.298 1.867 2.325 2.329 1.056.474 2.313.637 3.578.538a9.381 9.381 0 0 0 2.83-.678.424.424 0 0 1 .366.018c1.78.961 3.136.665 4.052-.14.435-.381.78-.876 1.028-1.408a5.19 5.19 0 0 0 .463-1.64c.089-.869-.076-1.594-.515-1.75-.497-.178-1.32-.09-1.854-.002-.024.346-.064.67-.12.973-.18.966-.531 1.722-1.058 2.238-.548.537-1.267.805-2.163.772a4.692 4.692 0 0 1-.681-.078c-2.174-.407-2.493-3.04-2.538-3.982" fill="#EDC28D"/>
                <path d="M23.501 18.47c-1.35.22-2.212.904-2.756 1.64.056.537.18 1.019.357 1.446.46 1.106 1.298 1.867 2.325 2.329 1.056.474 2.313.637 3.578.538a9.381 9.381 0 0 0 2.83-.678s-6.096 1.007-7.482-2.064c-1.14-2.527.524-3.09 1.149-3.211" fill="#D8A86D"/>
                <path d="M31.91 17.773c.288.077.583.172.885.288a9.653 9.653 0 0 1 1.101-.162c.27-2.425-.081-3.735-.644-4.325a1.103 1.103 0 0 0-.598-.338 1.233 1.233 0 0 0-.652.065c-.512.189-.944.651-1.036 1.168-.275 1.543.656 2.922.944 3.304M22.75 17.725c.814-.215 1.8-.271 2.995-.083.164-2.583-.337-4.022-1.057-4.705-.269-.255-.568-.399-.87-.455a1.826 1.826 0 0 0-.91.073c-.622.209-1.13.705-1.237 1.268-.312 1.618.663 3.282 1.08 3.902" fill="#FFFFFE"/>
                <path d="M23.125 14.128c.227 0 .443.064.636.178-.32.033-.571.374-.571.79 0 .437.28.792.624.792s.623-.355.623-.792c.126.28.199.605.199.95 0 1.06-.677 1.92-1.511 1.92-.834 0-1.51-.86-1.51-1.92 0-1.059.676-1.918 1.51-1.918M32.047 14.774c.202-.028.4.002.585.08-.28.069-.46.401-.41.768.054.388.345.667.65.625.305-.042.508-.39.455-.777.146.232.25.511.291.817.13.938-.363 1.78-1.101 1.883-.738.101-1.442-.576-1.571-1.513-.13-.938.363-1.781 1.101-1.883" fill="#231614"/>
                <path d="m31.371 38.178 3.432-4.12-1.713-2.17a.434.434 0 0 1-.077-.153l.53 1.981c-.321 2.014-2.172 4.462-2.172 4.462" fill="#272827"/>
                <path d="m13.796 43.735-.263.137-.286.018-.985.944 1.225-.587.31-.512Zm-.95-.964-.293.508.085-.04.456-.052 1.065-1.097-1.313.681Zm-2.599 2.835.96-1.588-.225.014.305-.146.132-.218.664-.684-2.148.134 2.927-.937.799-.823-.452.784 1.011-.114.65-.67-1.004 1.741.587-.066 1.626-1.675-.92 1.595.185-.02-.246.127-.277.48-.572.549 2.142-.243-2.943 1.01-.783.75.44-.728-.951.06-.698.668 1.008-1.667-.51.032-1.707 1.635Z" fill="#231614"/>
              </g>
            </g>
          </svg>
        </a> <!-- /.navbar-brand -->

        <% if logged_in? %>
          <a class="d-lg-block d-none navbar-btn btn btn-outline-danger ml-auto order-lg-1 font-weight-800" href="<%= redirect_to_app_url %>"><%= t('website.nav.app') %></a> <!-- .navbar-collapse -->
        <% else %>
          <a class="d-lg-block d-none navbar-btn btn btn-lg btn-cta ml-auto order-lg-2 font-weight-800" href="<%= new_account_url %>"><%= t('website.nav.signup') %></a> <!-- .navbar-collapse -->
          <a class="d-lg-block d-none navbar-btn btn btn-lg ml-auto order-lg-3 font-weight-800" href="<%= login_url %>"><%= t('website.nav.signin') %></a> <!-- .navbar-collapse -->
        <% end %>

        <div class="navbar-collapse collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item mr-lg-3 d-lg-none">
              <% if logged_in? %>
                <a class="nav-link py-2 black-color font-weight-bold" href="<%= redirect_to_app_url %>"><%= t('website.nav.app') %></a> <!-- .navbar-collapse -->
              <% else %>
                <a class="nav-link py-2 black-color font-weight-bold" href="<%= new_account_url %>"><%= t('website.nav.signup') %></a> <!-- .navbar-collapse -->
                <a class="nav-link py-2 black-color font-weight-bold" href="<%= login_url %>"><%= t('website.nav.signin') %></a> <!-- .navbar-collapse -->
              <% end %>
            </li>
            <li class="nav-item mr-lg-3">
              <a class="nav-link py-2 black-color font-weight-bold" href="#features"><%= t('website.nav.features') %></a>
            </li>
            <li class="nav-item mr-lg-3">
              <a class="nav-link py-2 black-color font-weight-bold" href="#testimonials"><%= t('website.nav.testimonials') %></a>
            </li>
            <li class="nav-item mr-lg-3">
              <a class="nav-link py-2 black-color font-weight-bold" href="#pricing"><%= t('website.nav.subscription') %></a>
            </li>
            <li class="nav-item mr-lg-3">
              <a class="nav-link py-2 black-color font-weight-bold" href="#contact"><%= t('website.nav.contact') %></a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    <!-- /site header -->
    <!-- hero -->
    <div class="hero-section">
    <section class="py-3">
      <!-- .container -->
      <div class="container container-fluid-xl">
        <!-- .row -->
        <div class="row align-items-center">
          <!-- .col-md-6 -->

          <!-- SVG SUN -->
          <div class="col-12 d-lg-block d-none col-lg-5 order-md-2" data-aos="fade-left" data-aos-duration="300">
            <svg id="sun" width="80" height="80" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 80px; height: 80px;">
              <g class="line-sun1-rotate" style="animation-duration: 60s;">
                <circle class="stroke1 fill1" cx="49.7501" cy="50" r="24" fill="rgba(248,231,28,1)" stroke="rgba(0,0,0,1)" stroke-width="6.0px"></circle>
                <path class="line-sun1-a stroke2" d="M49.7501 21.5V14" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-b stroke2" d="M49.7501 85.5V78" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-c stroke2" d="M74.2153 35.625L80.7104 31.875" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-d stroke2" d="M18.7897 67.625L25.2849 63.875" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-e stroke2" d="M74.2153 63.875L80.7104 67.625" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-f stroke2" d="M18.7897 31.875L25.2849 35.625" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-g stroke2" d="M70.1251 14.4594L63.8751 25.2847" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-h stroke2" d="M29.3751 85.0406L35.6251 74.2153" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-i stroke2" d="M90.5002 49.75L78.0002 49.75" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-j stroke2" d="M9 49.75L21.5 49.75" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-k stroke2" d="M70.1251 85.0406L63.8751 74.2153" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-l stroke2" d="M29.3751 14.4594L35.6251 25.2847" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
              </g>
            </svg>

            <!-- SVG CLOUD -->
            <svg id="clouds" class="solo-cloud" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
              <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z" />
            </svg>

            <!-- SVG BACKGROUND -->
            <%= image_pack_tag 'media/images/website/cityscape_w_background.svg', class: "img-fluid img-float-md-6 mb-5 mb-md-0", alt: 'cityscape background' %>
          </div><!-- /.col-md-6 -->
          <!-- .col-md-6 -->
          <div class="col-12 col-lg-7 order-md-1">
            <div class="pl-xl-3 ml-auto text-center text-sm-left">
              <h1 class="display-4 enable-responsive-font-size mb-4">
                <%= t('website.hero1') %><br><%= t('website.hero2') %></h1>
              <p class="px-4 lead text-center mb-5 subheader-text"><%= t('website.subheader', brand: BRANDNAME) %></p>
              <div class="container-fluid max-650">
              <div class="row">
                <div class="offset-2"></div>
                <div class="col-4 px-3 py-2">

                  <div class="cert-container opacity-093">
                    <%= image_pack_tag 'media/images/cert_amazon.png', class: "img-fluid", alt: t('website.feature_strip.b.alt') %>
                  </div>
                </div>
                <div class="col-4 px-3 py-2">
                  <div class="cert-container opacity-093">
                    <%= image_pack_tag 'media/images/cert_ph.png', class: "img-fluid", alt: t('website.feature_strip.b.alt') %>
                  </div>
                </div>
                </div>
              </div>

            </div>
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->

    </section><!-- /hero -->

    <!-- .feature -->
    <section class="py-5">
      <!-- .container -->
      <div class="container container-fluid">

          <div class="card-deck-lg">
            <!-- .card -->
            <div class="card feature-card shadow vw-75">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-sm-flex align-items-start text-center text-sm-left ">
                  <div class="col-12 text-center">
                    <div class="graphic-container">
                      <%= image_pack_tag 'media/images/website/engine.svg', class: "img-fluid py-2", alt: t('website.feature_strip.a.alt') %>
                    </div>
                    <h2 class="lead header"><%= t('website.feature_strip.a.title') %></h2>
                    <h3 class="body"><%= t('website.feature_strip.a.body_html', brand: BRANDNAME) %></h3>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->
            <!-- .card -->
            <div class="card feature-card shadow vw-75">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-sm-flex align-items-start text-center text-sm-left">
                  <div class="col-12 text-center">
                    <div class="graphic-container">
<!--                      <div className="d-flex justify-content-center mt-2">-->
<!--                        <i className="pr-icon md search" />-->
<!--                      </div>-->
                      <%= image_pack_tag 'media/images/website/partners.svg', class: "img-fluid py-2", alt: t('website.feature_strip.b.alt') %>
<!--                      <img class="mb-4" src="assets/images/illustration/lab.svg" alt="" height="72">-->
                    </div>
                    <h2 class="lead header"><%= t('website.feature_strip.b.title') %></h2>
                    <h3 class="body"><%= t('website.feature_strip.b.body_html', brand: BRANDNAME) %></h3>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->

            <div class="card feature-card shadow vw-75">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-sm-flex align-items-start text-center text-sm-left">
                  <div class="col-12 text-center">
                    <div class="graphic-container">
                      <%#= image_pack_tag 'media/images/website/home.svg', class: "img-fluid img-float-md-6 mb-5 mb-md-0" %>
                      <%= image_pack_tag 'media/images/website/portal.svg', class: "img-fluid py-2", alt: t('website.feature_strip.c.alt') %>

                    </div>
                    <h2 class="lead header"><%= t('website.feature_strip.c.title') %></h2>
                    <h3 class="body"><%= t('website.feature_strip.c.body_html') %></h3>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->

            <div class="card feature-card shadow vw-75">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-sm-flex align-items-start text-center text-sm-left">
                  <div class="col-12 text-center">
                    <div class="graphic-container">
                      <%#= image_pack_tag 'media/images/website/home.svg', class: "img-fluid img-float-md-6 mb-5 mb-md-0" %>
                      <%= image_pack_tag 'media/images/website/encryption.svg', class: "img-fluid py-2", alt: t('website.feature_strip.d.alt') %>
                    </div>
                    <h2 class="lead header"><%= t('website.feature_strip.d.title') %></h2>
                    <h3 class="body"><%= t('website.feature_strip.d.body_html') %></h3>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->

          </div>

      </div><!-- /.container -->
    </section><!-- /.feature -->
    </div>


    <!-- feature -->

    <!-- divider -->
    <section class="position-relative">
      <!-- wave2.svg -->
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="192" viewbox="0 0 1440 240" preserveaspectratio="none">
        <path class="fill-light" fill-rule="evenodd" d="M0 240V0c19.985 5.919 41.14 11.008 63.964 14.89 40.293 6.855 82.585 9.106 125.566 9.106 74.151 0 150.382-6.697 222.166-8.012 13.766-.252 27.51-.39 41.21-.39 99.76 0 197.087 7.326 282.907 31.263C827.843 72.527 860.3 117.25 906.926 157.2c43.505 37.277 115.38 51.186 208.485 53.076 7.584.153 15.156.224 22.714.224 40.887 0 81.402-2.062 121.914-4.125 40.512-2.062 81.027-4.125 121.902-4.125 1.01 0 2.019.002 3.03.004 16.208.042 34.959.792 55.029 2.234V240H0z"></path>
      </svg>
    </section><!-- /divider -->


    <section class="position-relative py-5 bg-light">
      <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-8">
          <%= image_pack_tag 'media/images/product_promo_optimized.webp', class: 'img-fluid', 'data-aos': "fade-right" %>
        </div>
        <div class="col-12 col-lg-4">
          <p class="text-justify">
            <%= t('website.promo_html', brand: BRANDNAME) %>
          </p>
        </div>

      </div>
      </div>

    </section>

    <%= render 'cta' %>

    <!-- feature -->
    <section class="position-relative py-5 bg-light">
      <!-- .sticker -->
      <div class="sticker sticker-box">
        <div class="sticker-item sticker-top-right sticker-soften">
          <%= image_pack_tag 'media/images/website/cubes.svg', 'data-aos': "zoom-in" %>
        </div>
        <div class="sticker-item sticker-bottom-left sticker-soften scale-150">
          <%= image_pack_tag 'media/images/website/cubes.svg', 'data-aos': "zoom-in" %>
        </div>
      </div><!-- /.sticker -->
      <!-- .container -->
      <div class="container position-relative">
<!--        <span class="callout-header">-->
<!--          <span class="pin-title font-weight-bold">56.000 €</span>-->
<!--        </span>-->
        <p>
        <span id="features" class="callout-header">
          <span class="text-center text-sm-left color-black letter-spacing-soft font-large pin-title font-weight-bold no-wrap"><%= t('website.benefits.header') %></span>
        </span>
        </p>
        <p class="lead text-muted color-grey text-center text-sm-left mb-5"><%= t('website.benefits.subheader') %></p><!-- .card-deck -->
        <div class="card-deck-lg">
          <!-- .card -->
          <div class="card shadow">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/office.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.a.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.a.body_html', brand: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card shadow">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/privacy.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.b.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.b.body_html') %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
        <!-- .card-deck -->
        <div class="card-deck-lg">
          <!-- .card -->
          <div class="card shadow">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/server.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.c.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.c.body_html', brand: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card shadow">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/clients.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.d.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.d.body_html', brand: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
        <!-- .card-deck -->
        <div class="card-deck-lg">
          <!-- .card -->
          <div class="card shadow">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/showing.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.e.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.e.body_html', brand: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card shadow">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/website.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.f.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.f.body_html', brand: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
      </div><!-- /.container -->
    </section><!-- /feature -->

    <section class="position-relative py-5 integrations-section">
      <div id="integrations" class="container position-relative">
        <div class="row mt-n5">
          <div class="col-sm-12 col-lg-6 offset-lg-3 ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 40 144 60">
              <defs>
                <filter id="a" width="571.9%" height="571.9%" x="-235.9%" y="-235.9%" filterUnits="objectBoundingBox">
                  <feOffset dy="9" in="SourceAlpha" result="shadowOffsetOuter1"/>
                  <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="15"/>
                  <feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                  <feMerge>
                    <feMergeNode in="shadowMatrixOuter1"/>
                    <feMergeNode in="SourceGraphic"/>
                  </feMerge>
                </filter>
              </defs>
              <g fill="none" fill-rule="evenodd" filter="url(#a)" transform="translate(56 56)">
                <circle cx="16" cy="16" r="16" fill="gold"/>
                <path fill="#FFF" fill-rule="nonzero" stroke="#000" d="M15.127273 11.05507h-2.542546c-2.678415-.036116-5.004593 1.795825-5.540072 4.362987h-5.2992v1.745195h5.290278c.526324 2.57625 2.863536 4.41392 5.548994 4.362988h2.542546V11.05507ZM25.107006 15.418216c-.536708-2.573646-2.872826-4.407461-5.557915-4.362875h-2.676364V21.52624h2.676364c2.685458.050931 5.02267-1.786693 5.548994-4.362875h5.15646v-1.74515h-5.147539Z"/>
                <path d="M0 0h32v32H0z"/>
              </g>
            </svg>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <p class="text-white text-center integrations-section-header font-weight-bold"><%= t('website.integrations.header') %></p>
          </div>
        </div>
        <div class="row h-100 justify-content-center align-items-center mt-5" data-aos="fade-in">
          <div class="col-xl-4 col-12">
            <div class="integration-box">
              <%= image_pack_tag 'media/images/spiti24_canonical.png', class: "mx-auto d-block integration-provider-logo" %>
            </div>
          </div>
          <div class="col-xl-4 col-12 my-3 my-xl-0">
            <div class="integration-box">
              <%= image_pack_tag 'media/images/spitogatos_canonical.png', class: "mx-auto d-block integration-provider-logo" %>
            </div>
          </div>
          <div class="col-xl-4 col-12">
            <%= image_pack_tag 'media/images/tospitimou_canonical.png', class: "mx-auto d-block integration-provider-logo" %>
            </div>
          </div>
        </div>

    </section>

    <section class="position-relative py-5 bg-light">
      <div id="testimonials" class="container position-relative">
        <p>
          <span id="features" class="callout-header">
            <span class="text-center text-sm-left color-black letter-spacing-soft font-large pin-title font-weight-bold no-wrap"><%= t('website.testimonials.header') %></span>
          </span>
        </p>

        <div class="card-deck-lg">
          <div class="card feature-card shadow ">
            <!-- .card-body -->
            <div class="card-body">
              <div class="d-sm-flex align-items-start text-center text-sm-left ">
                <div class="col-12 text-center">
                  <div class="graphic-container">
                    <%= image_pack_tag 'media/images/testimonials/psom.jpg', class: "img-fluid w-25 pt-2 pb-3 testimonial-avatar", alt: 'avatar of client testimonial 1' %>
                  </div>
                  <h3 class="lead header"><strong><%= t('website.testimonials.customer_1.identity_html', brand: "#{BRANDNAME.downcase}.com") %></strong></h3>
                  <h3 class="body"><%= t('website.testimonials.customer_1.body_html', brand: BRANDNAME) %></h3>
                </div><!-- /.col -->
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->

          <div class="card feature-card shadow ">
            <!-- .card-body -->
            <div class="card-body">
              <div class="d-sm-flex align-items-start text-center text-sm-left ">
                <div class="col-12 text-center">
                  <div class="graphic-container">
                    <%= image_pack_tag 'media/images/testimonials/eustratiou.png', class: "img-fluid w-25 pt-2 pb-3 testimonial-avatar", alt: 'avatar of client testimonial 2' %>
                  </div>
                  <h3 class="lead header"><strong><%= t('website.testimonials.customer_2.identity_html') %></strong></h3>
                  <h3 class="body"><%= t('website.testimonials.customer_2.body_html', brand: BRANDNAME) %></h3>
                </div><!-- /.col -->
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->

        </div>

      </div>
    </section>

    <%= render 'cta' %>

    <!-- feature -->
    <section class="position-relative py-5 bg-light">
      <!-- .sticker -->
      <div class="sticker">
        <div class="sticker-item sticker-top-right sticker-soften translate-x-50">
          <%= image_pack_tag 'media/images/website/bubble1.svg', 'data-aos': "fade-left" %>
        </div>
      </div><!-- /.sticker -->
      <!-- .container -->
      <div id="pricing" class="container position-relative">
        <h2 class="text-center"><%= t('website.pricing.header_html') %></h2>
        <p class="lead text-muted text-center mb-5"><%= t('website.pricing.subheader_html') %></p><!-- .row -->
        <div class="row justify-content-center">

          <div class="col-12 col-md-5 py-md-4 pl-md-0">
            <div class="card font-size-lg card-inverse bg-primary shadow">
              <h5 class="card-header text-center p-4 px-lg-5"><%= t('website.pricing.paid_license.title') %></h5>
              <div class="card-body p-4 p-lg-5">
                <h3 class="display-3 text-center color-gold">
                  <%= t('website.pricing.paid_license.motto') %>
                </h3>
                <p class="text-center text-muted-light mb-5"><u><%= t('website.pricing.paid_license.header') %></u></p>
                <ul class="list-icons">
                  <li class="mb-2 pl-1">
                    <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet1') %></li><li class="mb-2 pl-1">
                    <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet2') %></li><li class="mb-2 pl-1">
                    <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet3') %></li><li class="mb-2 pl-1">
                    <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet4') %></li><li class="mb-2 pl-1">
                    <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet5') %></li><li class="mb-2 pl-1">
                    <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><strong class="color-gold"><%= t('website.pricing.paid_license.bullet6') %></strong></li><li class="mb-2 pl-1">
                    <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><strong class="color-gold"><%= t('website.pricing.paid_license.bullet7') %></strong></li><li class="mb-2 pl-1">
                    <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><strong class="color-gold"><%= t('website.pricing.paid_license.bullet8') %></strong></li><li class="mb-2 pl-1">
                    <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><strong class="color-gold"><%= t('website.pricing.paid_license.bullet9_html') %></strong></li><li class="mb-2 pl-1">
                    <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><strong class="color-gold"><%= t('website.pricing.paid_license.bullet10') %></strong></li><li class="mb-2 pl-1">
                </ul>
              </div>
              <div class="card-footer">
                <% if logged_in? %>
                  <a href="<%= redirect_to_app_url %>" class="card-footer-item p-4 px-lg-5 color-white font-size-24px"><strong><%= t('website.nav.app') %></strong></a>
                <% else %>
                  <a href="<%= new_account_url %>" class="card-footer-item p-4 px-lg-5 color-white font-size-24px"><strong><%= t('website.pricing.cta_start_free') %></strong></a>
                <% end %>
              </div>
            </div>

          </div><!-- /.col -->
        </div>
        <div class="row justify-content-center">
          <div class="col-12">
            <p class="lead text-muted text-center mb-5">✓ <%= t('website.pricing.free_trial') %>&nbsp;✓ <%= t('website.pricing.no_credit_card') %>&nbsp;✓ <%= t('website.pricing.cancel_anytime') %></p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div>
            <p class="text-muted text-center mb-5"><%= t('website.pricing.money_back_html') %></p>
          </div>
        </div>



          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /feature -->

    <!-- call to action -->
    <section class="py-5 position-relative bg-light">
      <!-- .sticker -->
      <div class="sticker">
        <div class="sticker-item sticker-bottom-left w-100">
          <!-- wave1.svg -->
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="120" viewbox="0 0 1440 240" preserveaspectratio="none">
            <path class="fill-black" fill-rule="evenodd" d="M1070.39 25.041c107.898 11.22 244.461 20.779 369.477 51.164L1440 240H0L.133 72.135C350.236-17.816 721.61-11.228 1070.391 25.04z"></path>
          </svg>
        </div>
      </div><!-- /.sticker -->
      <!-- .container -->
      <div id="contact" class="container">
        <!-- .card -->
        <div class="card bg-success text-white position-relative overflow-hidden shadow rounded-lg p-4 mb-0">
          <!-- .sticker -->
          <div class="sticker">
            <div class="sticker-item sticker-middle-left">
              <%= image_pack_tag 'media/images/website/bubble4.svg', class: 'flip-y' %>
            </div>
          </div><!-- /.sticker -->
          <!-- .card-body -->
          <div class="card-body d-md-flex justify-content-between align-items-center text-center position-relative">
            <h2 class="font-weight-normal text-white mb-3 mb-md-0 mr-md-3"><%= t('website.questions.header') %></h2>
            <%#= link_to 'Sign up now!', new_account_url(subdomain: nil), class: 'btn btn-lg btn-primary' %>
            <%= link_to t('website.questions.cta'), "mailto:#{SUPPORT_MAIL}", target: "_blank", class: 'btn btn-lg btn-primary shadow' %>
<!--            <a class="btn btn-lg btn-primary shadow" href="https://goo.gl/forms/2jb1vgCKkg8sdqld2"><%#= t('website.questions.cta') %></a>-->
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.container -->
    </section><!-- /call to action -->
    <!-- footer -->
    <section class="py-5 bg-black text-white">
      <!-- .container -->
      <div class="container">
        <p class="text-muted text-center mt-5"><%= BRANDNAME %> © <%= Date.current.year %> • <%= t('website.rights') %> • <%= t('website.footer_html') %> •
          <span>
          <% if I18n.locale.downcase.to_s == 'en' %>
            <%= content_tag(:span, 'EN') %> | <%= link_to('ΕΛ', landing_root_url(locale: 'el'), class: '') %>
          <% else %>
            <%= link_to('EN', landing_root_url(locale: 'en'), class: '') %> | <%= content_tag(:span, 'ΕΛ') %>
          <% end %>
        </span></p>
        <p class="text-muted text-center"><%= link_to(t('website.terms_and_conditions'), tos_path(locale: 'en'), target: '_blank') %> • <%= link_to(t('website.privacy_policy'), privacy_path(locale: 'en'), target: '_blank') %> • <%= link_to(t('website.cookie_policy'), privacy_path(locale: 'en'), target: '_blank') %></p>

      </div><!-- /.container -->
    </section><!-- /footer -->
  </main><!-- /.app -->
<% end %>




