<% content_for :landing do %>
  <!-- .app -->
  <main class="app app-site website">
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a
      class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and
      security.
    </div>
    <![endif]-->
    <!-- site header -->
    <!-- .navbar -->
    <nav class="navbar navbar-expand-lg navbar-light py-4" data-aos="fade-in">
      <!-- .container -->
      <div class="container">
        <!-- .hamburger -->
        <button class="hamburger hamburger-squeeze hamburger-light d-flex d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /.hamburger -->
        <!-- .navbar-brand -->
        <a class="navbar-brand ml-auto mr-0" href="#">
          <svg width="180" height="53" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <path d="M30.805 9.42c0-.028-.004-.055-.005-.082-.002-.023-.002-.047-.005-.07-.004-.028-.01-.055-.017-.082-.005-.022-.007-.044-.013-.066-.007-.028-.018-.055-.028-.083-.007-.02-.012-.04-.02-.06-.013-.028-.028-.055-.042-.083l-.025-.05c-.017-.03-.037-.057-.057-.085l-.026-.04a1.141 1.141 0 00-.086-.098l-.014-.015a1.146 1.146 0 00-.241-.186L15.87.161a1.165 1.165 0 00-1.163.002L.444 8.423c-.022.012-.042.028-.063.042-.02.014-.043.026-.062.041-.02.016-.04.034-.059.052-.018.016-.038.031-.055.048-.019.019-.035.04-.051.059-.017.018-.034.036-.048.055-.015.02-.03.042-.044.064l-.04.06C.01 8.866 0 8.89-.01 8.913c-.011.022-.024.042-.033.065-.01.024-.016.048-.025.073-.008.023-.017.045-.023.068-.007.025-.01.05-.015.074-.005.025-.012.05-.015.075-.003.025-.003.05-.005.075-.002.025-.005.05-.005.076L-.168 26.5c-.001.414.22.796.58 1.003l14.355 8.259h.001a1.162 1.162 0 00.73.145c.017-.002.033-.007.05-.01.033-.006.065-.01.097-.02.02-.004.038-.012.058-.018.029-.01.058-.018.087-.03.02-.008.039-.02.058-.029.026-.012.053-.023.078-.037l.002-.002h.002l14.263-8.26c.356-.206.575-.586.576-.996l.036-17.082V9.42z" id="a"/>
              <path d="M30.805 9.462c0-.027-.004-.054-.005-.081-.002-.023-.002-.047-.005-.07-.004-.028-.01-.055-.017-.082-.005-.022-.007-.044-.013-.066-.007-.029-.018-.055-.028-.083-.007-.02-.012-.04-.02-.06-.013-.028-.028-.055-.042-.083l-.025-.05c-.017-.03-.037-.058-.057-.085l-.026-.04a1.141 1.141 0 00-.086-.098l-.014-.015a1.146 1.146 0 00-.241-.186L15.87.203a1.165 1.165 0 00-1.163.003L.444 8.465c-.022.013-.042.028-.063.043-.02.014-.043.026-.062.041L.26 8.6c-.018.017-.038.032-.055.05-.019.018-.035.038-.051.058-.017.018-.034.035-.048.054l-.044.065-.04.06c-.012.022-.022.045-.033.068-.011.022-.024.043-.033.065-.01.024-.016.049-.025.073-.008.023-.017.046-.023.07-.007.024-.01.049-.015.073-.005.025-.012.05-.015.075-.003.025-.003.05-.005.075-.002.025-.005.05-.005.075l-.036 17.082c-.001.414.22.796.58 1.003l14.355 8.259h.001a1.162 1.162 0 00.73.145c.017-.002.033-.007.05-.01.033-.006.065-.011.097-.02.02-.005.038-.012.058-.018.029-.01.058-.018.087-.03.02-.008.039-.02.058-.029.026-.012.053-.023.078-.038h.002l.002-.002 14.263-8.26c.356-.205.575-.585.576-.996l.036-17.08v-.005z" id="c"/>
              <path d="M30.805 9.462c0-.027-.004-.054-.005-.081-.002-.023-.002-.047-.005-.07-.004-.028-.01-.055-.017-.082-.005-.022-.007-.044-.013-.066-.007-.029-.018-.055-.028-.083-.007-.02-.012-.04-.02-.06-.013-.028-.028-.055-.042-.083l-.025-.05c-.017-.03-.037-.058-.057-.085l-.026-.04a1.141 1.141 0 00-.086-.098l-.014-.015a1.146 1.146 0 00-.241-.186L15.87.203a1.165 1.165 0 00-1.163.003L.444 8.465c-.022.013-.042.028-.063.043-.02.014-.043.026-.062.041L.26 8.6c-.018.017-.038.032-.055.05-.019.018-.035.038-.051.058-.017.018-.034.035-.048.054l-.044.065-.04.06c-.012.022-.022.045-.033.068-.011.022-.024.043-.033.065-.01.024-.016.049-.025.073-.008.023-.017.046-.023.07-.007.024-.01.049-.015.073-.005.025-.012.05-.015.075-.003.025-.003.05-.005.075-.002.025-.005.05-.005.075l-.036 17.082c-.001.414.22.796.58 1.003l14.355 8.259h.001a1.162 1.162 0 00.73.145c.017-.002.033-.007.05-.01.033-.006.065-.011.097-.02.02-.005.038-.012.058-.018.029-.01.058-.018.087-.03.02-.008.039-.02.058-.029.026-.012.053-.023.078-.038h.002l.002-.002 14.263-8.26c.356-.205.575-.585.576-.996l.036-17.08v-.005z" id="e"/>
            </defs>
            <g fill="none" fill-rule="evenodd">
              <rect fill="#47555E" fill-rule="nonzero" width="180" height="52.519" rx="26.259"/>
              <path d="M47.624 17.941c0-.027-.004-.054-.006-.081-.001-.023-.001-.047-.004-.07-.004-.028-.011-.055-.017-.082-.005-.022-.007-.044-.013-.066-.008-.028-.018-.055-.028-.083l-.02-.06c-.013-.028-.028-.055-.042-.083l-.025-.05c-.018-.03-.038-.057-.057-.085-.01-.013-.017-.027-.026-.04a1.141 1.141 0 00-.087-.098l-.013-.015a1.146 1.146 0 00-.242-.186L32.69 8.683a1.165 1.165 0 00-1.163.002l-14.263 8.26c-.022.012-.042.028-.063.042-.021.014-.043.026-.062.041l-.059.051c-.019.017-.038.032-.056.05-.018.018-.034.038-.05.058-.017.018-.034.035-.048.055-.016.02-.03.042-.044.064-.013.02-.028.04-.04.06-.012.022-.022.045-.034.069-.01.021-.023.042-.032.064-.01.025-.016.05-.025.073-.008.023-.017.046-.024.07-.006.024-.01.049-.014.073-.006.025-.012.05-.016.075l-.004.075c-.002.025-.006.05-.006.075l-.035 17.082c-.001.414.22.796.58 1.003l14.355 8.259a1.162 1.162 0 00.73.145c.017-.002.034-.007.051-.01.033-.006.065-.01.097-.02.02-.004.038-.012.058-.018.028-.01.058-.018.086-.03.02-.008.04-.02.059-.029.026-.012.053-.023.077-.037l.003-.002h.001l14.263-8.26c.357-.206.576-.586.577-.996l.036-17.082v-.004z" fill="#EEE" fill-rule="nonzero"/>
              <g transform="translate(16.819 8.073)">
                <mask id="b" fill="#fff">
                  <use xlink:href="#a"/>
                </mask>
                <path d="M15.355 3.149L4.77 8.982v12.607c0 .34.151.652.397.822l9.805 5.298a.654.654 0 00.782 0l9.791-5.3c.244-.169.322-.527.322-.865V8.982L15.355 3.149z" fill-opacity=".2" fill="#47555E" fill-rule="nonzero" mask="url(#b)"/>
              </g>
              <g transform="translate(16.819 8.48)">
                <mask id="d" fill="#fff">
                  <use xlink:href="#c"/>
                </mask>
                <path d="M15.557 3.192c-.034 16.459-.006 24.688.084 24.688.135 0 .27-.043.39-.129l9.52-5.27c.24-.17.316-.528.316-.867V9.072l-10.31-5.88z" fill-opacity=".2" fill="#47555E" fill-rule="nonzero" mask="url(#d)"/>
              </g>
              <g transform="translate(16.819 8.48)">
                <mask id="f" fill="#fff">
                  <use xlink:href="#e"/>
                </mask>
                <path d="M15.716 18.56a.788.788 0 00-.795.002l-9.757 5.71a.799.799 0 00-.394.692c0 .285.151.547.396.69l9.82 5.71a.784.784 0 00.796-.001l9.757-5.71c.244-.143.329-.435.328-.72 0-.285-.085-.52-.33-.662l-9.821-5.71z" fill-opacity=".5" fill="#47555E" fill-rule="nonzero" mask="url(#f)"/>
              </g>
              <path d="M56.304 16.157h122.544v18.404H56.304z"/>
              <text fill="#EEE" fill-rule="nonzero" font-family="YuKyo-Bold, YuKyokasho" font-size="18" font-weight="bold" transform="translate(52.328 16.157)">
                <tspan x="5.716" y="16.9">RealtorPMS</tspan>
              </text>
            </g>
          </svg>


        </a> <!-- /.navbar-brand -->

        <% if logged_in? %>
          <a class="d-lg-block d-none navbar-btn btn btn-outline-danger ml-auto order-lg-1" href="<%= redirect_to_app_url %>"><%= t('website.nav.app') %></a> <!-- .navbar-collapse -->
        <% else %>
          <a class="d-lg-block d-none navbar-btn btn btn-lg btn-cta ml-auto order-lg-2" href="<%= new_account_url %>"><%= t('website.nav.signup') %></a> <!-- .navbar-collapse -->
          <a class="d-lg-block d-none navbar-btn btn btn-lg ml-auto order-lg-3" href="<%= login_url %>"><%= t('website.nav.signin') %></a> <!-- .navbar-collapse -->
        <% end %>

        <div class="navbar-collapse collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item mr-lg-3 d-md-none">
              <% if logged_in? %>
                <a class="nav-link py-2 black-color" href="<%= redirect_to_app_url %>"><%= t('website.nav.app') %></a> <!-- .navbar-collapse -->
              <% else %>
                <a class="nav-link py-2 black-color" href="<%= new_account_url %>"><%= t('website.nav.signup') %></a> <!-- .navbar-collapse -->
                <a class="nav-link py-2 black-color" href="<%= login_url %>"><%= t('website.nav.signin') %></a> <!-- .navbar-collapse -->
              <% end %>
            </li>
            <li class="nav-item mr-lg-3">
              <a class="nav-link py-2 black-color" href="#features"><%= t('website.nav.features') %></a>
            </li>
            <li class="nav-item mr-lg-3">
              <a class="nav-link py-2 black-color" href="#pricing"><%= t('website.nav.subscription') %></a>
            </li>
            <li class="nav-item mr-lg-3">
              <a class="nav-link py-2 black-color" href="#contact"><%= t('website.nav.contact') %></a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    <!-- /site header -->
    <!-- hero -->
    <div class="hero-section">
    <section class="py-3">
      <!-- .container -->
      <div class="container container-fluid-xl">
        <!-- .row -->
        <div class="row align-items-center">
          <!-- .col-md-6 -->

          <!-- SVG SUN -->
          <div class="col-12 d-lg-block d-none col-lg-5 order-md-2" data-aos="fade-left">
            <svg id="sun" width="80" height="80" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 80px; height: 80px;">
              <g class="line-sun1-rotate" style="animation-duration: 60s;">
                <circle class="stroke1 fill1" cx="49.7501" cy="50" r="24" fill="rgba(248,231,28,1)" stroke="rgba(0,0,0,1)" stroke-width="6.0px"></circle>
                <path class="line-sun1-a stroke2" d="M49.7501 21.5V14" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-b stroke2" d="M49.7501 85.5V78" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-c stroke2" d="M74.2153 35.625L80.7104 31.875" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-d stroke2" d="M18.7897 67.625L25.2849 63.875" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-e stroke2" d="M74.2153 63.875L80.7104 67.625" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-f stroke2" d="M18.7897 31.875L25.2849 35.625" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-g stroke2" d="M70.1251 14.4594L63.8751 25.2847" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-h stroke2" d="M29.3751 85.0406L35.6251 74.2153" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-i stroke2" d="M90.5002 49.75L78.0002 49.75" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-j stroke2" d="M9 49.75L21.5 49.75" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-k stroke2" d="M70.1251 85.0406L63.8751 74.2153" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-l stroke2" d="M29.3751 14.4594L35.6251 25.2847" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
              </g>
            </svg>

            <!-- SVG CLOUD -->
            <svg id="clouds" class="solo-cloud" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
              <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z" />
            </svg>

            <!-- SVG BACKGROUND -->
            <%= image_pack_tag 'media/images/website/cityscape_w_background.svg', class: "img-fluid img-float-md-6 mb-5 mb-md-0" %>
          </div><!-- /.col-md-6 -->
          <!-- .col-md-6 -->
          <div class="col-12 col-lg-7 order-md-1" data-aos="fade-in">
            <div class="pl-xl-3 ml-auto text-center text-sm-left">
              <h1 class="display-4 enable-responsive-font-size mb-4">
                <%= t('website.hero1') %><br><%= t('website.hero2') %></h1>
              <p class="px-4 lead text-center mb-5"><%= t('website.subheader') %></p>
            </div>
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->

    </section><!-- /hero -->

    <!-- .feature -->
    <section class="py-5">
      <!-- .container -->
      <div class="container container-fluid">

          <div class="card-deck-lg">
            <!-- .card -->
            <div class="card feature-card shadow aos-init aos-animate vw-75" data-aos="fade-up" data-aos-delay="0">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-sm-flex align-items-start text-center text-sm-left ">
                  <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
                    <div class="graphic-container">
                      <%= image_pack_tag 'media/images/website/engine.svg', class: "img-fluid py-2" %>
                    </div>
                    <h2 class="lead header"><%= t('website.feature_strip.a.title') %></h2>
                    <h3 class="body"><%= t('website.feature_strip.a.body_html') %></h3>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->
            <!-- .card -->
            <div class="card feature-card shadow aos-init aos-animate vw-75" data-aos="fade-up" data-aos-delay="100">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-sm-flex align-items-start text-center text-sm-left">
                  <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
                    <div class="graphic-container">
<!--                      <div className="d-flex justify-content-center mt-2">-->
<!--                        <i className="pr-icon md search" />-->
<!--                      </div>-->
                      <%= image_pack_tag 'media/images/website/partners.svg', class: "img-fluid py-2" %>
<!--                      <img class="mb-4" src="assets/images/illustration/lab.svg" alt="" height="72">-->
                    </div>
                    <h2 class="lead header"><%= t('website.feature_strip.b.title') %></h2>
                    <h3 class="body"><%= t('website.feature_strip.b.body_html') %></h3>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->

            <div class="card feature-card shadow aos-init aos-animate vw-75" data-aos="fade-up" data-aos-delay="100">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-sm-flex align-items-start text-center text-sm-left">
                  <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
                    <div class="graphic-container">
                      <%#= image_pack_tag 'media/images/website/home.svg', class: "img-fluid img-float-md-6 mb-5 mb-md-0" %>
                      <%= image_pack_tag 'media/images/website/portal.svg', class: "img-fluid py-2" %>

                    </div>
                    <h2 class="lead header"><%= t('website.feature_strip.c.title') %></h2>
                    <h3 class="body"><%= t('website.feature_strip.c.body_html') %></h3>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->

            <div class="card feature-card shadow aos-init aos-animate vw-75" data-aos="fade-up" data-aos-delay="100">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-sm-flex align-items-start text-center text-sm-left">
                  <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
                    <div class="graphic-container">
                      <%#= image_pack_tag 'media/images/website/home.svg', class: "img-fluid img-float-md-6 mb-5 mb-md-0" %>
                      <%= image_pack_tag 'media/images/website/encryption.svg', class: "img-fluid py-2" %>
                    </div>
                    <h2 class="lead header"><%= t('website.feature_strip.d.title') %></h2>
                    <h3 class="body"><%= t('website.feature_strip.d.body_html') %></h3>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->



          </div>

      </div><!-- /.container -->
    </section><!-- /.feature -->
    </div>

    <!-- feature -->

    <!-- divider -->
    <section class="position-relative">
      <!-- wave2.svg -->
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="192" viewbox="0 0 1440 240" preserveaspectratio="none">
        <path class="fill-light" fill-rule="evenodd" d="M0 240V0c19.985 5.919 41.14 11.008 63.964 14.89 40.293 6.855 82.585 9.106 125.566 9.106 74.151 0 150.382-6.697 222.166-8.012 13.766-.252 27.51-.39 41.21-.39 99.76 0 197.087 7.326 282.907 31.263C827.843 72.527 860.3 117.25 906.926 157.2c43.505 37.277 115.38 51.186 208.485 53.076 7.584.153 15.156.224 22.714.224 40.887 0 81.402-2.062 121.914-4.125 40.512-2.062 81.027-4.125 121.902-4.125 1.01 0 2.019.002 3.03.004 16.208.042 34.959.792 55.029 2.234V240H0z"></path>
      </svg>
    </section><!-- /divider -->
    <!-- feature -->
    <section class="position-relative pb-5 bg-light">
      <!-- .sticker -->
      <div class="sticker">
        <div class="sticker-item sticker-top-right sticker-soften">
          <%= image_pack_tag 'media/images/website/cubes.svg', 'data-aos': "zoom-in" %>
        </div>
        <div class="sticker-item sticker-bottom-left sticker-soften scale-150">
          <%= image_pack_tag 'media/images/website/cubes.svg', 'data-aos': "zoom-in" %>
        </div>
      </div><!-- /.sticker -->
      <!-- .container -->
      <div class="container position-relative">
<!--        <span class="callout-header">-->
<!--          <span class="pin-title font-weight-bold">56.000 €</span>-->
<!--        </span>-->
        <p>
        <span id="features" class="callout-header">
          <span class="text-center text-sm-left color-black letter-spacing-soft font-large pin-title font-weight-bold no-wrap"><%= t('website.benefits.header') %></span>
        </span>
        </p>
        <p class="lead text-muted color-grey text-center text-sm-left mb-5"><%= t('website.benefits.subheader') %></p><!-- .card-deck -->
        <div class="card-deck-lg">
          <!-- .card -->
          <div class="card shadow" data-aos="fade-up" data-aos-delay="0">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/office.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.a.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.a.body_html', BRANDNAME: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card shadow" data-aos="fade-up" data-aos-delay="100">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/privacy.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.b.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.b.body_html') %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
        <!-- .card-deck -->
        <div class="card-deck-lg">
          <!-- .card -->
          <div class="card shadow" data-aos="fade-up" data-aos-delay="200">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/server.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.c.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.c.body_html', BRANDNAME: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card shadow" data-aos="fade-up" data-aos-delay="300">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/clients.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.d.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.d.body_html') %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
        <!-- .card-deck -->
        <div class="card-deck-lg">
          <!-- .card -->
          <div class="card shadow" data-aos="fade-up" data-aos-delay="400">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/showing.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.e.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.e.body_html', BRANDNAME: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card shadow" data-aos="fade-up" data-aos-delay="500">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/website.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.f.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.f.body_html', BRANDNAME: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
      </div><!-- /.container -->
    </section><!-- /feature -->
    <!-- feature -->
    <section class="position-relative py-5 bg-light">
      <!-- .sticker -->
      <div class="sticker">
        <div class="sticker-item sticker-top-right sticker-soften translate-x-50">
          <%= image_pack_tag 'media/images/website/bubble1.svg', 'data-aos': "fade-left" %>
        </div>
      </div><!-- /.sticker -->
      <!-- .container -->
      <div id="pricing" class="container position-relative">
        <h2 class="text-center"><%= t('website.pricing.header') %></h2>
        <p class="lead text-muted text-center mb-5"><%= t('website.pricing.subheader') %></p><!-- .row -->
        <div class="row align-items-center">

          <div class="col-md-6 offset-md-3 py-md-4 pr-md-0">
            <div class="card font-size-lg shadow-lg" data-aos="fade-up">
              <h5 class="card-header text-center text-success p-4 px-lg-5"><%= t('website.pricing.full_version') %></h5>
              <div class="card-body p-4 p-lg-5">
                <h3 class="display-3 text-center">
                  <strong><%= t('website.pricing.offer', month: next_month_name) %></strong>
                </h3>
              </div>
              <div class="p-2">
                <%= link_to t('website.pricing.cta'), new_account_url, class: 'btn btn-primary btn-lg btn-block' %>
              </div>
            </div>
          </div>

          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /feature -->

    <!-- call to action -->
    <section class="py-5 position-relative bg-light">
      <!-- .sticker -->
      <div class="sticker">
        <div class="sticker-item sticker-bottom-left w-100">
          <!-- wave1.svg -->
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="120" viewbox="0 0 1440 240" preserveaspectratio="none">
            <path class="fill-black" fill-rule="evenodd" d="M1070.39 25.041c107.898 11.22 244.461 20.779 369.477 51.164L1440 240H0L.133 72.135C350.236-17.816 721.61-11.228 1070.391 25.04z"></path>
          </svg>
        </div>
      </div><!-- /.sticker -->
      <!-- .container -->
      <div id="contact" class="container">
        <!-- .card -->
        <div class="card bg-success text-white position-relative overflow-hidden shadow rounded-lg p-4 mb-0" data-aos="fade-up">
          <!-- .sticker -->
          <div class="sticker">
            <div class="sticker-item sticker-middle-left">
              <%= image_pack_tag 'media/images/website/bubble4.svg', class: 'flip-y' %>
            </div>
          </div><!-- /.sticker -->
          <!-- .card-body -->
          <div class="card-body d-md-flex justify-content-between align-items-center text-center position-relative">
            <h2 class="font-weight-normal text-white mb-3 mb-md-0 mr-md-3"><%= t('website.questions.header') %></h2>
            <%#= link_to 'Sign up now!', new_account_url(subdomain: nil), class: 'btn btn-lg btn-primary' %>
            <%= link_to t('website.questions.cta'), "mailto:#{SUPPORT_MAIL}", target: "_blank", class: 'btn btn-lg btn-primary shadow' %>
<!--            <a class="btn btn-lg btn-primary shadow" href="https://goo.gl/forms/2jb1vgCKkg8sdqld2"><%#= t('website.questions.cta') %></a>-->
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.container -->
    </section><!-- /call to action -->
    <!-- footer -->
    <section class="py-5 bg-black text-white">
      <!-- .container -->
      <div class="container">
        <p class="text-muted text-center mt-5"><%= BRANDNAME %> © <%= Date.current.year %> • <%= t('website.rights') %> • <%= t('website.footer_html') %> •
          <span>
          <% if I18n.locale.downcase.to_s == 'en' %>
            <%= content_tag(:span, 'EN') %> | <%= link_to('ΕΛ', landing_root_url(locale: 'el'), class: '') %>
          <% else %>
            <%= link_to('EN', landing_root_url(locale: 'en'), class: '') %> | <%= content_tag(:span, 'ΕΛ') %>
          <% end %>
        </span></p>

      </div><!-- /.container -->
    </section><!-- /footer -->
  </main><!-- /.app -->
<% end %>




