<% content_for :landing do %>
  <!-- .app -->
  <main class="app app-site website">
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a
      class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and
      security.
    </div>
    <![endif]-->
    <!-- site header -->
    <!-- .navbar -->
    <nav class="navbar navbar-expand-lg navbar-light py-4" data-aos="fade-in">
      <!-- .container -->
      <div class="container">
        <!-- .hamburger -->
        <button class="hamburger hamburger-squeeze hamburger-light d-flex d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /.hamburger -->
        <!-- .navbar-brand -->
        <a class="navbar-brand ml-auto mr-0" href="#">
          <svg width="220" height="32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <path d="M3.413692 24.7456047v-9.2594566h.6153437l6.4611081 9.2594566h4.1755461l-7.0031966-9.6403836c1.5041734-.3223229 2.7153259-1.0597585 3.6334577-2.2123069.9181318-1.1525484 1.3771976-2.529746 1.3771976-4.131593 0-2.0511454-.7325519-3.7018291-2.1976558-4.952051C9.147132 2.6860237 6.9885456 2.1244005 3.9997336 2.1244005H0v22.6212041h3.413692zm1.084177-12.2336175H3.413692v-7.179009h1.2160363c3.1450897 0 4.7176345 1.157432 4.7176345 3.4722962 0 2.4711419-1.616498 3.7067128-4.8494939 3.7067128zm18.841236 12.6438466c.7423193 0 1.4309181-.0781389 2.0657964-.2344166.6348784-.1562778 1.2258036-.4029036 1.7727757-.7398775.5469722-.3369739 1.0597585-.7667377 1.5383591-1.2892914.4786006-.5225538.9327828-1.1501066 1.3625466-1.8826585l-2.7836973-1.5530102c-.6739478 1.0548748-1.2746404 1.7776594-1.8020778 2.1683538-.5372048.3906944-1.2160363.5860416-2.0364944.5860416-1.0548748 0-1.9192861-.3418576-2.5932339-1.0255728-.6739478-.6934825-1.0548748-1.6262653-1.1427811-2.7983484h10.2264252l.014651-.7765051c0-2.3539335-.6055762-4.1950808-1.8167288-5.5234416-1.2209199-1.3381282-2.881371-2.0071923-4.9813532-2.0071923-2.0804475 0-3.750666.6885988-5.0106553 2.0657964-1.250222 1.3967324-1.875333 3.2232286-1.875333 5.4794886 0 2.2757947.6446457 4.1022909 1.9339371 5.4794885 1.2892915 1.3674303 2.9985793 2.0511455 5.1278637 2.0511455zm3.2232285-9.4645711h-6.6222696c.107441-.4102291.2637187-.7765051.4688333-1.098828.2051145-.3223228.4517403-.5982507.7398774-.8277837.2881371-.2295329.6080182-.4053454.9596431-.5274374.3516249-.122092.7276683-.1831379 1.12813-.1831379 1.7581246 0 2.8667199.8790623 3.3257858 2.637187zm13.1273309 9.4645711c1.5627774 0 3.0229976-.6348784 4.3806606-1.9046351v1.494406h3.3111348V10.4754928H44.070325v1.6555674c-1.3185935-1.3674303-2.8081158-2.0511454-4.4685669-2.0511454-1.9241697 0-3.5260167.7130172-4.8055407 2.1390516-1.2795241 1.4260345-1.9192861 3.2085776-1.9192861 5.3476292 0 2.1781211.639762 3.99485 1.9192861 5.4501865 1.2892914 1.4260345 2.9204404 2.1390517 4.893447 2.1390517zm.4981353-2.9448588c-1.1427811 0-2.0902149-.4346475-2.8423016-1.3039425-.7325519-.8595276-1.0988279-1.9730066-1.0988279-3.3404369 0-1.279524.3760433-2.3539336 1.12813-3.2232285.761854-.8595276 1.7092879-1.2892914 2.8423016-1.2892914 1.2013851 0 2.1781211.4248801 2.9302077 1.2746403.7520867.869295 1.12813 1.9730066 1.12813 3.3111348s-.3760433 2.4418398-1.12813 3.3111348c-.7520866.8399929-1.7385899 1.2599894-2.9595098 1.2599894zm14.6510389 2.5346297V0h-3.2964838v24.7456047h3.2964838zm7.5745871 0V13.552211h2.5639318v-3.0767182h-2.5639318V5.2450719h-3.2964838v5.2304209h-1.4064997v3.0767182h1.4064997v11.1933937h3.2964838zm26.3425679 0V17.34683c0-2.7153258.8985971-4.0729888 2.6957912-4.0729888.5958089 0 1.2062688.2246493 1.8313798.6739478l1.509057-3.018114c-.9474338-.5665068-1.8557982-.8497602-2.7250932-.8497602-.6544131 0-1.2209199.1220919-1.6995205.3662759-.4688333.2344167-1.006038.6690641-1.6116143 1.3039425v-1.2746404h-3.2964837v14.2701119h3.2964837zm21.2293554 0v-9.1862014h1.582312c2.353934 0 4.224383-.6055763 5.611348-1.8167288 1.386965-1.2111526 2.080448-2.8520689 2.080448-4.922749 0-1.9339372-.64953-3.5357841-1.948589-4.8055408-.742319-.732552-1.601847-1.2306873-2.578582-1.494406-.966969-.2637187-2.397887-.395578-4.292755-.395578h-3.867874v22.621204h3.413692zm1.27464-12.3508258h-1.27464V5.274374h1.12813c3.232996 0 4.849494 1.1671994 4.849494 3.5015983 0 2.4125377-1.567661 3.6188066-4.702984 3.6188066zm23.192595 13.3910495l6.695525-14.694992 2.183004 13.6547683h3.501599L142.554608.4248801l-8.04342 17.5812467L126.746137.4248801l-4.761587 24.3207246h3.5309l2.432073-13.6694193 6.505061 14.709643zm23.26585-.6299946c2.07068 0 3.804386-.6837152 5.201118-2.0511455C164.306517 21.7470254 165 20.0279702 165 17.9475226c0-1.5530101-.42488-2.8642781-1.27464-3.9338039-.849761-1.0695258-2.192773-1.9754484-4.029036-2.7177677l-2.25626-.9230155c-1.640916-.6739477-2.461375-1.5627775-2.461375-2.666489 0-.8009235.312556-1.465104.937667-1.9925413.625111-.5372048 1.411383-.8058072 2.358817-.8058072.771622 0 1.401616.1562778 1.889984.4688333.468833.273486.962085.8595276 1.479755 1.7581246l2.769046-1.6409163c-1.465103-2.5395134-3.501598-3.8092701-6.109483-3.8092701-1.933937 0-3.550435.5762742-4.849494 1.7288226-1.299058 1.142781-1.948588 2.5639318-1.948588 4.2634523 0 2.5199787 1.548127 4.4343811 4.64438 5.7432072l2.183004.9083644c.566507.244184 1.054875.5005772 1.465104.7691796.410229.2686024.744761.5567395 1.003596.8644113.258835.3076718.449299.6446457.571391 1.0109217.122092.3662759.183138.7691795.183138 1.2087107 0 1.0939442-.351625 1.9974249-1.054875 2.7104422-.70325.7130172-1.587196 1.0695258-2.651838 1.0695258-1.347896 0-2.373468-.488368-3.076718-1.4651039-.390695-.5079027-.664181-1.4260344-.820458-2.7543953l-3.457646.761854c.312556 2.1097496 1.098828 3.7457823 2.358818 4.908098 1.279524 1.1623158 2.900905 1.7434737 4.864145 1.7434737z" id="a"/>
            </defs>
            <g fill="#000" fill-rule="nonzero">
              <g transform="translate(.071289 .959961)">
                <use xlink:href="#a"/>
                <use xlink:href="#a"/>
              </g>
              <path d="M82.6235352 16.1782227l-1.2297364-.267334c-.1069336-.3273926-.2393799-.6467285-.3957519-.9543457l.6807861-1.05896c.121582-.189209.0948486-.437622-.0640869-.5965576l-1.9157715-1.9157715c-.1589355-.1589355-.4073486-.185669-.5965576-.0640869l-1.05896.6807861c-.3076172-.156372-.6269531-.2888183-.9543457-.395752l-.267334-1.2297363C76.7740478 10.1567383 76.5794678 10 76.3546143 10h-2.7092286c-.2248535 0-.4194335.1567383-.467163.3764648l-.267334 1.2297364c-.3273926.1069336-.6467285.2393799-.9543457.395752l-1.05896-.6807862c-.189209-.121582-.437622-.0948486-.5965576.064087l-1.9157715 1.9157714c-.1589355.1589355-.185669.4073486-.0640869.5965576l.6807861 1.05896c-.156372.3076172-.2888184.626953-.395752.9543457l-1.2297363.267334C67.1567383 16.2260742 67 16.4205322 67 16.6453857v2.7092285c0 .2248536.1567383.4193116.3764648.4671631l1.2297364.267334c.1069335.3273926.2393799.6467285.395752.9543457l-.6807862 1.05896c-.121582.189209-.0948486.4376221.064087.5965576l1.9157714 1.9157715c.1589355.1589355.4073486.1856689.5965576.0640869l1.05896-.6807861c.3076172.156372.626953.2888183.9543457.3957519l.267334 1.2297364c.0477295.2197265.2423095.3764648.467163.3764648h2.7092285c.2248536 0 .4194336-.1567383.4671631-.3764648l.267334-1.2297364c.3273926-.1069336.6467285-.2393799.9543457-.3957519l1.05896.6807861c.189209.121582.4376221.0949707.5965576-.0640869l1.9157715-1.9157715c.1589355-.1589355.1856689-.4073486.0640869-.5965576l-.6807861-1.05896c.156372-.3076172.2888183-.6269531.3957519-.9543457l1.2297364-.267334C82.8432617 19.7739258 83 19.5794678 83 19.3546143v-2.7092286c0-.2248535-.1567383-.4193115-.3764648-.467163zM77.8685303 18c0 1.581665-1.2868653 2.8685303-2.8685303 2.8685303S72.1314697 19.581665 72.1314697 18 73.418335 15.1314697 75 15.1314697 77.8685303 16.418335 77.8685303 18z"/>
            </g>
          </svg>

        </a> <!-- /.navbar-brand -->

        <% if logged_in? %>
          <a class="navbar-btn btn btn-outline-danger ml-auto order-lg-2" href="<%= redirect_to_app_url %>"><%= t('website.nav.app') %></a> <!-- .navbar-collapse -->
        <% else %>
          <a class="navbar-btn btn btn-lg btn-cta ml-auto order-lg-2" href="<%= new_account_url %>"><%= t('website.nav.signup') %></a> <!-- .navbar-collapse -->
          <a class="navbar-btn btn ml-auto order-lg-2" href="<%= login_url %>"><%= t('website.nav.signin') %></a> <!-- .navbar-collapse -->
        <% end %>

        <div class="navbar-collapse collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item mr-lg-3">
              <a class="nav-link py-2 black-color" href="#features"><%= t('website.nav.features') %></a>
            </li>
            <li class="nav-item mr-lg-3">
              <a class="nav-link py-2 black-color" href="#pricing"><%= t('website.nav.subscription') %></a>
            </li>
            <li class="nav-item mr-lg-3">
              <a class="nav-link py-2 black-color" href="#contact"><%= t('website.nav.contact') %></a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    <!-- /site header -->
    <!-- hero -->
    <div class="hero-section">
    <section class="py-3">
      <!-- .container -->
      <div class="container container-fluid-xl">
        <!-- .row -->
        <div class="row align-items-center">
          <!-- .col-md-6 -->

          <!-- SVG SUN -->
          <div class="col-12 d-lg-block d-none col-lg-5 order-md-2" data-aos="fade-left">
            <svg id="sun" width="80" height="80" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 80px; height: 80px;">
              <g class="line-sun1-rotate" style="animation-duration: 60s;">
                <circle class="stroke1 fill1" cx="49.7501" cy="50" r="24" fill="rgba(248,231,28,1)" stroke="rgba(0,0,0,1)" stroke-width="6.0px"></circle>
                <path class="line-sun1-a stroke2" d="M49.7501 21.5V14" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-b stroke2" d="M49.7501 85.5V78" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-c stroke2" d="M74.2153 35.625L80.7104 31.875" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-d stroke2" d="M18.7897 67.625L25.2849 63.875" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-e stroke2" d="M74.2153 63.875L80.7104 67.625" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-f stroke2" d="M18.7897 31.875L25.2849 35.625" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-g stroke2" d="M70.1251 14.4594L63.8751 25.2847" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-h stroke2" d="M29.3751 85.0406L35.6251 74.2153" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-i stroke2" d="M90.5002 49.75L78.0002 49.75" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-j stroke2" d="M9 49.75L21.5 49.75" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-k stroke2" d="M70.1251 85.0406L63.8751 74.2153" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
                <path class="line-sun1-l stroke2" d="M29.3751 14.4594L35.6251 25.2847" stroke="#000" stroke-width="6.0px" stroke-linecap="round"></path>
              </g>
            </svg>

            <!-- SVG CLOUD -->
            <svg id="clouds" class="solo-cloud" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
              <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z" />
            </svg>

            <!-- SVG BACKGROUND -->
            <%= image_pack_tag 'media/images/website/cityscape_w_background.svg', class: "img-fluid img-float-md-6 mb-5 mb-md-0" %>
          </div><!-- /.col-md-6 -->
          <!-- .col-md-6 -->
          <div class="col-12 col-lg-7 order-md-1" data-aos="fade-in">
            <div class="pl-xl-3 ml-auto text-center text-sm-left">
              <h1 class="display-4 enable-responsive-font-size mb-4">
                <%= t('website.hero1') %><br><%= t('website.hero2') %></h1>
              <p class="px-4 lead text-center mb-5"><%= t('website.subheader') %></p>
            </div>
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->

    </section><!-- /hero -->

    <!-- .feature -->
    <section class="py-5">
      <!-- .container -->
      <div class="container container-fluid">

          <div class="card-deck-lg">
            <!-- .card -->
            <div class="card feature-card shadow aos-init aos-animate vw-75" data-aos="fade-up" data-aos-delay="0">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-sm-flex align-items-start text-center text-sm-left ">
                  <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
                    <div class="graphic-container">
                      <%= image_pack_tag 'media/images/website/engine.svg', class: "img-fluid py-2" %>
                    </div>
                    <h2 class="lead header"><%= t('website.feature_strip.a.title') %></h2>
                    <h3 class="body"><%= t('website.feature_strip.a.body_html') %></h3>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->
            <!-- .card -->
            <div class="card feature-card shadow aos-init aos-animate vw-75" data-aos="fade-up" data-aos-delay="100">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-sm-flex align-items-start text-center text-sm-left">
                  <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
                    <div class="graphic-container">
<!--                      <div className="d-flex justify-content-center mt-2">-->
<!--                        <i className="pr-icon md search" />-->
<!--                      </div>-->
                      <%= image_pack_tag 'media/images/website/partners.svg', class: "img-fluid py-2" %>
<!--                      <img class="mb-4" src="assets/images/illustration/lab.svg" alt="" height="72">-->
                    </div>
                    <h2 class="lead header"><%= t('website.feature_strip.b.title') %></h2>
                    <h3 class="body"><%= t('website.feature_strip.b.body_html') %></h3>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->

            <div class="card feature-card shadow aos-init aos-animate vw-75" data-aos="fade-up" data-aos-delay="100">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-sm-flex align-items-start text-center text-sm-left">
                  <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
                    <div class="graphic-container">
                      <%#= image_pack_tag 'media/images/website/home.svg', class: "img-fluid img-float-md-6 mb-5 mb-md-0" %>
                      <%= image_pack_tag 'media/images/website/portal.svg', class: "img-fluid py-2" %>

                    </div>
                    <h2 class="lead header"><%= t('website.feature_strip.c.title') %></h2>
                    <h3 class="body"><%= t('website.feature_strip.c.body_html') %></h3>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->

            <div class="card feature-card shadow aos-init aos-animate vw-75" data-aos="fade-up" data-aos-delay="100">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-sm-flex align-items-start text-center text-sm-left">
                  <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
                    <div class="graphic-container">
                      <%#= image_pack_tag 'media/images/website/home.svg', class: "img-fluid img-float-md-6 mb-5 mb-md-0" %>
                      <%= image_pack_tag 'media/images/website/encryption.svg', class: "img-fluid py-2" %>
                    </div>
                    <h2 class="lead header"><%= t('website.feature_strip.d.title') %></h2>
                    <h3 class="body"><%= t('website.feature_strip.d.body_html') %></h3>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->



          </div>

      </div><!-- /.container -->
    </section><!-- /.feature -->
    </div>

    <!-- feature -->

    <!-- divider -->
    <section class="position-relative">
      <!-- wave2.svg -->
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="192" viewbox="0 0 1440 240" preserveaspectratio="none">
        <path class="fill-light" fill-rule="evenodd" d="M0 240V0c19.985 5.919 41.14 11.008 63.964 14.89 40.293 6.855 82.585 9.106 125.566 9.106 74.151 0 150.382-6.697 222.166-8.012 13.766-.252 27.51-.39 41.21-.39 99.76 0 197.087 7.326 282.907 31.263C827.843 72.527 860.3 117.25 906.926 157.2c43.505 37.277 115.38 51.186 208.485 53.076 7.584.153 15.156.224 22.714.224 40.887 0 81.402-2.062 121.914-4.125 40.512-2.062 81.027-4.125 121.902-4.125 1.01 0 2.019.002 3.03.004 16.208.042 34.959.792 55.029 2.234V240H0z"></path>
      </svg>
    </section><!-- /divider -->
    <!-- feature -->
    <section class="position-relative pb-5 bg-light">
      <!-- .sticker -->
      <div class="sticker">
        <div class="sticker-item sticker-top-right sticker-soften">
          <%= image_pack_tag 'media/images/website/cubes.svg', 'data-aos': "zoom-in" %>
        </div>
        <div class="sticker-item sticker-bottom-left sticker-soften scale-150">
          <%= image_pack_tag 'media/images/website/cubes.svg', 'data-aos': "zoom-in" %>
        </div>
      </div><!-- /.sticker -->
      <!-- .container -->
      <div class="container position-relative">
<!--        <span class="callout-header">-->
<!--          <span class="pin-title font-weight-bold">56.000 €</span>-->
<!--        </span>-->
        <p>
        <span id="features" class="callout-header">
          <span class="text-center text-sm-left color-black letter-spacing-soft font-large pin-title font-weight-bold no-wrap"><%= t('website.benefits.header') %></span>
        </span>
        </p>
        <p class="lead text-muted color-grey text-center text-sm-left mb-5"><%= t('website.benefits.subheader') %></p><!-- .card-deck -->
        <div class="card-deck-lg">
          <!-- .card -->
          <div class="card shadow" data-aos="fade-up" data-aos-delay="0">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/office.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.a.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.a.body_html', BRANDNAME: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card shadow" data-aos="fade-up" data-aos-delay="100">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/privacy.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.b.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.b.body_html') %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
        <!-- .card-deck -->
        <div class="card-deck-lg">
          <!-- .card -->
          <div class="card shadow" data-aos="fade-up" data-aos-delay="200">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/server.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.c.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.c.body_html', BRANDNAME: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card shadow" data-aos="fade-up" data-aos-delay="300">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/clients.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.d.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.d.body_html') %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
        <!-- .card-deck -->
        <div class="card-deck-lg">
          <!-- .card -->
          <div class="card shadow" data-aos="fade-up" data-aos-delay="400">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/showing.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.e.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.e.body_html', BRANDNAME: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card shadow" data-aos="fade-up" data-aos-delay="500">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <%= image_pack_tag 'media/images/website/website.svg', class: 'mr-sm-4 mb-3 mb-sm-0', width: "72" %>
                <div class="flex-fill">
                  <h5 class="mt-0"><%= t('website.benefits.f.title') %></h5>
                  <p class="text-muted font-size-lg"><%= t('website.benefits.f.body_html', BRANDNAME: BRANDNAME) %></p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
      </div><!-- /.container -->
    </section><!-- /feature -->
    <!-- feature -->
    <section class="position-relative py-5 bg-light">
      <!-- .sticker -->
      <div class="sticker">
        <div class="sticker-item sticker-top-right sticker-soften translate-x-50">
          <%= image_pack_tag 'media/images/website/bubble1.svg', 'data-aos': "fade-left" %>
        </div>
      </div><!-- /.sticker -->
      <!-- .container -->
      <div id="pricing" class="container position-relative">
        <h2 class="text-center"><%= t('website.pricing.header') %></h2>
        <p class="lead text-muted text-center mb-5"><%= t('website.pricing.subheader') %></p><!-- .row -->
        <div class="row align-items-center">

          <div class="col-md-6 offset-md-3 py-md-4 pr-md-0">
            <div class="card font-size-lg shadow-lg" data-aos="fade-up">
              <h5 class="card-header text-center text-success p-4 px-lg-5"><%= t('website.pricing.full_version') %></h5>
              <div class="card-body p-4 p-lg-5">
                <h3 class="display-3 text-center">
                  <strong><%= t('website.pricing.offer', month: next_month_name) %></strong>
                </h3>
              </div>
              <div class="p-2">
                <%= link_to t('website.pricing.cta'), new_account_url, class: 'btn btn-primary btn-lg btn-block' %>
              </div>
            </div>
          </div>

          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /feature -->

    <!-- call to action -->
    <section class="py-5 position-relative bg-light">
      <!-- .sticker -->
      <div class="sticker">
        <div class="sticker-item sticker-bottom-left w-100">
          <!-- wave1.svg -->
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="120" viewbox="0 0 1440 240" preserveaspectratio="none">
            <path class="fill-black" fill-rule="evenodd" d="M1070.39 25.041c107.898 11.22 244.461 20.779 369.477 51.164L1440 240H0L.133 72.135C350.236-17.816 721.61-11.228 1070.391 25.04z"></path>
          </svg>
        </div>
      </div><!-- /.sticker -->
      <!-- .container -->
      <div id="contact" class="container">
        <!-- .card -->
        <div class="card bg-success text-white position-relative overflow-hidden shadow rounded-lg p-4 mb-0" data-aos="fade-up">
          <!-- .sticker -->
          <div class="sticker">
            <div class="sticker-item sticker-middle-left">
              <%= image_pack_tag 'media/images/website/bubble4.svg', class: 'flip-y' %>
            </div>
          </div><!-- /.sticker -->
          <!-- .card-body -->
          <div class="card-body d-md-flex justify-content-between align-items-center text-center position-relative">
            <h2 class="font-weight-normal text-white mb-3 mb-md-0 mr-md-3"><%= t('website.questions.header') %></h2>
            <%#= link_to 'Sign up now!', new_account_url(subdomain: nil), class: 'btn btn-lg btn-primary' %>
            <%= link_to t('website.questions.cta'), "mailto:#{SUPPORT_MAIL}", target: "_blank", class: 'btn btn-lg btn-primary shadow' %>
<!--            <a class="btn btn-lg btn-primary shadow" href="https://goo.gl/forms/2jb1vgCKkg8sdqld2"><%#= t('website.questions.cta') %></a>-->
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.container -->
    </section><!-- /call to action -->
    <!-- footer -->
    <section class="py-5 bg-black text-white">
      <!-- .container -->
      <div class="container">
        <p class="text-muted text-center mt-5"><%= BRANDNAME %> © <%= Date.current.year %> • All Rights reserved</p>
      </div><!-- /.container -->
    </section><!-- /footer -->
  </main><!-- /.app -->
<% end %>




