<div class="center jumbotron pr-container">

  <% if logged_in? %>

      <p><strong>You are currently logged in as <u><%= current_user.email %></u></strong></p>
      <% if @subdomain.blank? %>
          <p><strong>Continue to the <%= link_to 'App', account_list_url%></strong></p>
      <% else %>
          <p><strong>Continue to the <%= link_to 'App', root_url(subdomain: @subdomain)%></strong></p>
      <% end %>

  <% else %>

      <h1>Landia</h1>
      <h2>Account action screen</h2>
      <%= link_to 'Sign up now!', new_account_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'Login!', login_path, class: 'btn btn-lg btn-primary' %>

  <% end %>


  <%#= link_to 'Sign up now!', new_account_path, class: 'btn btn-lg btn-primary' %>
</div>

<%#= link_to image_tag('rails.png', alt: 'Rails logo'), 'http://rubyonrails.org/' %>




