<% content_for :website do %>
  <% if logged_in? %>
    <% if current_account.website_enabled.blank? %>
      <div class="callout-website text-center mt-5">
        <div class="callout-website text-center mt-5"><h4><mark><%= t('website_disabled_html') %></mark></h4></div>
        <div class="callout-picture mt-4"><img class="rounded mx-auto d-block" src="<%= asset_pack_path('media/images/disconnect.svg') %>" /></div>
      </div>
    <% else %>
      <%= render 'accounts/websites/website' %>
    <% end %>
  <% else %>
    <% if current_account.website_enabled.blank? %>
      <div class="callout-website text-center mt-5">
        <div class="callout-website text-center mt-5"><h4><mark><%= t('nothing_to_see') %></mark></h4></div>
        <div class="callout-picture mt-4"><img class="rounded mx-auto d-block" src="<%= asset_pack_path('media/images/disconnect.svg') %>" /></div>
      </div>
    <% else %>
      <%= render 'accounts/websites/website' %>
    <% end %>
  <% end %>
<% end %>
