<% content_for :subscription do %>
  <main class="app app-site website">
    <div class="container container-fluid-xl">
      <!-- .row -->
      <div class="d-flex justify-content-center">

          <div class="col-12 col-md-5 py-md-4 pl-md-0">
            <div class="card font-size-lg card-inverse bg-grey shadow" >
                <% if logged_in? %>
                <h5 class="card-header text-center p-4 px-lg-5"><%= t('website.pricing.paid_license.title') %> - <%= current_user.owned_accounts.first.name %></h5>
                <% else %>
                <h5 class="card-header text-center p-4 px-lg-5"><%= t('website.pricing.paid_license.title') %></h5>
                <% end %>

              <div class="card-body px-4 px-lg-5">
                <h3 class="display-3 text-center color-gold">
                  <%= t('website.pricing.paid_license.motto') %>
                </h3>
                <p class="text-center text-muted-light mb-5"><%= t('website.pricing.paid_license.header') %></p>
                <ul class="list-icons">
                  <li class="mb-2 pl-1">
                    <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet1') %></li><li class="mb-2 pl-1">
                  <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet2') %></li><li class="mb-2 pl-1">
                  <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet3') %></li><li class="mb-2 pl-1">
                  <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet4') %></li><li class="mb-2 pl-1">
                  <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet5') %></li><li class="mb-2 pl-1">
                  <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet6') %></li><li class="mb-2 pl-1">
                  <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet7') %></li><li class="mb-2 pl-1">
                  <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet8') %></li><li class="mb-2 pl-1">
                  <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet9_html') %></li><li class="mb-2 pl-1">
                  <span class="list-icon"><img class="mr-2" src="<%= asset_pack_path('media/images/check.svg') %>" alt="" width="16"></span><%= t('website.pricing.paid_license.bullet10') %></li><li class="mb-2 pl-1">
                </ul>
              </div>
              <div class="card-footer justify-content-center py-3">
                <% if logged_in? %>
                  <a href="#!" class="paddle_button"
                     data-product="12345"
                     data-email="<%= current_user.email %>"
                     data-success="<%= subscription_completed_path %>"
                  >
                      <%= t('website.activate') %>
                  </a>
                <% else %>
                  <a href="<%= new_account_url %>" class="card-footer-item p-4 px-lg-5 color-white"><strong><%= t('website.pricing.cta_start_free') %></strong></a>
                <% end %>
              </div>
            </div>
          </div><!-- /.col -->


      </div>
    </div>
  </main>
<% end %>