<% provide(:title, t('users.edit.heading')) %>

<%= render partial: 'layouts/breadcrumb', locals: {path: [{:title => t('users.edit.breadcrumb'), :href => users_path}, {:title => @user.full_name, :href => user_path(@user)}, {title: t('users.edit.heading'), :href => ''}], icon: 'house-colored'} %>

<div class="page-container">
  <div class="container">
    <div class="app-container">
    <!-- .card -->
    <div class="card card-fluid">
      <%= render partial: 'shared/card_header/header', locals: {title: @user.full_name, btn_text: t('properties.show.back'), btn_link: :back}  %>
      <!-- .card-body -->
      <div class="card-body">
        <!-- .media -->
        <%= form_for(@user, html: {class: "js-validatable"}) do |f| %>
          <div class="col-lg-6 offset-lg-3 col-md-12">
            <div class="media mb-3">
              <!-- avatar -->
              <div class="user-avatar user-avatar-xl fileinput-button">
                <div class="fileinput-button-label"><%= t('users.edit.change_pic') %></div>

                <%= render_avatar(@user, 'tile-xl', "avatar_preview") %>
                <%= f.file_field :avatar, id: "avatar_upload" %>
              </div><!-- /avatar -->
              <!-- .media-body -->
              <div class="media-body pl-3">
                <h3 class="card-title profile-photo"><%= t('users.edit.photo_header') %></h3>
                <h6 class="card-subtitle text-muted"><%= t('users.edit.photo_subheader') %></h6>
                <p class="card-text">
                  <% if @user.avatar.attached? %>
                    <%= link_to delete_avatar_user_url,
                                method: :delete,
                                class:'no-text-decoration',
                                title: t('users.edit.delete_avatar_tooltip'),
                                data: { confirm: t('users.edit.delete_avatar'), toggle: "tooltip" } do %>
                      <i class="fa fa-trash fa-fw"></i>
                    <% end %>&nbsp;|&nbsp;<small><%= t('users.edit.allowed_pic_specs') %></small>
                  <% else %>
                    <small><%= t('users.edit.allowed_pic_specs') %></small>
                  <% end %>

                </p><!-- The avatar upload progress bar -->
              </div><!-- /.media-body -->
            </div><!-- /.media -->

            <%= render 'accounts/users/form', f: f %>

            <!-- Extended fields -->
            <%= f.fields_for :preferences, OpenStruct.new(@user.preferences) do |builder| %>
              <% @user.model_types.find_by(account: current_account).fields.each do |field| %>
                <%= render "accounts/cfields/#{field.field_type}", field: field, f: builder, vgroup: nil, classes: 'dummy' %>
              <% end %>
            <% end %>

            <hr/>

            <!-- .form-actions -->
            <div class="form-actions">
              <button type="submit" class="btn btn-outline-primary ml-auto"><%= t('users.edit.edit_button') %></button>
            </div> <!-- /.form-actions -->
          </div>

        <% end %> <!-- /form -->

      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div>
  </div>
</div>