<% provide(:title, 'Edit user') %>
<div class="center pr-signup-container pr-container">

  <i class="pr-icon sm edit-user-colored"></i>
  <span class="title"><%= t 'users.edit.heading' %></span>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="pr-form-container">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', locals: {model: @user} %>

            <%= f.label :first_name %>
            <%= f.text_field :first_name, placeholder: 'i.e. John', class: 'glowing-border' %>
            <%= inline_error @user, :first_name, 'First name'%>

            <%= f.label :last_name %>
            <%= f.text_field :last_name, placeholder: 'i.e. Doe', class: 'glowing-border' %>
            <%= inline_error @user, :last_name, 'Last name'%>

            <%= f.label :email %>
            <%= f.email_field :email, placeholder: 'i.e. jdoe@example.com', class: 'glowing-border' %>
            <%= inline_error @user, :email, 'Email'%>

            <%= f.label :age %>
            <%= f.text_field :age, placeholder: User.human_attribute_name("age_placeholder"), class: 'glowing-border' %>
            <%= inline_error @user, :age, 'Age'%>

            <%= f.label :phone1 %>
            <%= f.text_field :phone1, placeholder: User.human_attribute_name("phone1_placeholder"), class: 'glowing-border' %>
            <%= inline_error @user, :phone1, 'Phone'%>

            <%= f.label :locale %>
            <%= f.select :locale, options_for_select(User.lng_list, @user.locale), {}, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, placeholder: User.human_attribute_name("password_placeholder"), class: 'glowing-border' %>
            <%= inline_error @user, :password, 'Password'%>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, placeholder: User.human_attribute_name("password_confirmation_placeholder"), class: 'glowing-border' %>
            <%= inline_error @user, :password_confirmation, 'Password confirmation'%>

            <%= f.submit t('users.edit.save_button'), class: 'btn btn-primary' %>
        <% end %>

      </div>
    </div>
  </div>
</div>