<% provide(:title, t('users.title')) %>

<!-- Notice the use of render partial -->
<%= render layout: 'layouts/breadcrumb', locals: {path: [{:title => t('users.index.breadcrumb'), :href => users_path}], icon: 'house-colored', index: true} do %>
  <div class="action-btns">
    <div class="btn-group btn-group-toggle">
    <%= link_to new_invitation_path, class: 'btn btn-secondary btn-sm' do %>
      <i class="fas fa-envelope fa-fw"></i><span class="d-none d-md-inline">&nbsp;<%= t('partners.invite') %></span>
    <% end %>
    <%= link_to new_user_path, class: 'btn btn-secondary btn-sm' do %>
      <i class="fas fa-plus-circle fa-fw"></i><span class="d-none d-md-inline">&nbsp;<%= t('partners.add') %></span>
    <% end %>
    </div>
  </div>
<% end %>

<div class="page-container">
  <div class="container">
    <div class="app-container">
      <%# Here we call render not on a string with the name of a partial, but rather on a user variable of class User;
          in this context, Rails automatically looks for a partial called _user.html.erb, which we must create.
          This is a definite improvement, but we can do even better: we can call render directly on the @users variable
          Here Rails infers that @users is a list of User objects; moreover, when called with a collection of users,
          Rails automatically iterates through them and renders each one with the _user.html.erb partial
          (inferring the name of the partial from the name of the class). %>
      <%#= render @users %>
        <%= react_component('UsersListWithDatatable', props: {
            initial_payload: {
                status_filter: {
                    options: [{label: t('js.datatables.users.status.active'), value: 'true'}, {label: t('js.datatables.users.status.inactive'), value: 'false'}],
                    storedOption: @initial_purpose
                },
                dataset_wrapper: @personslist,
                results_per_page: @results_per_page,
                total_entries: @total_entries,
                current_page: @current_page,
                initial_search: @initial_search,
                initial_sorting: @initial_sorting,
                initial_ordering: @initial_ordering,
                object_type: 'users',
                users_path: users_path,
                # masquerade_path: new_user_masquerade_path(user),
                cfields: {
                    fields: get_cfields('users'),
                    storedSelections: @initial_cfields,
                    options: cfields_options
                },
            },
            i18n: {
                datatable: t('js.datatables.users'),
                result_count: t('js.datatables.pagination.results'),
                no_results: t('js.datatables.users.no_results'),
                search: t('js.users_search.placeholder'),
                clear: t('js.datatables.clear'),
                loading: t('loading'),
                filters: {
                    title: t('js.datatables.filters.title'),
                    status: {
                        title: t('js.datatables.filters.status.title'),
                        active: t('js.datatables.filters.status.active'),
                        inactive: t('js.datatables.filters.status.inactive')
                    }
                },
                modal: {
                    mass_actions: {
                      title: t('js.components.modal.mass_actions.title'),
                      close_btn: t('js.components.modal.mass_actions.close_btn'),
                    }
                },
                button: {
                    tooltip: t('js.components.modal.mass_actions.tooltip')
                },
                cfields: {
                    select_prompt: t('cfields.choose'),
                    text_prompt: t('cfields.text_placeholder')
                }
            },
            meta: {
                freeze_link:  toggle_activation_user_url('USERID'),
                adminify_link: toggle_adminify_user_url('USERID'),
                mass_delete_users_link: mass_delete_users_url,
                mass_freeze_users_link: mass_freeze_users_url,
                is_account_owner: current_user.is_owner?(current_account) || current_user.is_sysadmin?
            }
          }, prerender: false) %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>