<% provide(:title, t('users.new.heading')) %>

<%= render partial: 'layouts/breadcrumb', locals: {path: [{:title => t('users.index.breadcrumb'), :href => users_path}, {:title => t('users.new.heading_alt'), :href => ''}], icon: 'house-colored'} %>


<div class="page-container">
  <div class="container">
    <div class="app-container">
    <!-- .card -->
    <div class="card card-fluid">
      <h2 class="card-header"> <%= t('users.new.profile') %> </h2>
      <!-- .card-body -->
      <div class="card-body">
        <!-- form -->
        <%= form_for(@user, html: {class: "js-validatable"}) do |f| %>
          <div class="col-lg-6 offset-lg-3 col-md-12">

            <%= render 'accounts/users/form', f: f %>

            <hr />
            <!-- .form-group ONLY FOR NEWLY CREATED USER -->
            <div class="form-group">
              <div class="list-group-item d-flex justify-content-between align-items-center">
                <strong><%= t('users.new.assign_all') %></strong> <!-- .switcher-control -->
                <label class="switcher-control switcher-control-lg switcher-control-success">
                  <%= f.check_box(:multi_assign, {class: "switcher-input", type: 'checkbox'}) %>
                  <span class="switcher-indicator"></span>
                  <span class="switcher-label-on"><%= t('true_upcase') %></span>
                  <span class="switcher-label-off"><%= t('false_upcase') %></span>
                </label> <!-- /.switcher-control -->
              </div>

<!--              <div class="custom-control custom-control-inline custom-radio">-->
                <%#= f.radio_button :yolo, false, class: 'custom-control-input' %>
                <%#= f.label "yolo", t('users.new.assign_all'), class: "custom-control-label" %>
<!--              </div>-->
<!--              <div class="custom-control custom-control-inline custom-radio">-->
                <%#= f.radio_button :yolo, true, class: 'custom-control-input' %>
                <%#= f.label "yolo", t('users.new.assign_none'), class: "custom-control-label" %>
<!--              </div>-->

            </div>
            <!-- /.form-group -->

            <!-- Extended fields -->
            <%= f.fields_for :preferences, OpenStruct.new(@user.preferences) do |builder| %>
              <!-- That's a workaround to render an account's custom fields without actually creating an entry in model_types_users
                   since we don't yet know if the user will be created or not. -->
              <% current_account.model_types.find_by(name: 'users').fields.each do |field| %>
                <%= render "accounts/cfields/#{field.field_type}", field: field, f: builder, vgroup: nil, classes: 'dummy' %>
              <% end %>
            <% end %>

            <hr/>

            <!-- .form-actions -->
            <div class="form-actions">
              <button type="submit" class="btn btn-primary ml-auto"><%= t('users.new.new_button') %></button>
            </div> <!-- /.form-actions -->
          </div>

        <% end %> <!-- /form -->

      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div>
  </div>
</div>