<% provide(:title, t('users.show.heading')) %>

<!-- Notice the use of render partial -->
<%= render layout: 'layouts/breadcrumb', locals: {path: [{:title => t('users.show.breadcrumb'), :href => users_path}, {title: @user.full_name, :href => ''}], icon: 'house-colored'} do %>
  <div class="action-btns">
    <div class="btn-group btn-group-toggle">
      <% if current_user.is_admin?(current_account) %>
        <%= link_to edit_user_path(@user), class: 'btn btn-secondary btn-sm editable' do %>
          <i class="fas fa-pen fa-fw"></i>
          <span class="d-none d-lg-inline">&nbsp;<%= t 'properties.edit.edit_button_alt' %></span>
        <% end %>
        <%= link_to @user, method: :delete, data: {confirm: t('prompt')}, class: 'btn btn-secondary btn-sm editable' do %>
          <i class="fas fa-trash fa-fw"></i>
          <span class="d-none d-lg-inline">&nbsp;<%= t 'properties.delete.delete_button' %></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="page-container">
  <div class="container">
    <div class="app-container">
    <!-- .card -->
    <div class="card card-fluid">

      <%= render partial: 'shared/card_header/header', locals: {title: @user.full_name, btn_text: t('properties.show.back'), btn_link: :back}  %>
      <!-- .card-body -->
      <div class="card-body">
        <!-- .media -->
        <div class="col-lg-6 offset-lg-3 col-md-12">
          <div class="media mb-3">
            <div class="user-avatar user-avatar-xl fileinput-button">
              <%= render_avatar(@user, 'tile-xl', "avatar_preview") %>
            </div><!-- /avatar -->
            <div class="media-body pl-3 pt-3">
              <strong><%= @user.full_name %></strong><br>
              <span><%= @user.age ? @user.age : '—' %></span>
            </div>
          </div>
        </div> <!-- /.media -->

        <div class="col-lg-6 offset-lg-3 col-md-12">
          <div class="metric-row">

            <div class="col-6 col-sm-6 col-lg-6">

              <!-- metric column -->
              <div class="card-metric">
                <div class="metric">
                  <p class="metric-value h3">
                    <sub><i class="fa fa-tasks fa-lg fa-fw"></i></sub> <span class="value"><%= @user.assignments.count %></span>
<!--                    <sub><i class="pr-icon cs account-switch"></i></sub> <span class="value"><%#= @user.assignments.count %></span>-->
                  </p>
                  <h2 class="metric-label"><%= t('users.show.assignments') %></h2>
                </div>
              </div><!-- /.metric -->
            </div>

            <div class="col-6 col-sm-6 col-lg-6">

              <div class="card-metric">
                <div class="metric">
                  <p class="metric-value h3">
                    <sub><i class="fa fa-check fa-lg fa-fw"></i></sub> <span class="value">N/A</span>
                  </p>
                  <h2 class="metric-label"><%= t('users.show.processed') %></h2>
                </div>
              </div><!-- /.metric -->

            </div>

          </div>
        </div>

        <div class="col-lg-6 offset-lg-3 col-md-12">
          <div class="table-responsive">
            <!-- .table -->
            <table class="table table-striped">
              <tbody>
              <tr>
                <td><%= t('activerecord.attributes.user.first_name') %></td>
                <td><%= @user.first_name %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.user.last_name') %></td>
                <td><%= @user.last_name %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.user.age') %></td>
                <td><%= @user.age.blank? ? '—' : @user.age %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.user.email') %></td>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.user.phone1') %></td>
                <td><%= @user.phone1 ? @user.phone1 : '—' %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.user.registered') %></td>
                <!-- +l+ function accounts for the localized timedate -->
                <td><%= l(@user.created_at, format: :custom) %></td>
              </tr>

              <%# @user.model_type.fields.each do |field| %>
              <% @user.model_types.find_by(account: current_account).fields.each do |field| %>
                <%= render "accounts/cfields/#{field.field_type}_read", cfield_label: field.name, cfield_data: @user.preferences[field.slug] %>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>



      </div> <!-- /.card-body -->
    </div> <!-- /.card -->
  </div>
  </div>
</div>