<% provide(:title, t('users.show.heading')) %>

<!-- Notice the use of render partial -->
<%= render layout: 'layouts/breadcrumb', locals: { path: [{ :title => t('users.show.breadcrumb'), :href => users_path }, { title: @user.full_name, :href => '' }], icon: 'house-colored' } do %>
  <div class="action-btns">
    <div class="btn-group btn-group-toggle">
      <% if current_user.is_admin?(current_account) %>
        <%= react_component('ModalControlStrip', props: { entries: users_modal_data(@user) }) %>

        <%= link_to edit_user_path(@user), class: 'btn btn-secondary btn-sm editable' do %>
          <i class="fas fa-pen fa-fw"></i>
          <span class="d-none d-lg-inline">&nbsp;<%= t 'properties.edit.edit_button_alt' %></span>
        <% end %>

        <% if current_user != @user %>
          <%= link_to @user, method: :delete, data: { confirm: t('prompt') }, class: 'btn btn-secondary btn-sm editable' do %>
            <i class="fas fa-trash fa-fw"></i>
            <span class="d-none d-lg-inline">&nbsp;<%= t 'properties.delete.delete_button' %></span>
          <% end %>
        <% end %>

      <% end %>
    </div>
  </div>
<% end %>

<div class="page-container">
  <div class="container">
    <div class="app-container">
      <!-- .card -->
      <div class="card card-fluid">

        <div class="card-header card-header-custom">
          <div class="row align-items-center">
            <div class="col-lg-2 d-none d-lg-block card-start-heading">
              <%= link_to users_path, class: "btn btn-primary btn-warning navigation-btn" do %>
                <i class="fas fa-chevron-left fa-fw"></i><%= t('properties.show.back') %>
              <% end %>
            </div>
            <div class="col-lg-8 text-center flex-nowrap">
              <nav class="nav nav-tabs anchor-support nav-justified border-0 d-flex justify-content-center text-nowrap ">

                <a href="#info" class="nav-link custom active text-nowrap" data-toggle="tab" role="tab" aria-selected="true">
                  <span class="tab-title-container-partner">
                    <i class="menu-icon far fa-address-card fa-fw"></i>
                    <span class="d-none d-md-inline tab-text">&nbsp; <%= t('clients.show.tabs.info') %></span>
                  </span>
                </a>
                <a href="#assignments" class="nav-link custom " data-toggle="tab" role="tab" aria-selected="false">
                  <span class="tab-title-container-partner">
                  <i class="menu-icon fas fa-home fa-fw"></i>
                  <span class="d-none d-md-inline tab-text">&nbsp; <%= t('main.properties') %></span>
                  </span>
                </a>
                <a href="#clients" class="nav-link custom " data-toggle="tab" role="tab" aria-selected="false">
                  <span class="tab-title-container-partner">
                  <i class="menu-icon fas fa-users fa-fw"></i>
                  <span class="d-none d-md-inline tab-text">&nbsp; <%= t('main.clients') %></span>
                  </span>
                </a>

              </nav><!-- /.nav -->
            </div>
          </div>
        </div>


        <!-- .card-body -->
        <div class="card-body">
          <div class="tab-content p-0" id="ClientContent">
            <!-- Tab 1 - Client info-->
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">


              <!-- .media -->
              <div class="col-lg-6 offset-lg-3 col-md-12">
                <div class="media mb-3">
                  <div class="user-avatar user-avatar-xl fileinput-button">
                    <%= render_avatar(@user, 'tile-xl', "avatar_preview") %>
                  </div><!-- /avatar -->
                  <div class="media-body pl-3 pt-3">
                    <strong><%= @user.full_name %></strong>
                    <% if @is_admin %> &nbsp;&nbsp;<span data-toggle="tooltip" data-position="auto" title="<%= t('accounts.account_owner') %>"><i class="fas fa-angle-double-up blue"></i></span>
                    <% end %><br>
                    <span><%= @user.age ? @user.age : '—' %></span>

                  </div>
                </div>
              </div> <!-- /.media -->

              <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12">
                  <div class="metric-row justify-content-center">

                    <% if @user.role(current_account) == 'user' %>
                      <div class="d-flex justify-content-center">
                        <!-- metric column -->
                        <%= link_to nil, id: "tabUserProperties", class: "visual-picker visual-picker-md has-peek", 'data-toggle': "popover", 'data-placement': "left", 'data-trigger': "hover", 'data-content': I18n.t('users.show.assigned_properties_explanation') do %>
                          <!-- .visual-picker-figure -->
                          <div class="visual-picker-figure">
                            <!-- .visual-picker-content -->
                            <span class="visual-picker-content">
                              <p class="metric-value h3">
                                <sub><i class="fa fa-home fa-lg fa-fw"></i></sub>
                                <span class="value"><%= @user.properties.count %></span>
                              </p>
                            </span> <!-- /.visual-picker-content -->
                          </div><!-- /.visual-picker-figure -->
                          <!-- .visual-picker-peek -->
                          <strong class="visual-picker-peek"><mark><%= t('users.show.property_assignments') %></mark></strong>
                        <% end %> <!-- /.visual-picker -->
<!--                        <span class="property-cover-popover" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="<%#= t('properties.popover_houseowner_' + current_user.role(current_account)) %>" title="<%#= t('properties.popover_houseowner_title') %>"><i class="fas fa-info-circle"></i></span>-->
                      </div>
                    <% end %>

                    <div class="col-6">

                      <% if @user.role(current_account) == 'user' %>
                        <div class="d-flex justify-content-center">
                          <!-- metric column -->
                          <%= link_to nil, id: "tabUserClients", class: "visual-picker visual-picker-md has-peek", 'data-toggle': "popover", 'data-placement': "right", 'data-trigger': "hover", 'data-content': I18n.t('users.show.assigned_clients_explanation') do %>
                            <!-- .visual-picker-figure -->
                            <div class="visual-picker-figure">
                              <!-- .visual-picker-content -->
                              <span class="visual-picker-content">
                              <p class="metric-value h3">
                                <sub><i class="fa fa-users fa-lg fa-fw"></i></sub>
                                <span class="value"><%= @user.clients.count %></span>
                              </p>
                            </span> <!-- /.visual-picker-content -->
                            </div><!-- /.visual-picker-figure -->
                            <!-- .visual-picker-peek -->
                            <strong class="visual-picker-peek"><mark><%= t('users.show.client_assignments') %></mark></strong>
                          <% end %> <!-- /.visual-picker -->
                        </div>
                      <% end %>

                    </div>

                  </div>
                </div>
              </div>

              <div class="col-lg-6 offset-lg-3 col-md-12">
                <div class="table-responsive">
                  <!-- .table -->
                  <table class="table table-striped">
                    <tbody>
                    <tr>
                      <td><%= t('activerecord.attributes.user.first_name') %></td>
                      <td><%= @user.first_name %></td>
                    </tr>
                    <tr>
                      <td><%= t('activerecord.attributes.user.last_name') %></td>
                      <td><%= @user.last_name %></td>
                    </tr>
                    <tr>
                      <td><%= t('activerecord.attributes.user.age') %></td>
                      <td><%= @user.age.blank? ? '—' : @user.age %></td>
                    </tr>
                    <tr>
                      <td><%= t('activerecord.attributes.user.email') %></td>
                      <td><%= @user.email %></td>
                    </tr>
                    <tr>
                      <td><%= t('activerecord.attributes.user.phone1') %></td>
                      <td><%= @user.phone1 ? @user.phone1 : '—' %></td>
                    </tr>
                    <tr>
                      <td><%= t('activerecord.attributes.user.registered') %></td>
                      <!-- +l+ function accounts for the localized timedate -->
                      <td><%= l(@user.created_at, format: :custom) %></td>
                    </tr>

                    <%# @user.model_type.fields.each do |field| %>
                    <% @user.model_types.find_by(account: current_account).fields.each do |field| %>
                      <%= render "accounts/cfields/#{field.field_type}_read", cfield_label: field.name, cfield_data: @user.preferences[field.slug] %>
                    <% end %>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="assignments" role="tabpanel" aria-labelledby="subscription-tab">
              <% if @user.is_admin?(current_account) %>
                <div class="col-lg-6 col-12 offset-lg-3">
                  <div class="info-container">
                    <%= t('users.show.properties_assigned_to_admin_html',
                                user: @user.full_name,
                                properties_path: properties_path) %>
                  </div>
                </div>
              <% else %>
                <%= react_component('ClientPrefsListWithDatatable', props: {
                  initial_payload: {
                    dataset_wrapper: @propertieslist,
                    results_per_page: @results_per_page,
                    total_entries: @total_entries,
                    current_page: @current_page,
                    initial_search: @initial_search,
                    initial_sorting: @initial_sorting,
                    initial_ordering: @initial_ordering,
                    locations_endpoint: properties_locations_url,
                    clients_endpoint: users_url,
                    client_endpoint: user_path(@user),
                    assignmentships_endpoint: matches_url,
                    properties_path: properties_path,
                    hasFeedback: false,
                    object_type: 'clientprefslist',
                    showControls: false,
                    spitogatos_enabled: current_account.spitogatos_enabled?
                  },
                  i18n: {
                    no_results: t('js.components.select.noresults'),
                    website_enabled: t('js.forms.properties.wizard.step1.website_enabled'),
                    website_disabled: t('js.forms.properties.wizard.step1.website_disabled'),
                    status_inactive: t('activerecord.attributes.property.status_inactive'),
                    status_active: t('activerecord.attributes.property.status_active'),
                    sample: t('sample'),
                    sync: {
                      spitogatos_label: t('properties.sync.spitogatos_label')
                    },
                    clone: {
                      label: t('properties.clone.label'),
                      prompt: t('properties.clone.prompt')
                    }
                  }
                }, prerender: false) %>
              <% end %>
            </div>

            <div class="tab-pane fade" id="clients" role="tabpanel" aria-labelledby="offering-tab">
              <div class="row">
                <div class="col-lg-6 col-12 offset-lg-3">
                  <% if @user.is_admin?(current_account) %>
                    <div class="info-container">
                      <%= t('users.show.clients_assigned_to_admin_html', user: @user.full_name, clients_path: clients_path) %>
                    </div>
                  <% else %>
                    <% clients = @user.clients.where(account: current_account) %>
                    <% if clients.length > 0 %>
                      <div class="list-group custom list-group-bordered mb-3">
                        <% clients.map do |client| %>
                          <%= link_to client_path(client), class: "list-group-item list-group-item-action", data: { turbolinks: 'true' } do %>
                            <div class="list-group-item-figure">
                              <div class="tile bg-success">
                                <i class="fas fa-user fa-fw"></i>
                              </div>
                            </div>
                            <div class="list-group-item-body"><strong><%= client.last_name %></strong>
                              - <%= client.full_name %>
                              - <%= client.telephones %></div>
                          <% end %>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="d-flex justify-content-center">
                        <p class="text-justify font-italic mb-4 max-300">
                          <span><%= t('users.show.no_assigned_client') %></span></p>
                      </div>
                      <div class="text-center">
                        <i class="no-results-clients"> </i>
                      </div>

                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div> <!-- /.card-body -->
      </div> <!-- /.card -->
    </div>
  </div>
</div>