<%= form_for(@invitation, as: :user, url: :accepted_invitation, html: {class: 'auth-form'}) do |inv| %>

  <%= fields_for @user do |u| %>
    <!-- .form-group -->
    <div class="form-group">
      <div class="form-label-group">
        <%= u.email_field :email, class: 'form-control', placeholder: User.human_attribute_name("email"), value: @invitation.email %>
        <%= u.label "email", User.human_attribute_name("email") %>
        <%= inline_error @user, :email, 'Email' %>
      </div>
    </div>
    <!-- /.form-group -->

    <!-- .form-group -->
    <div class="form-group">
      <div class="form-label-group">
        <%= u.text_field :first_name, class: 'form-control', placeholder: User.human_attribute_name("first_name") %>
        <%= u.label :first_name, User.human_attribute_name("first_name") %>
        <%= inline_error @user, :first_name, 'First name' %>
      </div>
    </div>
    <!-- /.form-group -->

    <!-- .form-group -->
    <div class="form-group">
      <div class="form-label-group">
        <%= u.text_field :last_name, class: 'form-control', placeholder: User.human_attribute_name("last_name") %>
        <%= u.label :last_name, User.human_attribute_name("last_name") %>
        <%= inline_error @user, :last_name, 'Last name' %>
      </div>
    </div>
    <!-- /.form-group -->

    <!-- .form-group -->
    <div class="form-group">
      <div class="form-label-group">
        <%= u.password_field :password, class: 'form-control', placeholder: User.human_attribute_name("password") %>
        <%= u.label :password, User.human_attribute_name("password") %>
        <%= inline_error @user, :password, 'Password' %>
      </div>
    </div>
    <!-- /.form-group -->

    <!-- .form-group -->
    <div class="form-group">
      <div class="form-label-group">
        <%= u.password_field :password_confirmation, class: 'form-control', placeholder: User.human_attribute_name("password_confirmation") %>
        <%= u.label :password_confirmation, User.human_attribute_name("password_confirmation") %>
        <%= inline_error @user, :password_confirmation, 'Password confirmation' %>
      </div>
    </div>
    <!-- /.form-group -->
  <% end %>

  <%= inv.submit t('invitations.accept.accept_btn'), class: 'btn btn-primary' %>

<% end %>