<% provide(:title, t('invitations.accept.title')) %>

<% content_for :heading do %>
  <div>
    <% if !logged_in? %>
      <p> <%= t('invitations.accept.subheading_html', login_link: login_url) %> </p>
      <p><%= t('invitations.accept.subheading_feedback_new_user_html', account: @invitation.account.subdomain) %></p>
    <% else %>
      <p><%= t('invitations.accept.subheading_feedback_html', account: @invitation.account.subdomain) %></p>
    <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <% if !logged_in? %>
    <%= render 'anonymous_accept' %>
  <% else %>
    <%= render 'user_accept' %>
  <% end %>
<% end %>


















