<% content_for(:nested_settings_header) do %>
  <%= t('settings.sidebar.info') %>
<% end %>

<% content_for :timeline do %>
    <div class="col-12 ">

      <% if @events.blank? %>
        <div class="state-figure text-center">
          <%= image_pack_tag 'media/images/no_content.svg', class: "img-fluid max-300" %>
        </div>
        <h3 class="state-header text-center"><%= t('main.welcome.no_activities') %></h3>
      <% else %>
        <% @events.each do |hash_elements| %>

          <!--              <h3> <%#= Date::DAYNAMES[hash_elements.first] %> </h3>-->
          <!--              <h2 class="section-title"> <%#= t('main.timeline.today') %> </h2> -->
          <h2 class="section-title"> <%= l(hash_elements.first, format: :timelinehead) %> </h2>
          <ul class="timeline">
            <% hash_elements.second.each do |entry| %>

              <li class="timeline-item">
                <!-- .timeline-figure -->
                <div class="timeline-figure">
                  <span class="tile tile-circle tile-sm"><i class="fa fa-cube fa-lg"></i></span>
                </div><!-- /.timeline-figure -->
                <!-- .timeline-body -->
                <div class="timeline-body">
                  <!-- .media -->
                  <div class="media">
                    <!-- .media-body -->
                    <div class="media-body">
                      <h6 class="timeline-heading">
                        <%= link_to render_timeline_header(entry), entry.try(:entity) ? polymorphic_path(entry.try(:entity).try(:to_sym)) : '', class: "text-link px-1 #{entry.try(:entity)}-timeline-header" %>
                      </h6>
                      <p class="mb-0">
                        <span><%= t('user') %></span>
                        <% if entry.try(:author).blank? %>
                          <span><%= entry.try(:author_name) %></span>
                        <% else %>
                          <%= link_to entry.try(:author_name), polymorphic_path([entry.try(:author).class.try(:to_s).try(:downcase).try(:to_sym)], id: entry.try(:author)) %>
                        <% end %>
                        <strong><%= render_action(entry).html_safe %></strong>
                      </p>
                      <p class="timeline-date d-sm-none"><%= l(entry.created_at, format: :timelinebody) %></p>
                    </div><!-- /.media-body -->
                    <!-- .media-right -->
                    <div class="d-none d-sm-block">
                      <span class="timeline-date"><%= l(entry.created_at, format: :timelinebody) %></span>
                    </div><!-- /.media-right -->
                  </div><!-- /.media -->
                </div><!-- /.timeline-body -->
              </li>
            <% end %>
            <!-- /.timeline-item -->
          </ul>

        <% end %>

      <% end %>
    </div>
<% end %>