<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">

  <meta name="format-detection"
        content="telephone=no">

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
        name='viewport'/>

  <meta name="apple-mobile-web-app-capable"
        content="yes">

  <meta name="turbolinks-cache-control" content="no-cache">
  <!-- full_title is defined in app/helpers/application_helper.rb. title is provided by each view file
       using the keyword 'provide' If the view file doesn't provide such value, 'full title' returns
       a generic title -->

  <title><%= full_title(yield(:title)) %></title>

  <%= csrf_meta_tags %>

<!--  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap" rel="stylesheet">

  <%= stylesheet_pack_tag 'style_loaders/website_lib_stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'style_loaders/main_stylesheet', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_packs_with_chunks_tag 'landing', 'data-turbolinks-track': 'reload' %>

  <%= render 'layouts/shim' %>
</head>

<body data-turbolinks="false">
  <%= yield(:landing) %>

<!-- BEGIN THEME JS-->
<!--<script src="assets/javascript/theme.min.js"></script>-->
<!-- END THEME JS -->

</body>
</html>
