<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">

  <meta name="format-detection"
        content="telephone=no">

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
        name='viewport'/>

  <meta name="apple-mobile-web-app-capable"
        content="yes">

  <meta name="turbolinks-cache-control" content="no-cache">
  <!-- full_title is defined in app/helpers/application_helper.rb. title is provided by each view file
       using the keyword 'provide' If the view file doesn't provide such value, 'full title' returns
       a generic title -->
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  <%= stylesheet_pack_tag 'style_loaders/main_stylesheet', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_packs_with_chunks_tag 'auth_screen', 'data-turbolinks-track': 'reload' %>

<!--  <script defer data-domain="realtorpms.com" src="https://plausible.io/js/plausible.js"></script>-->
  <% if Rails.env.production? %>
    <script data-token="AOX6ILZTEIVP" async src="https://cdn.splitbee.io/sb.js"></script>
  <% end %>

  <%= render 'layouts/shim' %>
</head>
<body>

<div class="pr-body-container">
  <%= render 'layouts/flash_messages' %>
  <div id="page-transition">

    <main class="auth">
      <header id="auth-header" class="auth-header">
        <div class="logo-container">
        <svg width="300px" height="100px" viewBox="0 0 170 60" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <path d="M30.805 9.42c0-.028-.004-.055-.005-.082-.002-.023-.002-.047-.005-.07-.004-.028-.01-.055-.017-.082-.005-.022-.007-.044-.013-.066-.007-.028-.018-.055-.028-.083-.007-.02-.012-.04-.02-.06-.013-.028-.028-.055-.042-.083l-.025-.05c-.017-.03-.037-.057-.057-.085l-.026-.04a1.141 1.141 0 00-.086-.098l-.014-.015a1.146 1.146 0 00-.241-.186L15.87.161a1.165 1.165 0 00-1.163.002L.444 8.423c-.022.012-.042.028-.063.042-.02.014-.043.026-.062.041-.02.016-.04.034-.059.052-.018.016-.038.031-.055.048-.019.019-.035.04-.051.059-.017.018-.034.036-.048.055-.015.02-.03.042-.044.064l-.04.06C.01 8.866 0 8.89-.01 8.913c-.011.022-.024.042-.033.065-.01.024-.016.048-.025.073-.008.023-.017.045-.023.068-.007.025-.01.05-.015.074-.005.025-.012.05-.015.075-.003.025-.003.05-.005.075-.002.025-.005.05-.005.076L-.168 26.5c-.001.414.22.796.58 1.003l14.355 8.259h.001a1.162 1.162 0 00.73.145c.017-.002.033-.007.05-.01.033-.006.065-.01.097-.02.02-.004.038-.012.058-.018.029-.01.058-.018.087-.03.02-.008.039-.02.058-.029.026-.012.053-.023.078-.037l.002-.002h.002l14.263-8.26c.356-.206.575-.586.576-.996l.036-17.082V9.42z" id="a"/>
            <path d="M30.805 9.462c0-.027-.004-.054-.005-.081-.002-.023-.002-.047-.005-.07-.004-.028-.01-.055-.017-.082-.005-.022-.007-.044-.013-.066-.007-.029-.018-.055-.028-.083-.007-.02-.012-.04-.02-.06-.013-.028-.028-.055-.042-.083l-.025-.05c-.017-.03-.037-.058-.057-.085l-.026-.04a1.141 1.141 0 00-.086-.098l-.014-.015a1.146 1.146 0 00-.241-.186L15.87.203a1.165 1.165 0 00-1.163.003L.444 8.465c-.022.013-.042.028-.063.043-.02.014-.043.026-.062.041L.26 8.6c-.018.017-.038.032-.055.05-.019.018-.035.038-.051.058-.017.018-.034.035-.048.054l-.044.065-.04.06c-.012.022-.022.045-.033.068-.011.022-.024.043-.033.065-.01.024-.016.049-.025.073-.008.023-.017.046-.023.07-.007.024-.01.049-.015.073-.005.025-.012.05-.015.075-.003.025-.003.05-.005.075-.002.025-.005.05-.005.075l-.036 17.082c-.001.414.22.796.58 1.003l14.355 8.259h.001a1.162 1.162 0 00.73.145c.017-.002.033-.007.05-.01.033-.006.065-.011.097-.02.02-.005.038-.012.058-.018.029-.01.058-.018.087-.03.02-.008.039-.02.058-.029.026-.012.053-.023.078-.038h.002l.002-.002 14.263-8.26c.356-.205.575-.585.576-.996l.036-17.08v-.005z" id="c"/>
            <path d="M30.805 9.462c0-.027-.004-.054-.005-.081-.002-.023-.002-.047-.005-.07-.004-.028-.01-.055-.017-.082-.005-.022-.007-.044-.013-.066-.007-.029-.018-.055-.028-.083-.007-.02-.012-.04-.02-.06-.013-.028-.028-.055-.042-.083l-.025-.05c-.017-.03-.037-.058-.057-.085l-.026-.04a1.141 1.141 0 00-.086-.098l-.014-.015a1.146 1.146 0 00-.241-.186L15.87.203a1.165 1.165 0 00-1.163.003L.444 8.465c-.022.013-.042.028-.063.043-.02.014-.043.026-.062.041L.26 8.6c-.018.017-.038.032-.055.05-.019.018-.035.038-.051.058-.017.018-.034.035-.048.054l-.044.065-.04.06c-.012.022-.022.045-.033.068-.011.022-.024.043-.033.065-.01.024-.016.049-.025.073-.008.023-.017.046-.023.07-.007.024-.01.049-.015.073-.005.025-.012.05-.015.075-.003.025-.003.05-.005.075-.002.025-.005.05-.005.075l-.036 17.082c-.001.414.22.796.58 1.003l14.355 8.259h.001a1.162 1.162 0 00.73.145c.017-.002.033-.007.05-.01.033-.006.065-.011.097-.02.02-.005.038-.012.058-.018.029-.01.058-.018.087-.03.02-.008.039-.02.058-.029.026-.012.053-.023.078-.038h.002l.002-.002 14.263-8.26c.356-.205.575-.585.576-.996l.036-17.08v-.005z" id="e"/>
          </defs>
          <g fill="none" fill-rule="evenodd">
            <path d="M41.624 17.941c0-.027-.004-.054-.006-.081-.001-.023-.001-.047-.004-.07-.004-.028-.011-.055-.017-.082-.005-.022-.007-.044-.013-.066-.008-.028-.018-.055-.028-.083l-.02-.06c-.013-.028-.028-.055-.042-.083l-.025-.05c-.018-.03-.038-.057-.057-.085-.01-.013-.017-.027-.026-.04a1.141 1.141 0 00-.087-.098l-.013-.015a1.146 1.146 0 00-.242-.186L26.69 8.683a1.165 1.165 0 00-1.163.002l-14.263 8.26c-.022.012-.042.028-.063.042-.021.014-.043.026-.062.041l-.059.051c-.019.017-.038.032-.056.05-.018.018-.034.038-.05.058-.017.018-.034.035-.048.055-.016.02-.03.042-.044.064-.013.02-.028.04-.04.06-.012.022-.022.045-.034.069-.01.021-.023.042-.032.064-.01.025-.016.05-.025.073-.008.023-.017.046-.024.07-.006.024-.01.049-.014.073-.006.025-.012.05-.016.075l-.004.075c-.002.025-.006.05-.006.075l-.035 17.082c-.001.414.22.796.58 1.003l14.355 8.259a1.162 1.162 0 00.73.145c.017-.002.034-.007.051-.01.033-.006.065-.01.097-.02.02-.004.038-.012.058-.018.028-.01.058-.018.086-.03.02-.008.04-.02.059-.029.026-.012.053-.023.077-.037l.003-.002h.001l14.263-8.26c.357-.206.576-.586.577-.996l.036-17.082v-.004z" fill="#EEE" fill-rule="nonzero"/>
            <g transform="translate(10.819 8.073)">
              <mask id="b" fill="#fff">
                <use xlink:href="#a"/>
              </mask>
              <path d="M15.355 3.149L4.77 8.982v12.607c0 .34.151.652.397.822l9.805 5.298a.654.654 0 00.782 0l9.791-5.3c.244-.169.322-.527.322-.865V8.982L15.355 3.149z" fill-opacity=".2" fill="#47555E" fill-rule="nonzero" mask="url(#b)"/>
            </g>
            <g transform="translate(10.819 8.48)">
              <mask id="d" fill="#fff">
                <use xlink:href="#c"/>
              </mask>
              <path d="M15.557 3.192c-.034 16.459-.006 24.688.084 24.688.135 0 .27-.043.39-.129l9.52-5.27c.24-.17.316-.528.316-.867V9.072l-10.31-5.88z" fill-opacity=".2" fill="#47555E" fill-rule="nonzero" mask="url(#d)"/>
            </g>
            <g transform="translate(10.819 8.48)">
              <mask id="f" fill="#fff">
                <use xlink:href="#e"/>
              </mask>
              <path d="M15.716 18.56a.788.788 0 00-.795.002l-9.757 5.71a.799.799 0 00-.394.692c0 .285.151.547.396.69l9.82 5.71a.784.784 0 00.796-.001l9.757-5.71c.244-.143.329-.435.328-.72 0-.285-.085-.52-.33-.662l-9.821-5.71z" fill-opacity=".5" fill="#47555E" fill-rule="nonzero" mask="url(#f)"/>
            </g>
            <path d="M50.304 16.157h122.544v18.404H50.304z"/>
            <text fill="#EEE" fill-rule="nonzero" font-family="YuKyo-Bold, YuKyokasho" font-size="18" font-weight="bold" transform="translate(46.328 16.157)">
              <tspan x="5.716" y="16.9">RealtorPMS</tspan>
            </text>
          </g>
        </svg>
        </div>
<!--        <h1>-->
          <%#= image_pack_tag('media/images/propertize_logo_light_v2.svg', class: 'navbar-brand', height: "80", title: BRANDNAME) %>
          <%#= image_pack_tag('media/images/realtor_logo.svg', class: 'navbar-brand', height: "50", title: BRANDNAME) %>
<!--        </h1>-->
        <%= yield(:heading) %>
      </header>
      <%= yield(:content) %>
      <footer class="auth-footer">&copy; <%= Time.current.year %> <%= t('sessions.rights') %></footer>
    </main>


  </div>
  <%#= debug(params) if Rails.env.development? %>
</div>



</body>
<%#= debug(params) if Rails.env.development? %>
</html>
