<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">

  <meta name="format-detection"
        content="telephone=no">

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
        name='viewport'/>

  <meta name="apple-mobile-web-app-capable"
        content="yes">

  <meta name="turbolinks-cache-control" content="no-cache">
  <!-- full_title is defined in app/helpers/application_helper.rb. title is provided by each view file
       using the keyword 'provide' If the view file doesn't provide such value, 'full title' returns
       a generic title -->
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  <%= stylesheet_pack_tag 'style_loaders/main_stylesheet', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_packs_with_chunks_tag 'auth_screen', 'data-turbolinks-track': 'reload' %>

  <% if Rails.env.production? %>
    <script data-token="AOX6ILZTEIVP" async src="https://cdn.splitbee.io/sb.js"></script>
  <% end %>

  <%= render 'layouts/shim' %>
</head>
<body>

<div class="pr-body-container">
  <%= render 'layouts/flash_messages' %>
  <div id="page-transition">

    <main class="auth">
      <header id="auth-header" class="auth-header">
        <div class="logo-container pb-2">
<!--        <svg width="300px" height="100px" viewBox="0 0 170 60" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">-->
          <svg width="300" height="100" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <path d="M81.839 31.929h204.239v30.673H81.838z"/>
              <text fill="#EEE" fill-rule="nonzero" font-family="Skia-Regular_Bold, Skia" font-size="24" font-weight="bold" transform="translate(76.213 26.096)">
                <tspan x="27.98" y="24"><%= BRANDNAME %></tspan>
              </text>
              <g>
                <path d="M43.333 3.333c22.092 0 40 17.909 40 40 0 22.092-17.908 40-40 40-22.091 0-40-17.908-40-40 0-22.091 17.909-40 40-40" fill="#FCF5A2"/>
                <path d="M73.01 42.727a6.649 6.649 0 0 1 .951.854c.074.08.126.171.157.268l.002-.001c.004.012 1.228 3.706-2.862 6.187l.02.054c.164.447.193 1.497-.004 2.77a15.313 15.313 0 0 1-1.246 4.106c-1.44 3.054-3.631 5.89-8.278 5.26 1.346 3.79 2.734 9.944.002 14.768-1.246 7.49-3.35 10.562-4.6 11.772 1.487.85 4.327 2.492 5.21 3.127 1.115.804 1.132 1.871.026 2.53-.47.278-1.095.454-1.507.54-5.477 1.138-9.18-1.144-9.965-1.69-.905-.144-1.651-.487-2.183-.978-1.3-1.202-.995-2.953-.468-4.041-.47-.512-.554-1.19-.658-2.064l-.022-.182c-.164-1.34-1.226-2.851-1.78-3.561-4.15 2.092-7.134 6.717-7.3 6.977a.721.721 0 0 1-.174.194 14.7 14.7 0 0 1-.49.358c.052.87.123 2.894-.285 3.621-.43.765-2.105 2.419-4.117 3.81-2.295 1.587-4.758 2.684-7.422 2.588-4.156-.15-4.209-3.786-1.155-4.963 1.428-.55 1.985-2.229 2.577-3.68a7.789 7.789 0 0 1-.877-.385.702.702 0 0 1-.41-.656l.31-10.756c-4.388 1.854-11.805 2.639-12.88-3.252-.43-2.353-.255-4.404.172-6.047.723-2.782 2.306-4.487 2.933-4.628.511-.116 2.44-.035 3.984.055a6.138 6.138 0 0 1-.205-.25c-1.516-1.97-.839-3.605-.297-4.719.787-1.617 5.909-9.646 7.56-12.226-5.639-1.741-9.66-5.128-9.165-13.658.179-3.086.686-3.856-.109-7.86-.313-1.574.21-3.715 1.558-6.106-8.23-1.328-5.293-9.114-1.264-10.112 3.013-.745 5.086 2.491 5.946 4.183 2.734-2.695 6.356-5.421 10.852-7.82l1.822-.852-.866 1.813-.758 1.359L42.806 5l-2.703 5.021 6.514-3.613-2.734 4.621c1.51.125 4.777.55 7.946 1.969.478-1.722 1.846-5.346 4.843-5.12 1.24.092 2.54.84 3.457 1.927.573.676 1.005 1.493 1.19 2.37.192.9.124 1.857-.313 2.793-.501 1.075-1.491 2.107-3.143 2.96.376.59.702 1.231.969 1.927 1.096 2.859 1.72 4.68 2.188 6.044.806 2.35 1.248 3.617 2.964 6.476.357.565 3.97 6.876-8.14 14.089.608.91 2.003 2.66 4.138 3.435 1.265.46 1.938.334 2.304-.064.413-.448.586-1.284.727-2.082 0-.327.116-1.068 1.177-.813.024-.45.002-1.14-.17-2.13-.379-2.172-.336-3.454-.079-4.077.236-.572.63-.806 1.122-.766.356.03.707.24 1.026.592.412.455.775 1.152 1.041 2.018 1.265-1.288 3.757-3.583 5.786-3.968.569-.109.993-.098 1.3.003.473.154.712.466.773.892.04.289-.03.605-.182.931-.3.648-.964 1.44-1.573 2.07-.045.045-.126.127-.224.222" fill="#231614"/>
                <path d="M20.963 18.333c.147-.212.3-.426.46-.641-.343-1.362-1.009-2.134-1.346-2.454-.3-.285.051-.859.447-.673.467.218 1.312.752 1.859 1.91.107-.129.216-.258.328-.387.2-.23.408-.462.622-.695-.49-1.1-2.08-4.203-4.239-3.664-1.452.363-2.484 1.967-2.425 3.584.086 2.347 2.412 2.832 4.294 3.02" fill="#AF502E"/>
                <path d="M21.183 18.333c.155-.212.315-.426.484-.641-3.814-1.226-3.91-5.128-1.08-5.864a2.282 2.282 0 0 0-1.368-.1c-1.527.363-2.612 1.967-2.55 3.585.09 2.347 2.536 2.832 4.514 3.02" fill="#8F4229"/>
                <path d="m41.339 13.107 1.931-3.503-4.293 2.517-.002.003-2.358 1.37 2.879-5.16-5.036 3.45h-.001l-.175.12-2.297 1.56 2.171-4.09c-4.254 2.572-7.563 5.42-9.915 8.142-3.172 3.67-4.58 7.04-4.175 9.098.832 4.252.88 4.123.697 7.347-.655 11.434 7.26 13.028 16.208 14.374 3.018.454 6.93 1.583 9.22 1.64 1.384.035 2.446.095 2.881-.328 1.214-1.182 3.86-3.083 3.868-3.088a.756.756 0 0 1 .083-.05c13.405-7.1 10.014-12.927 9.699-13.473-1.838-3.167-2.169-4.144-3.059-6.774a164.444 164.444 0 0 0-2.159-6.046c-2.806-7.423-13.74-7.99-14.792-8.028l-1.375.92" fill="#AF502E"/>
                <path fill="#8F4229" d="M41.666 13.333 43.333 10l-1.382.892v.001l-.285 2.44M36.666 13.333l3.334-5-2.307 1.322v.001l-1.027 3.677M33.333 13.333l1.667-5c-.345.332-.682.668-1.01 1.007l-.657 3.993M45 29.646s2.731-2.69 5.945-.368c3.215 2.321-5.319 3.785-5.945.368M31.668 36.667s-.13-4.216 2.543-7.366c0 0-1.547-3.255.185-7.186 1.734-3.929 2.646-2.119 3.778 3.24 1.133 5.358-4.057 5.322-6.506 11.312"/>
                <path d="M21.667 26.667c.833 4.242.882 4.113.698 7.33-.656 11.408 7.269 13 16.226 14.342 3.022.453 6.939 1.579 9.232 1.637 1.385.034 2.448.094 2.884-.328.265-.258.6-.55.96-.85 0 0-8.314-4.972-9.918-1.34 0 0-13.634-2.71-15.405-8.876-1.772-6.166-3.703-8.55-4.677-11.915" fill="#8F4229"/>
                <path d="m35 57.163-1.657-.496-.01 4.958.144.042-.019-3.94a.714.714 0 0 1 .016-.203c.08-.34.404-.546.725-.46l.793.21.008-.111M38.333 57.277l-1.62-.61-.047.88 1.544.786.123-1.056" fill="#FFFFFE"/>
                <path d="M40.844 61.566c.152.028.309.063.47.1l.353-2.601-3.32-.732-.014.062 2.136.672c.41.128.642.457.583.783l-.208 1.716" fill="#C7C6C1"/>
                <path d="M36.661 63.333c.193-.145.393-.352.605-.57.676-.697 1.433-1.478 2.635-1.566L40 60.006l-.738-.34a.86.86 0 0 1-.04.197c-.127.38-.5.571-.834.427l-2.695-1.174c-.25-.108-.421-.386-.416-.704L35 58.333l.018 4.17c.646.278 1.21.575 1.643.83" fill="#FFFFFE"/>
                <path d="M36.65 63.333c.193-.132.394-.32.606-.518.679-.634 1.438-1.344 2.645-1.423L40 60.308 39.26 60c.338.688.001 1.037.001 1.037-1.736.403-2.725 1.776-2.725 1.776L35 62.58c.65.252 1.215.523 1.65.754" fill="#C7C6C1"/>
                <path d="M41.557 63.851c.078-.154.113-.32.11-.486a1.447 1.447 0 0 0-.179-.64 2.079 2.079 0 0 0-.498-.609c-2.104-1.05-3.058-.041-3.863.81-1.534 1.625-1.03 1.336-1.996 3.547-.363.83.123 1.42.32 1.611.367.112 1.56.402 2.322-.258 1.28-1.107 2.03-.396 2.552.433l.047.074c.378-1.51-.878-2.231-1.765-2.515-.165-.052-.268-.24-.24-.438l.015-.11a.39.39 0 0 1 .141-.259.286.286 0 0 1 .258-.058c1.028.267 1.736.55 2.191.982l.039.038c.018-.096.025-.197.014-.298 0-.949-1.418-1.686-2.105-1.942-.158-.059-.254-.24-.228-.43l.006-.048a.394.394 0 0 1 .136-.257.29.29 0 0 1 .252-.066c.796.17 1.78.356 2.47.92" fill="#AF502E"/>
                <path d="M38.575 63.333c-1.34 1.44-.902 1.213-1.787 3.254-.337.779.115 1.332.299 1.513.34.104 1.451.377 2.16-.243 1.192-1.04 1.89-.37 2.376.407l.044.07c-1.141-4.178-5.594 1.804-3.092-5" fill="#8F4229"/>
                <path d="M34.689 55.843 29.086 50c-1.851 2.944-6.273 10.018-6.975 11.484-.373.782-.841 1.924.144 3.227 1.154 1.526 4.068 3.308 10.629 5.2.035.01.07.022.101.037.135.05.904.268 1.585-.795-.471-.525-1.034-1.506-.375-2.802.385-.756.646-1.387.805-1.803-1.168-.635-4.064-2.17-5.899-2.813a9.767 9.767 0 0 1 2.056.114l.014-6.085a.694.694 0 0 1 .877-.67l2.64.75" fill="#363735"/>
                <path d="M34.689 55.843 29.086 50c-1.851 2.944-6.273 10.018-6.975 11.484-.373.782-.841 1.924.144 3.227 1.154 1.526 4.068 3.308 10.629 5.2.035.01.07.022.101.037.135.05.904.268 1.585-.795-.471-.525-1.034-1.506-.375-2.802.385-.756.646-1.387.805-1.803-2.727 1.674-1.852 4.406-1.852 4.406-3.54-.94-10.998-3.11-9.853-6.849 1.145-3.74 5.863-9.576 6.73-7.514.868 2.062 1.132 7.258 1.132 7.258l.014-6.085a.694.694 0 0 1 .877-.67l2.64.75" fill="#272827"/>
                <path d="m28.134 76.394.2-7.178c-1.879-.78-3.291-1.548-4.344-2.29-.84-.073-4.314-.362-4.914-.221-2.075.486-2.658 6.458-2.32 8.385.905 5.156 7.9 3.034 11.378 1.304" fill="#48281B"/>
                <path d="m28.233 76.367.1-3.638s-11.01 3.807-10.771-4.396c-.834 2.079-1.04 5.368-.805 6.713.912 5.226 7.967 3.076 11.476 1.321" fill="#3E251A"/>
                <path d="M29.596 92.289c-.725 1.538-1.292 3.329-3.38 4.05-1.58.546-1.883 1.907.684 1.99 2.302.074 4.458-.815 6.476-2.066 2.888-1.79 3.368-2.554 3.281-4.596-2.773 1.144-5.332.988-7.061.622M50.159 88.333c-.468 1.207.102 2.563 1.65 2.773.127.017.241.07.336.147.01.008 3.035 2.998 8.43 1.795.344-.077.76-.202 1.092-.423-.496-.512-4.991-3.258-5.88-3.799-2.743-.034-4.497-.19-5.628-.493" fill="#363735"/>
                <path d="M50.172 88.333c-.506 1.252.11 2.659 1.787 2.877.137.018.26.073.362.152.008.006 1.531 1.448 4.346 1.971-.073-.031-3.33-1.455-3.572-3.081 0 0 2.963-.5 3.17-1.407-2.97-.036-4.868-.197-6.093-.512M28.333 98.333c1.81-.198 3.522-.993 5.143-2.037 2.8-1.803 3.265-2.573 3.182-4.63-2.69 1.153-5.17.996-6.846.627.761 1.29 3.292 1.429 3.292 1.429.203 2.212-4.76 4.608-4.77 4.611" fill="#272827"/>
                <path d="M50.854 77.037c-.468.777-1.068 1.312-1.913 1.666-1.581.663-3.917.567-7.876.2-5.82-.54-10.338-2.772-12.304-3.903l-.428 14.446c1.239.529 4.94 1.471 9.262-1.683 1.202-1.784 6.019-7.248 11.065-6.306-.431.09-.854.215-1.269.368.51.475 1.915 1.93 2.137 3.712l.021.174c.172 1.407.206 1.295 6.566 1.363.509-.27 2.399-1.162 3.885-8.963-.921.258-1.905.416-2.584.518-1.587.241-3.161.347-4.267.405-1.32.071-1.978-.858-2.295-1.996" fill="#363735"/>
                <path d="M48.333 77.72c-1.569.634-3.85.514-7.579.113-5.795-.623-10.293-3.196-12.25-4.5L28.334 80l1.033-3.367s11.867 4.248 18.966 1.086ZM46.667 81.436c.539.473 2.024 1.923 2.26 3.699l.022.174c.182 1.401.217 1.29 6.943 1.358.538-.27 2.536-1.158 4.108-8.93-.974.257-2.015.414-2.732.516-1.679.24-3.343.345-4.512.403-1.397.07-2.093-.855-2.427-1.99-.785 4.388 6.97 2.718 6.97 2.718.03 1.13-1.059 4.694-1.544 5.32-.484.625-5.766 1.382-5.936-.215-.17-1.599-3.152-3.053-3.152-3.053" fill="#272827"/>
                <path d="M28.333 89.384c1.22.588 4.86 1.635 9.113-1.869 1.183-1.982 5.922-8.052 10.887-7.006-7.326-2.685-12.225 6.119-12.225 6.119-2.183 2.64-7.775 2.756-7.775 2.756" fill="#272827"/>
                <path d="M49.9 67.432c-2.248-4.34-5.954-6.598-7.603-7.432l-.07.685c.248.23.453.486.612.758.244.417.378.873.388 1.328.01.475-.113.94-.383 1.355-.087.134-.19.263-.308.385.015.071.027.146.036.225.097.857-.32 1.574-.618 1.968a3.083 3.083 0 0 1-.383 1.762 1.72 1.72 0 0 1-.435.51l-.695 5.376a.773.773 0 0 1-.042.186c-.136.381-.538.573-.898.43l-9.233-3.698a.744.744 0 0 1-.443-.809l.162-1.045c-.56-.192-1.09-.384-1.59-.577l-.064 2.302c3.687 2.71 8.312 4.955 13.19 5.37 3.585.305 7.48.63 8.41-3.94.116-1.417.065-3.358-.033-5.14" fill="#363735"/>
                <path d="M49.9 67.432c-2.248-4.34-5.954-6.598-7.604-7.432 2.444 2.187 6.474 6.503 5.845 10.717-.63 4.216-7.742 3.82-7.742 3.82-.136.382-.537.575-.898.43l-9.233-3.697a.744.744 0 0 1-.443-.809l.162-1.045c-.56-.192-1.09-.384-1.59-.577l-.064 2.302c3.687 2.71 8.312 4.955 13.19 5.37 3.585.305 7.48.63 8.41-3.94.116-1.417.065-3.358-.033-5.14" fill="#272827"/>
                <path d="M42.675 59.201C43.949 59.774 47.35 61.536 50 65a99.035 99.035 0 0 0-.145-1.494c-2.408-4.256-13.642-13.469-15.053-14.618a78.78 78.78 0 0 1-3.135-.555l5.665 7.167 4.987 1.433a.717.717 0 0 1 .51.786l-.154 1.482" fill="#363735"/>
                <path d="M34.799 48.888a78.596 78.596 0 0 1-3.132-.555l5.66 7.174 4.937 1.419-7.465-8.038Zm7.867 10.323c.77.346 2.315 1.127 4 2.456l-3.848-4.144a.72.72 0 0 1 .002.204l-.154 1.484Z" fill="#272827"/>
                <path d="m57.295 49.673 1.316 3.75a.692.692 0 0 1-.837.906l-.947-.264 1.806 2.287a.694.694 0 0 1-.002.885L51.667 65.6c.177 2.048.39 5.253.227 7.414l-.006.161c-.014.297-.042.906-.004 1.583 0 2.865 6.047 2.02 7.796.611 4.146-3.34.912-12.772.778-16.892.004.008.39.741.886 1.951 5.36.816 8.924-4.735 8.64-9.672-.507-.003-1.125-.114-1.827-.363-1.45-.517-2.69-.98-3.767-2.059-.174 1.005-.25 1.553-.923 2.292-.73.799-1.866 1.127-3.762.432a8.599 8.599 0 0 1-2.41-1.384" fill="#363735"/>
                <path d="M62.582 59.923c5.626.781 9.366-4.538 9.068-9.269-.533-.003-1.18-.109-1.918-.348-1.522-.495-2.823-.94-3.953-1.973-.183.963-.261 1.488-.969 2.196-.765.766-1.957 1.08-3.947.415a9.268 9.268 0 0 1-2.53-1.327c4.054 4.014 7.825.875 7.825.875.582 1.22 2.76 2.169 2.76 2.169.146 6.573-6.336 7.262-6.336 7.262M58.55 56.667l-6.883 8.607c.175 2.108.385 5.408.224 7.632l-.006.166c-.014.305-.041.932-.004 1.629 0 2.95 5.977 2.08 7.705.629 4.045-3.393.983-12.896.775-17.22.059 1.488.413 12.492-1.77 14.096-2.34 1.72-5.989 2.437-5.025-6.38l4.983-9.16" fill="#272827"/>
                <path d="m51.667 63.333 6.666-6.802-3.328-3.582c-.283-.305-.223-.748.137-.99a.947.947 0 0 1 .733-.125l.001-.002 2.047.487-2.334-5.652c-.333.157-.673.316-1.024.475l-.19.116c1.234 6.813-1.812 14.123-2.708 16.075" fill="#363735"/>
                <path d="m54.743 52.761.001-.001 1.923.573-2.193-6.666c-.313.186-.632.373-.962.56l-.179.137s1.323 3.317 1.41 5.397" fill="#272827"/>
                <path d="M70.133 44.158c.616.262 1.76.923 2.98 2.509a3.345 3.345 0 0 0 .114-2.03 6.408 6.408 0 0 0-.223-.178c-.705-.544-1.42-.896-2.03-1.044-.416-.102-.724-.11-.85-.015-.015.01.013-.009-.004.006-.213.184-.1.528.012.752" fill="#8F4229"/>
                <path d="M69.275 48.454c-.512-.686-1.592-2.466-.276-3.86-.163-.56-.262-1.413.331-2.068.014-.014.038-.039.076-.075.486-.468 1.203-.57 1.997-.323.056.018.112.037.168.058.198-.2.418-.424.496-.51.493-.538 1.02-1.182 1.266-1.676-.08.01-.175.025-.286.048-2.116.422-5.106 3.804-5.7 4.497v.014l-.769.909c-.058-.469-.21-1.13-.405-1.765l-.007-.008.004-.005c-.352-1.149-.84-2.208-1.15-1.885-.058.57.005 1.554.256 3.073.25 1.51.204 2.537.122 3.135.19.118.393.254.611.41.925.658 1.75 1.095 2.452 1.354.269.1.514.173.736.223 1.227-.548 2.041-1.199 2.575-1.857-2.132-4.21-2.603-1.373-1.895-.126a.364.364 0 0 1-.07.452l-.039.036a.332.332 0 0 1-.494-.051" fill="#AF502E"/>
                <path d="M69.055 46.903c-.535-.634-1.665-2.28-.288-3.57-2.09.966-1.181 3.204-1.181 3.204-1.604-.825-2.586-.041-2.586-.041.198.109.411.235.64.379.966.609 1.83 1.012 2.563 1.252.282.092.538.16.77.206 1.284-.506 2.136-1.108 2.694-1.717-2.23-3.894-2.722-1.27-1.982-.116a.31.31 0 0 1-.073.417l-.04.034a.37.37 0 0 1-.27.078.359.359 0 0 1-.247-.126" fill="#8F4229"/>
                <path d="M48.09 51.91a.834.834 0 1 0 0 1.18.834.834 0 0 0 0-1.18M51.667 59.026l-2.908-5.693a2.413 2.413 0 0 1-.426.183l.057 5.45c.946.963 1.773 1.881 2.402 2.7.25-.667.562-1.57.875-2.64" fill="#C7C6C1"/>
                <path d="m48.333 56.667.027 2.432c.955.916 1.79 1.788 2.425 2.568.25-.635.566-1.494.882-2.511l-3.334-2.49" fill="#ACADA9"/>
                <path d="m53.333 53.32-3.248-1.653c-.024.079-.052.156-.085.231l2.666 4.769c.264-1.042.499-2.17.667-3.348" fill="#C7C6C1"/>
                <path d="m50.039 51.21 3.222 2.123a30.865 30.865 0 0 0-.062-5c-.78.68-1.682 1.502-2.234 2.115a2.833 2.833 0 0 1-.965.694l.039.068M45.362 53.333l-2.029 2.075c1.14.964 2.273 1.953 3.334 2.925l-.046-4.178a2.66 2.66 0 0 1-1.043-.596l-.003-.002a2.641 2.641 0 0 1-.213-.224" fill="#C7C6C1"/>
                <path d="m44.444 55-1.11.933c1.139.79 2.272 1.603 3.333 2.4l-.027-1.96L44.444 55" fill="#ACADA9"/>
                <path d="m42.806 55 2.008-2.882c.02-.316.085-.617.186-.89-1.897-.213-4.458-.784-6.667-1.228a179.706 179.706 0 0 1 4.473 5" fill="#C7C6C1"/>
                <path d="m42.806 55 .788-1.131-1.673-1.79 3.079-.85c-1.897-.214-4.458-.785-6.667-1.229a179.706 179.706 0 0 1 4.473 5" fill="#ACADA9"/>
                <path d="m39.621 68.333-.477 3.597a.746.746 0 0 1-.04.162c-.134.375-.53.564-.885.424l-5.499-2.202a2.334 2.334 0 0 1-.097-.033c-.314-.095-.62-.19-.92-.284l-.036.237 7.761 3.1.572-4.412a3.818 3.818 0 0 1-.215-.327 6.79 6.79 0 0 0-.164-.262" fill="#C7C6C1"/>
                <path d="m35 70.827 3.016.84.317-1.667c-.92.23-1.9.17-2.514.091a3.47 3.47 0 0 1-.819.736" fill="#C7C6C1"/>
                <path d="M53.348 41.373c-.956.435-1.076.918-1.232 1.547-.03.121-.061.246-.105.404-.16.578-.353 1.13-.744 1.772-.376.617-.933 1.3-1.822 2.146-1.869 1.78-5.401.873-5.798.763l-.04-.01c-11.012-3.216-11.83-10.884-11.82-13.175-.744.446-1.47 1.029-1.787 1.574.003-.022.553-5.142 5.02-7.192-.88-1.394-2.44-4.385-1.862-7.38.283-1.462 1.541-2.732 3.07-3.243a4.562 4.562 0 0 1 2.27-.175c.78.143 1.545.505 2.22 1.144 1.514 1.431 2.576 4.298 2.23 9.294.342.08.69.169 1.05.272.748-.3 3.011-1.062 6.043-.705-.707-1.287-1.475-3.287-1.085-5.47.246-1.378 1.368-2.601 2.694-3.086a3.547 3.547 0 0 1 1.876-.173c.643.12 1.264.437 1.802.998 1.2 1.252 1.98 3.803 1.51 8.288.465.027.91.097 1.29.231 1.447.515 2.048 2.357 1.828 4.476a10.17 10.17 0 0 1-.916 3.241c-.504 1.072-1.208 2.076-2.106 2.861-.981.857-2.179 1.454-3.586 1.598" fill="#231614"/>
                <path d="M46.667 46.664c-.914-1.103-1.954-2.164-3.065-2.786-1.125-.629-2.344-.798-3.602-.05 1.21.978 2.74 1.856 4.68 2.533l.022.008c.153.05 1.037.328 1.965.295" fill="#C53B2F"/>
                <path d="m45 42.391.963 2.472c.832.123 2.782.314 4.694-.216.167-.284.276-.557.375-.842.032-.094.068-.21.103-.32.133-.43.251-.811.532-1.16a12.457 12.457 0 0 1-2.26-.607c-.214 1.281-.895 1.708-.895 1.708.219-.953.018-1.76.018-1.76a23.098 23.098 0 0 1-3.53.725" fill="#FFFFFE"/>
                <path d="M57.308 11.152c-.28.473-.895 1.612-1.159 2.909.34.293.663.605.966.939 1.41-.632 2.226-1.375 2.61-2.131.29-.57.335-1.153.208-1.703-.131-.569-.446-1.107-.863-1.56-.662-.718-1.564-1.21-2.397-1.268-2.063-.143-3.039 2.75-3.34 3.874.576.29 1.139.615 1.677.98.454-1.13 1.264-1.97 1.7-2.366a.467.467 0 0 1 .288-.117.333.333 0 0 1 .298.14.27.27 0 0 1 .012.303" fill="#AF502E"/>
                <path d="M56.667 14.04c.293.3.573.619.836.96 1.22-.646 1.927-1.406 2.26-2.178a2.93 2.93 0 0 0 .179-1.741 3.817 3.817 0 0 0-.747-1.594c-.418-.535-.944-.947-1.478-1.154.011.006.69.398.779 2.115.088 1.73-1.83 3.592-1.83 3.592" fill="#8F4229"/>
                <path d="M53.333 30.966c-4.015-1.687-7.221-.743-8.333-.303.045 1.18.33 4.099 1.996 5.354a3.286 3.286 0 0 1-.013-.292c0-.851.33-1.542.736-1.542.406 0 .736.69.736 1.542 0 .315-.045.605-.121.85.276.048.538.078.785.088.79.031 1.46-.13 2.013-.467-.176-.282-.29-.726-.29-1.226 0-.853.33-1.543.737-1.543.4 0 .726.67.735 1.506.387-.667.668-1.521.847-2.546.077-.444.134-.919.172-1.42" fill="#48281B"/>
                <path d="M43.436 30.577c-5.677-1.53-8.604.246-10.103 2.252.094.889.299 1.683.594 2.389.766 1.827 2.16 3.085 3.87 3.847 1.757.784 3.85 1.053 5.955.889a15.709 15.709 0 0 0 4.709-1.12.71.71 0 0 1 .609.03c2.964 1.588 5.22 1.099 6.744-.23.724-.63 1.297-1.449 1.711-2.327.42-.888.678-1.834.77-2.71.148-1.434-.126-2.631-.856-2.89-.827-.293-2.199-.148-3.086-.002a14.24 14.24 0 0 1-.2 1.606c-.3 1.597-.885 2.845-1.76 3.698-.913.886-2.11 1.33-3.601 1.275a7.864 7.864 0 0 1-1.133-.13c-3.618-.671-4.149-5.023-4.223-6.577" fill="#EDC28D"/>
                <path d="M39.55 30c-2.231.367-3.651 1.511-4.55 2.742.093.9.296 1.703.589 2.418.76 1.849 2.142 3.122 3.838 3.894 1.741.793 3.817 1.066 5.904.9 1.604-.13 3.21-.52 4.669-1.135 0 0-10.059 1.685-12.346-3.45-1.882-4.225.864-5.167 1.895-5.369" fill="#D8A86D"/>
                <path d="M53.284 29.503c.468.133.949.296 1.44.497a14.913 14.913 0 0 1 1.792-.279c.44-4.172-.133-6.425-1.049-7.44-.299-.33-.632-.515-.973-.583a1.905 1.905 0 0 0-1.06.113c-.834.324-1.537 1.12-1.686 2.01-.446 2.653 1.068 5.025 1.536 5.682M38.491 30c1.302-.34 2.88-.429 4.793-.132.261-4.084-.54-6.358-1.692-7.438a2.743 2.743 0 0 0-1.394-.72 2.956 2.956 0 0 0-1.455.116c-.995.33-1.807 1.115-1.98 2.004-.498 2.558 1.061 5.19 1.728 6.17" fill="#FFFFFE"/>
                <path d="M37.5 23.333c.376 0 .732.112 1.052.31-.53.058-.945.65-.945 1.371 0 .76.462 1.377 1.032 1.377.57 0 1.033-.616 1.033-1.376A4.2 4.2 0 0 1 40 26.667C40 28.507 38.88 30 37.5 30S35 28.507 35 26.667s1.12-3.334 2.5-3.334M53.734 25.02c.371-.055.737.005 1.077.155-.514.135-.847.784-.753 1.5.098.757.634 1.303 1.195 1.22.562-.082.937-.762.838-1.517.27.454.46.998.537 1.595.24 1.83-.67 3.474-2.029 3.674-1.36.198-2.655-1.123-2.894-2.953-.24-1.83.67-3.476 2.03-3.674" fill="#231614"/>
                <path d="m51.667 63.333 6.666-6.393-3.328-3.367a.634.634 0 0 1-.15-.24l1.03 3.076c-.623 3.124-4.218 6.924-4.218 6.924" fill="#272827"/>
                <path d="m22.648 72.064-.409.215-.441.027-1.527 1.483 1.897-.922.48-.803Zm-1.472-1.513-.453.798.13-.064.708-.081 1.65-1.722-2.035 1.07ZM17.15 75l1.487-2.493-.35.023.474-.23.204-.341 1.028-1.074-3.326.211 4.533-1.47 1.238-1.293-.7 1.23 1.566-.179 1.006-1.05-1.554 2.732.91-.103 2.517-2.63-1.424 2.504.286-.033-.38.2-.43.754-.885.86 3.317-.38-4.56 1.585L20.897 75l.682-1.143-1.475.094L19.023 75l1.561-2.616-.79.05L17.15 75Z" fill="#231614"/>
              </g>
            </g>
          </svg>

        </div>
<!--        <h1>-->
          <%#= image_pack_tag('media/images/propertize_logo_light_v2.svg', class: 'navbar-brand', height: "80", title: BRANDNAME) %>
          <%#= image_pack_tag('media/images/realtor_logo.svg', class: 'navbar-brand', height: "50", title: BRANDNAME) %>
<!--        </h1>-->
        <%= yield(:heading) %>
      </header>
      <%= yield(:content) %>
      <footer class="auth-footer">&copy; <%= Time.current.year %> <%= t('sessions.rights') %></footer>
    </main>


  </div>
  <%#= debug(params) if Rails.env.development? %>
</div>



</body>
<%#= debug(params) if Rails.env.development? %>
</html>
