<% provide(:title, 'Add property') %>

<%= render partial: 'shared/breadcrumb', locals: {title: 'properties.new.heading', icon: 'house-colored'} %>

<div class="page-container">

  <%#= render partial: 'shared/header_strip', locals: {title: 'properties.new.heading', icon: 'house-colored'} %>

  <%= form_for(@property, remote: true) do |property| %>
    <div class="container">
      <div class="form-container">

        <div class="row ">


          <div class="col-md-4 col-sm-12">

            <%#= render 'shared/error_messages' %>

            <div class="form-group">
              <%= property.label :businesstype do %>
                <%= Property.human_attribute_name(:businesstype) %>
                <abbr title="<%= t('js.components.select.required') %>">*</abbr>
              <% end %>
              <%= react_component('SimpleSelect', props: {
                  inputID: 'property_businesstype',
                  inputName: 'property[businesstype]',
                  formID: "edit_property_#{@property.id}",
                  className: 'simple-select',
                  options: Property.businesstypes.keys.collect {|businesstype| {label: Property.human_enum_name(:businesstype, businesstype), value: businesstype}},
                  soloMode: true,
                  searchable: false,
                  ajaxEnabled: false,
                  storedOption: {"label": Property.human_enum_name(:businesstype, @property.businesstype), "value": @property.businesstype},
                  i18n: {
                      select: t('js.components.select'),
                  }
              }, prerender: false) %>
            </div>

            <!-- DependantSelect will generate the form-group div and label tags automatically (it's nested) -->
            <%= react_component('DependantSelect', props: {
                className: 'simple-select-container',
                options: get_options,
                searchable: false,
                storedMasterOption: {label: Property.human_enum_name(:category, @property.category), value: @property.category},
                storedSlaveOption: {label: Property.human_enum_name(:subcategory, @property.subcategory), value: @property.subcategory},
                formdata: {
                    formid: "edit_property_#{@property.id}",
                    categoryid: 'property_category',
                    categoryname: 'property[category]',
                    subcategoryid: 'property_subcategory',
                    subcategoryname: 'property[subcategory]',
                },
                i18n: {
                    select: t('js.components.select'),
                }
            }, prerender: false) %>


            <div class="form-group">
              <%= property.label :location do %>
                <%= content_tag(:i, nil, class: 'fas fa-map fa-fw') + ' ' + t('activerecord.attributes.property.location') %>
                <abbr title="<%= t('js.components.select.required') %>">*</abbr>
              <% end %>
              <%= react_component('SimpleSelect', props: {
                  inputID: 'property_locationid',
                  inputName: 'property[locationid]',
                  formID: "edit_property_#{@property.id}",
                  className: 'simple-select',
                  # options: Property.propertytypes.keys.collect { |propertytype| { label: Property.human_enum_name(:propertytype, propertytype), value: propertytype} },
                  # options: (1940..Time.zone.now.year + 2).collect {|year| {label: year, value: year}},
                  searchable: true,
                  soloMode: true,
                  ajaxEnabled: true,
                  storedOption: {"label": "#{@property.location.localname} - #{@property.location.parent_localname}", "value": @property.location.id},
                  i18n: {
                      select: t('js.components.select'),
                  }
              }, prerender: false) %>
            </div>

            <div class="form-group">
              <%= property.label :address do %>
                <%= content_tag :span do %>
                  <%= content_tag(:i, nil, class: 'fas fa-map-marker-alt fa-fw') + ' ' + t('activerecord.attributes.property.address') %>
                <% end %>
              <% end %>
              <%= property.text_field :address, placeholder: Property.human_attribute_name("address_placeholder"), class: 'glowing-border' %>
            </div>

            <!--<div class="form-group">-->
            <%#= property.label :propertycategory %>
            <!-- THIS ONE WAS THE ORIGINAL -->
            <%#= property.select :propertytype, Property.propertytypes.keys, {}, class: 'form-control' %>
            <!-- THIS ONE EVENTUALLY REPLACED IT -->
            <%#= property.select :propertytype, Property.propertytypes.keys.collect { |propertytype| [ Property.human_enum_name(:propertytype, propertytype), propertytype ] }, {},  class: 'form-control glowing-border-select' %>
            <!-- For using React select with jqueryvalidation plugin see this: -->
            <!-- https://github.com/JedWatson/react-select/issues/1827#issuecomment-316768651 -->

            <div class="form-group">
              <%= property.label :size do %>
                <%= content_tag :span do %>
                  <%= content_tag(:i, nil, class: 'fas fa-arrows-alt fa-fw') + ' ' + t('activerecord.attributes.property.size') %>
                <% end %>
              <% end %>
              <%= property.text_field :size, placeholder: Property.human_attribute_name("size_placeholder"), class: 'glowing-border' %>
            </div>


            <div class="form-group">

              <%= property.label :floor do %>
                <% content_tag :span do %>
                  <%= content_tag(:i, nil, class: 'fas icon-stairs fa-fw') + ' ' + t('activerecord.attributes.property.floor') %>
                <% end %>
              <% end %>

              <%= react_component('SimpleSelect', props: {
                  inputID: 'property_floor',
                  inputName: 'property[floor]',
                  formID: "edit_property_#{@property.id}",
                  className: 'simple-select',
                  options: Property.floors.keys.collect {|floor| {label: Property.human_enum_name(:floor, floor), value: floor}} + (1..50).collect {|floor| {label: floor, value: floor}},
                  # options: Property.propertytypes.keys.collect { |propertytype| { label: Property.human_enum_name(:propertytype, propertytype), value: propertytype} },
                  # options: (1940..Time.zone.now.year + 2).collect {|year| {label: year, value: year}},
                  searchable: true,
                  soloMode: true,
                  i18n: {
                      select: t('js.components.select'),
                  }
              }, prerender: false) %>
            </div>

            <div class="form-group">

              <%= property.label :construction do %>
                <% content_tag :span do %>
                  <%= content_tag(:i, nil, class: 'fas icon-architecture-crane-tool fa-fw') + ' ' + t('activerecord.attributes.property.construction') %>
                <% end %>
              <% end %>
              <%= react_component('SimpleSelect', props: {
                  inputID: 'property_construction',
                  inputName: 'property[construction]',
                  formID: "edit_property_#{@property.id}",
                  className: 'simple-select',
                  # options: Property.propertytypes.keys.collect { |propertytype| { label: Property.human_enum_name(:propertytype, propertytype), value: propertytype} },
                  options: (1940..Time.zone.now.year + 2).collect {|year| {label: year, value: year}},
                  searchable: true,
                  soloMode: true,
                  i18n: {
                      select: t('js.components.select'),
                  }
              }, prerender: false) %>
            </div>

            <div class="form-group">
              <%= property.label :levels do %>
                <%= content_tag(:i, nil, class: 'fas fa-building fa-fw') + ' ' + t('activerecord.attributes.property.levels') %>
              <% end %>
              <%= react_component('SimpleSelect', props: {
                  inputID: 'property_levels',
                  inputName: 'property[levels]',
                  formID: "edit_property_#{@property.id}",
                  className: 'simple-select',
                  options: (1..10).collect {|level| {label: level, value: level}},
                  soloMode: true,
                  searchable: false,
                  i18n: {
                      select: t('js.components.select'),
                  }
              }, prerender: false) %>
              <%#= property.text_field :levels, placeholder: Property.human_attribute_name("levels_placeholder"), class: 'glowing-border' %>
              <%#= inline_error @property.owner, :last_name, 'Last name'%>
            </div>


            <!-- This guards against unwanted ujs form submission -->
            <input id="preventformsubmit" type="hidden">
            <input id="property_images" class="emitters form-control" type="hidden" name="property[images][]">
            <!-- This makes the current locale available in javascript -->
            <%= render "accounts/helpers/locale" %>
            <%= content_tag :div, class: "", id: "jqvalidator", data: {
                i18n: {
                    jqvalidator: t('js.jqvalidator'),
                }
            } do %>
            <% end %>
            <%= content_tag :div, class: "", id: "swal", data: {
                i18n: {
                    swal: t('js.swal'),
                }
            } do %>
            <% end %>

            <div class="form-group">
              <%= property.label :bedrooms do %>
                <%= content_tag(:i, nil, class: 'fas fa-bed fa-fw') + ' ' + t('activerecord.attributes.property.bedrooms') %>
              <% end %>
              <%= property.text_field :bedrooms, placeholder: Property.human_attribute_name("bedrooms_placeholder"), class: 'glowing-border' %>
              <%#= inline_error @property.owner, :last_name, 'Last name'%>
            </div>

            <div class="form-group">
              <%= property.label :bathrooms do %>
                <%= content_tag(:i, nil, class: 'fas fa-bath fa-fw') + ' ' + t('activerecord.attributes.property.bathrooms') %>
              <% end %>
              <%= property.text_field :bathrooms, placeholder: Property.human_attribute_name("bathrooms_placeholder"), class: 'glowing-border' %>
              <%#= inline_error @property.owner, :last_name, 'Last name'%>
            </div>

            <div class="form-group">
              <%= property.label :price do %>
                <%= content_tag(:i, nil, class: 'fas fa-euro-sign fa-fw') + ' ' + t('activerecord.attributes.property.price') %>
              <% end %>
              <%= property.text_field :price, placeholder: Property.human_attribute_name("price_placeholder"), class: 'glowing-border' %>
              <%#= inline_error @property.owner, :last_name, 'Last name'%>
            </div>

            <div class="form-group">
              <%= property.label :availability do %>
                <%= content_tag(:i, nil, class: 'fas fa-calendar fa-fw') + ' ' + t('activerecord.attributes.property.availability') %>
              <% end %>
              <%= property.text_field :availability, placeholder: Property.human_attribute_name("availability_placeholder"), class: 'glowing-border datepicker' %>

              <%#= react_component('Dates', props: {
                  inputID: 'property_availability',
                  inputName: 'property[availability]',
                  formID: 'new_property',
                  className: 'dates',
                  # options: (1..10).collect {|level| {label: level, value: level}},
                  # soloMode: true,
                  # searchable: false,
                  i18n: {
                      select: t('js.components.select'),
                  }
              }, prerender: false) %>
              <%#= property.text_field :levels, placeholder: Property.human_attribute_name("levels_placeholder"), class: 'glowing-border' %>
              <%#= inline_error @property.owner, :last_name, 'Last name'%>
            </div>

            <div class="form-group">
              <%= property.label :notes do %>
                <%= content_tag(:i, nil, class: 'fas fa-sticky-note fa-fw') + ' ' + t('activerecord.attributes.property.notes') %>
              <% end %>
              <%= property.text_area :notes, placeholder: Property.human_attribute_name("notes_placeholder"), class: 'form-control' %>
            </div>


            <div class="form-group">
              <%= property.submit t('properties.new.add_button'), class: 'btn btn-primary' %>
              <%#= property.submit t('properties.new.add_button'), class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating property..."} %>
            </div>


          </div>


          <div class="col-md-8 col-sm-12">
            <div class="form-group">
              <%= content_tag :div, class: "", id: "uppy", data: {
                  i18n: {
                      uppy: t('js.uppy'),
                  },
                  uppy_url_listener: edit_property_path
              } do %>
              <% end %>
              <%#= property.label :size %>
              <%#= property.text_field :size, placeholder: Property.human_attribute_name("size_placeholder"), class: 'glowing-border' %>
            </div>


            <div class="multivalue-checkboxes">
              <div class="form-row justify-content-left">
                <% %w(housetype heating orientation view other).each do |category| %>

                  <div class="form-group">
                    <div class="col-md-2">
                      <label class="control-label checkbox-header app-checkbox"><strong><%= t("activerecord.attributes.extra.#{category}.title") %></strong></label>
                      <div class="col-md-12">
                        <%= property.collection_check_boxes :extra_ids, Extra.where(subtype: category), :id, :name do |b| %>
                          <div class="custom-control custom-checkbox app-checkbox">
                            <%= b.check_box({class: "custom-control-input", type: 'checkbox'}) %>
                            <%#= b.label({class: 'custom-control-label'}) %>
                            <%= b.label({class: 'custom-control-label'}) do %>
                              <%= t("activerecord.attributes.extra.#{category}.#{b.text}") %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>


                <div class="form-group">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <%= property.collection_check_boxes :extra_ids, Extra.where(subtype: 'dependent'), :id, :name do |b| %>
                        <div class="custom-control custom-checkbox app-checkbox mt-2">
                          <%= b.check_box({class: "custom-control-input dependent_check", type: 'checkbox'}) %>
                          <%= b.label({class: 'custom-control-label dependent_label'}) do %>
                            <%= t("activerecord.attributes.extra.dependent.#{b.text}") %>
                          <% end %>
                          <div class="mt-1">
                            <input type="number" name="property[storage_space]" class="form-control custom-control-label dependent_input" placeholder="<%= t("activerecord.attributes.extra.dependent.#{b.text}_placeholder") %>">
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="justify-content-center px-3">
                <div class="form-group">
                  <strong><%= property.label :adxe %></strong>
                  <%= property.text_area :adxe, placeholder: Property.human_attribute_name("adxe_placeholder"), class: 'form-control' %>
                </div>
              </div>

              <div class="justify-content-center px-3">
                <div class="form-group">
                  <strong><%= property.label :adspitogatos %></strong>
                  <%= property.text_area :adspitogatos, placeholder: Property.human_attribute_name("adspitogatos_placeholder"), class: 'form-control' %>
                </div>
              </div>
            </div>


          </div>


        </div>
        <hr/>
      </div>
  <% end %>

  </div>
</div>







