<% provide(:title, 'Properties Index') %>

<p id="notice"><%= notice %></p>


<div class="center jumbotron pr-container">


  <div class="row">
    <div class="col-md-12">

      <h3>Properties</h3>

      <%= react_component('DataTable', props: {
          initial_payload: {
              dataset_wrapper: @propertieslist,
              results_per_page: @results_per_page,
              total_entries: @total_entries,
              current_page: @current_page,
              initial_search: @initial_search,
              initial_sorting: @initial_sorting,
              initial_ordering: @initial_ordering,
              object_type: 'properties'
          }
      }, prerender: false) %>





      <!--<table>-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th>Description</th>-->
          <!--<th>Price</th>-->
          <!--<th>Size</th>-->

          <!--<th>User</th>-->
          <!--<th colspan="3"></th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<tbody>-->
        <!--<% @properties.each do |property| %>-->
          <!--<tr>-->
            <!--<td><%= property.description %></td>-->
            <!--<td><%= property.price %></td>-->
            <!--<td><%= property.size %></td>-->
            <!--<td><%= property.user_id %></td>-->
            <!--<% if owner? %> <td><%= link_to 'Show', property %></td> <% end %>-->
            <!--<% if owner? %> <td><%= link_to 'Edit', edit_property_path(property) %></td> <% end %>-->
            <!--<% if owner? %><td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td> <% end %>-->
          <!--</tr>-->
        <!--<% end %>-->
        <!--</tbody>-->
      <!--</table>-->

      <br>

      <% if owner? %>
        <%= link_to 'New Property', new_property_path %>
      <% end %>


    </div>
  </div>
</div>


