<% provide(:title, 'Add property') %>
<div class="center pr-signup-container pr-container">

  <i class="pr-icon sm add-property-colored"></i>
  <span class="title"><%= t 'properties.new.heading' %></span>


  <div class="row">

    <div class="col-md-12 ">


      <%= form_for(@property, remote: true) do |property| %>
        <div class="pr-form-container">
          <div class="col-md-4 col-md-border">

            <%#= render 'shared/error_messages' %>

            <div class="form-group">
              <%= property.label :businesstype %>
              <%= react_component('SimpleSelect', props: {
                    inputID: 'property_businesstype',
                    inputName: 'property[businesstype]',
                    formID: 'new_property',
                    className: 'simple-select',
                    options: Property.businesstypes.keys.collect { |businesstype| { label: Property.human_enum_name(:businesstype, businesstype), value: businesstype} },
                    soloMode: true,
                    searchable: false,
                    i18n: {
                        select: t('js.components.select'),
                    }
                }, prerender: false) %>
            </div>

            <!-- DependantSelect will generate the form-group div and label tags automatically (it's nested) -->
            <%= react_component('DependantSelect', props: {
                  className: 'simple-select-container',
                  options: get_options,
                  searchable: false,
                  formdata: {
                      formid: 'new_property',
                      categoryid: 'property_category',
                      categoryname: 'property[category]',
                      subcategoryid: 'property_subcategory',
                      subcategoryname: 'property[subcategory]',
                  },
                  i18n: {
                      select: t('js.components.select'),
                  }
              }, prerender: false) %>


            <div class="form-group">
              <%= property.label :location do %>
                <%= content_tag :span, fa_icon('map fw', text: t('activerecord.attributes.property.location')) %>
              <% end %>
              <%= react_component('AjaxSelect', props: {
                  inputID: 'property_locationid',
                  inputName: 'property[locationid]',
                  formID: 'new_property',
                  className: 'simple-select',
                  # options: Property.propertytypes.keys.collect { |propertytype| { label: Property.human_enum_name(:propertytype, propertytype), value: propertytype} },
                  # options: (1940..Time.zone.now.year + 2).collect {|year| {label: year, value: year}},
                  searchable: true,
                  soloMode: true,
                  i18n: {
                      select: t('js.components.select'),
                  }
              }, prerender: false) %>
            </div>


              <!--<div class="form-group">-->
              <%#= property.label :propertycategory %>
              <!-- THIS ONE WAS THE ORIGINAL -->
              <%#= property.select :propertytype, Property.propertytypes.keys, {}, class: 'form-control' %>
              <!-- THIS ONE EVENTUALLY REPLACED IT -->
              <%#= property.select :propertytype, Property.propertytypes.keys.collect { |propertytype| [ Property.human_enum_name(:propertytype, propertytype), propertytype ] }, {},  class: 'form-control glowing-border-select' %>
              <!-- For using React select with jqueryvalidation plugin see this: -->
              <!-- https://github.com/JedWatson/react-select/issues/1827#issuecomment-316768651 -->



            <div class="form-group">
              <%#= property.label :size %>
              <%= property.label :size do %>
                <%= content_tag :span, fa_icon('arrows-alt fw', text: t('activerecord.attributes.property.size')) %>
              <% end %>
              <%= property.text_field :size, placeholder: Property.human_attribute_name("size_placeholder"), class: 'glowing-border' %>
            </div>



            <div class="form-group">

              <%= property.label :floor do %>
                <% content_tag :span do %>
                  <i class="icon-vertical_arrows"></i>&nbsp; <%= t('activerecord.attributes.property.floor') %>
                <% end %>
              <% end %>

              <%= react_component('SimpleSelect', props: {
                  inputID: 'property_floor',
                  inputName: 'property[floor]',
                  formID: 'new_property',
                  className: 'simple-select',
                  options: Property.floors.keys.collect {|floor| {label: Property.human_enum_name(:floor, floor), value: floor}} + (1..50).collect {|floor| {label: floor, value: floor}},
                  # options: Property.propertytypes.keys.collect { |propertytype| { label: Property.human_enum_name(:propertytype, propertytype), value: propertytype} },
                  # options: (1940..Time.zone.now.year + 2).collect {|year| {label: year, value: year}},
                  searchable: true,
                  soloMode: true,
                  i18n: {
                      select: t('js.components.select'),
                  }
              }, prerender: false) %>
            </div>

            <div class="form-group">

              <%= property.label :construction do %>
                <% content_tag :span do %>
                  <i class="icon-construction2"></i>&nbsp; <%= t('activerecord.attributes.property.construction') %>
                <% end %>
              <% end %>
              <%= react_component('SimpleSelect', props: {
                  inputID: 'property_construction',
                  inputName: 'property[construction]',
                  formID: 'new_property',
                  className: 'simple-select',
                  # options: Property.propertytypes.keys.collect { |propertytype| { label: Property.human_enum_name(:propertytype, propertytype), value: propertytype} },
                  options: (1940..Time.zone.now.year + 2).collect {|year| {label: year, value: year}},
                  searchable: true,
                  soloMode: true,
                  i18n: {
                      select: t('js.components.select'),
                  }
              }, prerender: false) %>
            </div>

            <div class="form-group">
              <%= property.label :levels do %>
                <%= content_tag :span, fa_icon('building fw', text: t('activerecord.attributes.property.levels')) %>
              <% end %>
              <%= react_component('SimpleSelect', props: {
                  inputID: 'property_levels',
                  inputName: 'property[levels]',
                  formID: 'new_property',
                  className: 'simple-select',
                  options: (1..10).collect {|level| {label: level, value: level}},
                  soloMode: true,
                  searchable: false,
                  i18n: {
                      select: t('js.components.select'),
                  }
              }, prerender: false) %>
              <%#= property.text_field :levels, placeholder: Property.human_attribute_name("levels_placeholder"), class: 'glowing-border' %>
              <%#= inline_error @property.owner, :last_name, 'Last name'%>
            </div>



            <!-- This guards against unwanted ujs form submission -->
            <input id="preventformsubmit" type="hidden">
            <input id="property_images" class="emitters form-control" type="hidden" name="property[images][]">
            <!-- This makes the current locale available in javascript -->
            <%= render "accounts/helpers/locale" %>
            <%= content_tag :div, class: "", id: "jqvalidator", data: {
                i18n: {
                    jqvalidator: t('js.jqvalidator'),
                }
            } do %>
            <% end %>
            <%= content_tag :div, class: "", id: "swal", data: {
                i18n: {
                    swal: t('js.swal'),
                }
            } do %>
            <% end %>

            <div class="form-group">
              <%= property.label :bedrooms do %>
                <%= content_tag :span, fa_icon('bed fw', text: t('activerecord.attributes.property.bedrooms')) %>
              <% end %>
              <%= property.text_field :bedrooms, placeholder: Property.human_attribute_name("bedrooms_placeholder"), class: 'glowing-border' %>
              <%#= inline_error @property.owner, :last_name, 'Last name'%>
            </div>

            <div class="form-group">
              <%= property.label :bathrooms do %>
                <%= content_tag :span, fa_icon('bath fw', text: t('activerecord.attributes.property.bathrooms')) %>
              <% end %>
              <%= property.text_field :bathrooms, placeholder: Property.human_attribute_name("bathrooms_placeholder"), class: 'glowing-border' %>
              <%#= inline_error @property.owner, :last_name, 'Last name'%>
            </div>





            <div class="form-group">
              <%= property.label :price do %>
                <%= content_tag :span, fa_icon('eur fw', text: t('activerecord.attributes.property.price')) %>
              <% end %>
              <%= property.text_field :price, placeholder: Property.human_attribute_name("price_placeholder"), class: 'glowing-border' %>
              <%#= inline_error @property.owner, :last_name, 'Last name'%>
            </div>

            <div class="form-group">
              <%= property.label :availability do %>
                <%= content_tag :span, fa_icon('calendar fw', text: t('activerecord.attributes.property.availability')) %>
              <% end %>
              <%= property.text_field :availability, placeholder: Property.human_attribute_name("availability_placeholder"), class: 'glowing-border datepicker' %>

              <%#= react_component('Dates', props: {
                  inputID: 'property_availability',
                  inputName: 'property[availability]',
                  formID: 'new_property',
                  className: 'dates',
                  # options: (1..10).collect {|level| {label: level, value: level}},
                  # soloMode: true,
                  # searchable: false,
                  i18n: {
                      select: t('js.components.select'),
                  }
              }, prerender: false) %>
              <%#= property.text_field :levels, placeholder: Property.human_attribute_name("levels_placeholder"), class: 'glowing-border' %>
              <%#= inline_error @property.owner, :last_name, 'Last name'%>
            </div>



            <div class="form-group">
              <%= property.submit t('properties.new.add_button'), class: 'btn btn-primary' %>
              <%#= property.submit t('properties.new.add_button'), class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating property..."} %>
            </div>


          </div>


          <div class="col-md-8 ">


            <div class="form-group">
              <%= content_tag :div, class: "", id: "uppy", data: {
                  i18n: {
                    uppy: t('js.uppy'),
                  },
                  uppy_url_listener: new_property_path
                  } do %>
              <% end %>
              <%#= property.label :size %>
              <%#= property.text_field :size, placeholder: Property.human_attribute_name("size_placeholder"), class: 'glowing-border' %>
            </div>

            <hr />
            <div class="form-group">
              <label class="col-xs-12 control-label">Τύπος ακινήτου</label>
              <div class="col-xs-12">
                <div class="checkbox pr-checkbox"><label><input type="checkbox" /> Label text</label></div>
                <div class="checkbox pr-checkbox"><label><input type="checkbox" /> Label text</label></div>
                <div class="checkbox pr-checkbox"><label><input type="checkbox" /> Label text</label></div>
              </div>
            </div>









          </div>
        </div>


      <% end %>

    </div>
  </div>
</div>







