<% provide(:title, t('properties.show.print')) %>


<div class="print">
  <%= render partial: 'shared/card_header/header', locals: {title: heading(@property), btn_text: t('properties.show.catalog'), btn_link: properties_path} %>
  <div class="row">

    <div class="col-5">
      <% if pictures.blank? %>
        <div class="no-pic-container print-img">
          <%= image_pack_tag 'media/images/no_pic.png', class: "img-responsive" %>
        </div>
      <% else %>
        <% pictures.each do |image| %>
          <div class="print-img ">
            <%# -=Attention!=- This is user-generated content and we still have to use the asset pipeline %>
            <%= image_tag image, class: 'img-responsive' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-7">
      <table class="table ">
        <tbody>
        <% Property.basic_features.except(:created_at, :map_url, :pricepersqmeter).each do |key, value| %>
          <tr>
            <td class="align-middle nowrap">
              <div class="table-entry">
                <div class="table-icon-wrapper">
                  <%= image_pack_tag "house_specs/#{value[:icon]}.svg", style: "width:20px" %>
                </div>
                <span class="align-middle">&nbsp;&nbsp;<%= t("activerecord.attributes.property.#{value[:label].to_s}_title") %></span>
              </div>
            </td>
            <td class="align-middle nowrap">

              <span><%= render_attribute(@property, key, value[:options], value[:renderfn]) %></span></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <h2 class="decorated"><span><%= t 'properties.info' %></span></h2>
      <table class="table ">
        <tbody>
        <% Property.extended_features.except(:address).each do |key, value| %>
          <tr>
            <td class="align-middle nowrap">
              <div class="table-entry">
                <div class="table-icon-wrapper">
                  <%= image_pack_tag "house_specs/#{value[:icon]}.svg", style: "width:20px" %>
                </div>
                <span class="align-middle">&nbsp;&nbsp;<%= t("activerecord.attributes.property.#{value[:label].to_s}_title") %></span>
              </div>
            </td>
            <td class="align-middle nowrap">
              <span><%= render_attribute(@property, key, value[:options], value[:renderfn]) %></span></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <% unless @property.extras.blank? %>
        <hr/>
        <span><%= image_tag "plus.svg", style: "width:15px" %></span>&nbsp;
      <% end %>
      <% @property.extras.map do |element| %>
        <span><%= t("activerecord.attributes.extra.#{element.subtype}.#{element.name}") %><%= render_extra_value(@property, "#{element.name}_space").to_s.html_safe %></span>
        <% concat(', ') if @property.extras.last != element %>
      <% end %>

      <% unless @property.description.blank? %>
        <hr />
        <p><%= @property.description %></p>
      <% end %>



      <hr/>
      <%= render partial: 'accounts/properties/contact' %>
    </div>


  </div>

</div>