<% provide(:title, t('properties.show.heading')) %>

<%= render partial: 'shared/breadcrumb', locals: {path: [{:title => 'properties.show.properties', :href => properties_path}, {title: @property.title || @property.id, :href => ''}], icon: 'house-colored'} %>


<div class="page-container">
  <div class="container">
    <!-- .card -->
    <div class="card card-fluid">
      <h2 class="card-header"><%= heading %></h2>
      <!-- .card-body -->
      <div class="card-body">

        <div class="row">
          <div class="col-lg-6 col-md-12 my-auto">

            <% if @property.images.blank? %>
              <div class="d-flex flex-wrap justify-content-center">
                <%= content_tag :i, "", class: "pr-icon lg house-avatar-placeholder" %>
              </div>

            <% else %>
              <div class="thumbnails-ribbon d-flex flex-wrap justify-content-center">
                <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true">
                  <% @property.images.each do |image| %>
                    <%= image_tag image %>
                  <% end %>
                </div>
              </div>
            <% end %>

          </div>

          <div class="col-lg-6 col-md-12">
            <div class="table-responsive">
              <!-- .table -->
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td><%= t('activerecord.attributes.property.location') %></td>
                  <td><strong><%= @property.location.localname %></strong></td>
                </tr>
                <tr>
                  <td><%= t('activerecord.attributes.property.price_title') %></td>
                  <td><strong><%= @property.price ? number_to_currency(@property.price) : '—' %></strong></td>
                </tr>
                <tr>
                  <td><%= t('activerecord.attributes.property.pricepersqmeter') %></td>
                  <td>
                    <strong><%= @property.pricepersqmeter ? number_to_currency(@property.pricepersqmeter) : '—' %></strong>
                  </td>
                </tr>
                <tr>
                  <td><%= t('activerecord.attributes.property.size_title') %></td>
                  <td>
                    <strong><%= @property.size ? t('activerecord.attributes.property.size_meter_html', size: @property.size.to_s) : '—' %></strong>
                  </td>
                </tr>
                <tr>
                  <td><%= t('activerecord.attributes.property.businesstype_plain') %></td>
                  <td>
                    <strong><%= t("activerecord.attributes.property.enums.subcategory.#{@property.subcategory.to_s}") %></strong>
                  </td>
                </tr>
                <tr>
                  <td><%= t('activerecord.attributes.extra.heating.title') %></td>
                  <td>
                    <strong><%= @property.extras.find_by(subtype: 'heating').try(:name) ? t("activerecord.attributes.extra.heating.#{@property.extras.find_by(subtype: 'heating').try(:name)}") : '—' %></strong>
                  </td>
                </tr>
                <tr>
                  <td><%= t('activerecord.attributes.user.phone1') %></td>
                  <td>
                    <strong><%= @property.owner.telephones.blank? ? '—' : @property.owner.telephones.split(/[\s,]+/).collect(&:strip).join(', ') %></strong>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="centered-title">
              <div class="reactstrap-modal-button">
                <%= react_component('ModalContainer', props: {
                    id: 'modal-window',
                    fireButtonLabel: '<i class="fas fa-heart fa-fw"></i>&nbsp;' + t('properties.favourites'),
                    avatar: url_for(@property.avatar) || nil,
                    favlists_get_url: user_favlists_url(current_user.id),
                    favlists_post_url: user_favlists_url(current_user.id),
                    modalTitle: t('properties.fav_lists'),
                    buttonOKLabel: t('properties.ok_button'),
                    buttonCancelLabel: t('properties.cancel_button'),
                    buttonCloseLabel: t('properties.close_button'),
                    soloMode: true,
                    ajaxEnabled: false,
                    isClearable: true,
                    backspaceRemovesValue: true,
                    isSearchable: false,
                    feedback: t('js.forms.properties.wizard.step1.type_of_offer_feedback'),
                    i18n: {
                        no_lists_available: t('js.components.modal.favlists.no_results'),
                        property_cover_alt: t('js.components.modal.favlists.property_cover_alt'),
                        add_list_action: t('js.components.modal.favlists.add_list_action'),
                        loading_alt: t('js.components.modal.favlists.loading_alt'),

                    }
                }, prerender: false) %>
              </div>
              <%#= link_to favprompt_path,  {remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window', class: 'btn btn-danger'} do %>
              <!--                <%#= content_tag(:i, nil, class: "fas fa-heart fa-fw") %>&nbsp;<%#= t('properties.favourites') %>-->
              <%# end %>
              <button type="button" class="btn btn-secondary">
                <i class="fas fa-print fa-fw"></i>&nbsp;<%= t 'properties.print' %></button>
            </div>
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-12">
            <!--            <p><%#= @property.description %></p>-->
            <p>Χίος ,Πόλη Χίου, Διαμέρισμα, 102 τ.μ , Καταπληκτική κατάσταση, 1 Επίπεδο/α, Όροφος: 1ος, Σε απόσταση
              περιπάτου απο την Πλατεία ,, 2 Υ/Δ, 1 Μπάνιο/α , 1 Κουζίνα/ες, 1 Parking, Έτος κατασκευής 2008, Ενεργειακό
              Πιστοποιητικό: , Δάπεδα: Πλακάκια, Κουφώματα: Αλουμινίου, Χαρακτηριστικα: Αποθήκη, Προσόψεως, Πόρτα
              Ασφαλείας, Νεόδμητο, Βεράντες, Εσωτερική Σκάλα, Φωτεινό, Βαμμένο, Διπλά Τζάμια, Boiler, Σίτες, Διαθετει
              και 65 μ γκαραζ και αποθηκη(4 μπαλκονια), ανεξαρτητο δικο του καυστηρα( Ενιαία σαλονοτραπεζαρία,Κουζίνα με
              πάσο,), Αυτόνομη Πετρέλαιο Θέρμανση, Προσόψεως,Φωτεινό , Θέα :Βουνό , κοντά σε: Κεντρικό
              Δρόμο,Πλατεία,Αγορά,Λιμάνι ,, απόσταση απο: Πόλη(m): 800, Τιμή: 210.000€, Τηλ: 2106231555,, 6980502020 ,
              www.dontasrealestate.gr ΚΩΔ(ID)--31652 , ΚΩΔ(E-AGENTS) 127727 </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid architecto cumque, deleniti
              eius facilis fugiat harum ipsum itaque libero magnam nam neque nobis non odit officiis omnis quidem
              ullam.</p>
          </div>
        </div>


        <!--        <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
        <!--          <div class="modal-dialog" role="document">-->
        <!--            <div class="modal-content"></div>-->
        <!--          </div>-->
        <!--        </div>-->

        <hr/>

        <!--        <div class="row">-->
        <%= react_component('UsersListAssignableWithDatatable', props: {
            initial_payload: {
                dataset_wrapper: @userslist,
                results_per_page: @results_per_page,
                total_entries: @total_entries,
                current_page: @current_page,
                initial_search: @initial_search,
                initial_sorting: @initial_sorting,
                initial_ordering: @initial_ordering,
                # property_users means to get the users
                # plus the assigned status of each one
                # from the properties controller
                object_type: 'property_users',
                pid: @property.id
            },
            i18n: {
                datatable: t('js.datatables.properties'),
                search: t('js.properties_search')
            }
        }, prerender: false) %>


        <!--        </div>-->


      </div>
    </div>
  </div>
</div>





<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>



