<% provide(:title, t('properties.show.heading')) %>

<!-- Notice the use of render layout. We need layout instead of partial so that we can pass a block -->
<%= render layout: 'layouts/breadcrumb', locals: { path: [
    { :title => t('properties.index.breadcrumb'), :href => properties_path },
    { title: @property.slug.upcase, :href => '' }], icon: 'house-colored' } do %>

  <div class="action-btns">
    <div class="btn-group btn-group-toggle">
      <%= react_component('ModalControlStrip', props: { entries: properties_modal_data }) %>

      <button type="button" class="btn btn-secondary btn-sm printable" data-url="<%= property_url(@property) + '?print=true' %>">
        <i class="fas fa-print colored fa-fw"></i><span class="d-none d-lg-inline">&nbsp<%= t 'properties.print' %></span>
      </button>

      <% if current_user.is_admin?(current_account) || current_user.properties.exists?(@property.id) %>
        <%= link_to edit_property_path(@property), class: 'btn btn-secondary btn-sm editable' do %>
          <i class="fas fa-pen colored fa-fw"></i><span class="d-none d-lg-inline">&nbsp;<%= t 'properties.edit.edit_button_alt' %></span>
        <% end %>
      <% end %>

      <% if current_user.is_admin?(current_account) %>
        <%= link_to @property, method: :delete, data: { confirm: t('prompt') }, class: 'btn btn-secondary btn-sm editable' do %>
          <i class="fas fa-trash colored fa-fw"></i><span class="d-none d-lg-inline">&nbsp;<%= t 'properties.delete.delete_button' %></span>
        <% end %>
      <% end %>

    </div>
  </div>
<% end %>

<div class="page-container">
  <div class="container">
    <div class="app-container">
      <!-- .card -->
      <div class="card">
        <%= render partial: 'shared/card_header/header', locals: { title: heading(@property), btn_text: t('properties.show.back'), btn_link: :back } %>
        <!-- .card-body -->
        <div class="card-body">
          <div class="row">
            <div class="col-lg-7 col-md-12 align-self-center">
              <% if @property.images.blank? && !@property.avatar.attached? %>
                <div class="d-flex flex-wrap justify-content-center">
                  <%= content_tag :i, "", class: "pr-icon lg house-avatar-placeholder" %>
                </div>

              <% else %>
                <div class="thumbnails-ribbon d-flex flex-wrap justify-content-center">
                  <div class="fotorama" data-nav="thumbs" data-maxheight="400" data-allowfullscreen="true">
                    <!-- <div class="fotorama" data-nav="thumbs" data-width="900" data-height="300" data-allowfullscreen="true"> -->
                    <% @property.all_images.each do |image| %>
                      <%#= image_tag image.variant(resize: "736x500") %>
                      <%= image_tag image %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="col-lg-5 col-md-12 mt-3 mt-lg-0">
              <div class="col-12">
                <div class="card borderlesss-card">
                  <div class="card-header header-public simplified-header">
                    <div class="table-entry">
                      <div class="table-icon-wrapper">
                        <i class="pr-icon xs info"></i>
                      </div>
                      <span class="align-middle">&nbsp; <%= t 'activerecord.attributes.property.info_title' %> </span>
                    </div>
                  </div><!-- .card-body -->
                  <div class="card-body">
                    <%= render partial: 'accounts/properties/features', locals: { features: Property.basic_features, classNames: 'table-striped first-row-no-border' } %>
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div>
            </div>

          </div>

          <div class="d-none d-lg-block">
            <div class="col-12">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-xs-12">
              <div class="col-12">
                <div class="property-quick-actions-container row">
                  <div class="col-2 d-flex align-items-center quick-actions-title"><mark><strong><%= t('viewings.actions') %></strong></mark></div>
                  <div class="col-10">

                  <div class="custom-control custom-switch website-enabled-control">
                    <%= form_for(@property, url: property_path(@property), html: { id: 'property-website-membership-form' }) do |f| %>
                      <div class="custom-control custom-switch">
                        <%= f.check_box(:website_enabled, {class: "custom-control-input solo-attribute-updater", type: 'checkbox'}) %>
                        <%= f.label(:website_enabled, {class: 'custom-control-label cursor-pointer'}) do %>
                          <strong><%= t('properties.edit.website_enabled_html', website: websites_root_url(locale: I18n.locale)) %></strong>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <div class="custom-control custom-switch pinned-control">
                    <%= form_for(@property, url: property_path(@property), html: { id: 'property-website-membership-form' }) do |f| %>
                      <div class="custom-control custom-switch">
                        <%= f.check_box(:pinned, {class: "custom-control-input solo-attribute-updater", type: 'checkbox'}) %>
                        <%= f.label(:pinned, {class: 'custom-control-label cursor-pointer'}) do %>
                          <strong><%= t('js.forms.properties.wizard.step1.pinned') %></strong>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <div class="custom-control custom-switch pinned-control">
                    <%= form_for(@property, url: property_path(@property), html: { id: 'property-website-membership-form' }) do |f| %>
                      <div class="custom-control custom-switch">
                        <%= f.check_box(:active, {class: "custom-control-input solo-attribute-updater", type: 'checkbox'}) %>
                        <%= f.label(:active, {class: 'custom-control-label cursor-pointer'}) do %>
                          <strong><%= t('activerecord.attributes.property.status_title') %></strong>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  </div>


                </div>
                <div class="card borderlesss-card">
                  <div class="card-header header-public simplified-header">
                    <div class="table-entry">
                      <div class="table-icon-wrapper">
                        <i class="pr-icon xs specs"></i>
                      </div>
                      <span class="align-middle">&nbsp; <%= t 'activerecord.attributes.property.specs_title' %> </span>
                    </div>
                  </div><!-- .card-body -->
                  <div class="card-body">
                    <%= render partial: 'accounts/properties/features', locals: { features: Property.extended_features, classNames: 'table-borderless normalize-table' } %>
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div>

              <div class="col-12">
                <div class="card borderlesss-card">
                  <div class="card-header header-public simplified-header">
                    <div class="table-entry">
                      <div class="table-icon-wrapper">
                        <i class="pr-icon xs list"></i>
                      </div>
                      <span class="align-middle">&nbsp; <%= t 'activerecord.attributes.property.extras_title' %></span>
                    </div>
                  </div><!-- .card-body -->
                  <div class="card-body">
                    <% if @property.extras.blank? %>
                      <h3><%= t('activerecord.attributes.property.extras_not_found') %></h3>
                    <% else %>
                      <%= render partial: 'accounts/properties/extras' %>
                    <% end %>
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div>


              <div class="col-12">
                <div class="card borderlesss-card">
                  <div class="card-header header-public simplified-header">
                    <div class="table-entry">
                      <div class="table-icon-wrapper">
                        <i class="pr-icon xs description"></i>
                      </div>
                      <span class="align-middle">&nbsp; <%= t 'activerecord.attributes.property.description_title' %></span>
                    </div>
                  </div><!-- .card-body -->
                  <div class="card-body">
                    <% if @property.description.blank? %>
                      <h3><%= t('activerecord.attributes.property.description_not_found') %></h3>
                    <% else %>
                      <div><%= @property.description %></div>
                    <% end %>
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div>

            </div>


            <div class="col-lg-6 col-xs-12">

              <div class="col-12">
                <div class="card borderlesss-card">
                  <div class="card-header header-internal simplified-header">
                    <div class="table-entry">
                      <div class="table-icon-wrapper">
                        <i class="pr-icon xs notes"></i>
                      </div>

                      <span class="align-middle"><span class="property-cover-popover" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="<%= t 'properties.show.tooltip_internal_notes' %>">&nbsp; <%= t 'activerecord.attributes.property.notes_title' %></span> </span>
                    </div>
                  </div><!-- .card-body -->
                  <div class="card-body">
                    <% if @property.notes.blank? %>
                      <h3><%= t('activerecord.attributes.property.extras_not_found') %></h3>
                    <% else %>
                      <div><%= @property.notes %></div>
                    <% end %>
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div>


              <div class="col-12">
                <div class="card borderlesss-card">
                  <div class="card-header header-internal simplified-header">
                    <div class="table-entry">
                      <div class="table-icon-wrapper">
                        <i class="pr-icon xs info"></i>
                      </div>
                      <span class="align-middle"><span class="property-cover-popover" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="<%= t "properties.show.tooltip_owner_#{current_user.role(current_account)}" %>">&nbsp; <%= t 'activerecord.attributes.property.owner_title' %></span> </span>
                    </div>
                  </div><!-- .card-body -->
                  <div class="card-body">
                    <table class="table normalize-table">
                      <% property_owners = @property.clients.references(:cpas).where(cpas: { ownership: true }) %>
                      <% if property_owners.blank? %>
                        <h2><%= t 'activerecord.attributes.property.owner_header_missing' %></h2>
                        <div class="no-entries">
                          <i class="no-results"> </i>
                        </div>
                      <% else %>
                        <thead>
                        <tr>
                          <th scope="col"><%= t 'activerecord.attributes.property.owner_header_name' %></th>
                          <th scope="col"><%= t 'activerecord.attributes.property.owner_header_tel' %></th>
                        </tr>
                        </thead>
                        <tbody>
                          <div class="table-responsive">
                            <% property_owners.each do |property_owner| %>
                              <% print_type = @property.render_owner(current_user, property_owner, current_account) %>
                                <tr>
                                  <td class="align-middle nowrap"> <!-- Owner name -->
                                    <div class="table-entry">
                                    <% case print_type
                                       when :link %>
                                        <%= link_to client_path(property_owner), data: { toggle: "tooltip", placement: "top", title: t('properties.show.client_tooltip', user: property_owner.full_name) } do %>
                                          <span class="align-middle"><%= property_owner.full_name %></span>
                                        <% end %>
                                    <% when :text %>
                                        <%= content_tag(:span, property_owner.full_name, class: "align-middle cursor-default") %>
                                      <% when :none %>
                                        <%= content_tag(:span, nil, class: "align-middle forbidden-cursor fas fa-lock fa-fw", data: { toggle: "tooltip", placement: "top", title: t('access_denied') }) %>
                                    <% end %>
                                    </div>
                                  </td>
                                  <td class="align-middle nowrap"> <!-- Owner telephone -->
                                    <% case print_type
                                       when :link, :text %>
                                        <span><%= property_owner.telephones.blank? ? '—' : property_owner.telephones.split(/[\s,]+/).collect(&:strip).join(', ') %></span>
                                    <% when :none %>
                                      <%= content_tag(:span, nil, class: "align-middle forbidden-cursor fas fa-lock fa-fw", data: { toggle: "tooltip", placement: "top", title: t('access_denied') }) %>
                                    <% end %>
                                  </td>
                                </tr>
                              <% end %>
                          </div>
                        </tbody>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Custom fields-->
              <% if @property.model_type.fields.length > 0 %>
                <div class="col-12">
                  <div class="card borderlesss-card">
                    <div class="card-header header-internal simplified-header">
                      <div class="table-entry">
                        <div class="table-icon-wrapper">
                          <i class="pr-icon xs info"></i>
                        </div>

                        <span class="align-middle"><span class="property-cover-popover" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="<%= t 'properties.show.tooltip_extras' %>"><i class="fas fa-lock fa-fw"></i>  <%= t 'cfields.title' %> </span></span>

                      </div>
                    </div><!-- .card-body -->
                    <div class="card-body">
                      <div class="row mb-3">
                        <div class="table-responsive">
                          <table class="table table-borderless normalize-table">
                            <tbody>
                            <% @property.model_type.fields.each do |field| %>
                              <%= render "accounts/cfields/#{field.field_type}_read", cfield_label: field.name, cfield_data: @property.preferences[field.slug] %>
                            <% end %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <!-- End of Custom fields -->
            </div>
          </div>
        </div>
      </div>
      <%= render "accounts/helpers/locale" %>
      <div id="automatedClicks"></div>
    </div>

  </div>
</div>



