<%= link_to edit_user_path(current_user), class: 'dropdown-item' do %>
  <%= content_tag :i, nil, class: 'fas fa-user fa-fw' %>&nbsp; <span><%= t('navbar.profile') %></span>
<% end %>

<div class="dropdown-divider"></div>

<%= link_to favlists_path, class: 'dropdown-item' do %>
  <%= content_tag :i, nil, class: 'fas fa-heart fa-fw' %>&nbsp; <span><%= t('navbar.favorites') %></span>
<% end %>

<%= link_to '#', class: 'dropdown-item', id: 'tour_toggle' do %>
  <%= content_tag :i, nil, class: 'fas fa-play fa-fw' %>&nbsp; <span><%= t('tour.title') %></span>
<% end %>

<%# if (current_user.get_account_count > 1) || current_user.is_admin?(current_account) %>
<% if (current_user.get_account_count > 1) || current_user.is_sysadmin? %>
  <div class="dropdown-divider"></div>
  <%= link_to account_list_url(subdomain: nil), class: "dropdown-item #{masquerading? ? 'disabled' : '' }"  do %>
    <%= content_tag :i, nil, class: 'fas fa-exchange-alt fa-fw' %>&nbsp; <span><%= t('navbar.switch') %></span>
  <% end %>
<% end %>

<% if current_user.is_admin?(current_account) %>
  <div class="dropdown-divider"></div>
  <%= link_to settings_timeline_path, class: 'dropdown-item', id: 'protools-nav' do %>
    <%= content_tag :i, nil, class: 'fas fa-cog fa-fw' %>&nbsp; <span><%= t('sidebar.settings') %></span>
  <% end %>
<% end %>

<div class="dropdown-divider"></div>

<%= link_to '#', class: 'dropdown-item', id: 'support' do %>
  <%= content_tag :i, nil, class: 'fas fa-info fa-fw' %>&nbsp; <span><%= t('navbar.help') %></span>
<% end %>

<% unless masquerading? %>
  <%= link_to logout_path(locale: I18n.locale), class: 'dropdown-item', method: :delete do %>
    <%= content_tag :i, nil, class: 'fas fa-sign-out-alt fa-fw' %>&nbsp; <span><%= t('navbar.logout') %></span>
  <% end %>
<% end %>

