<footer class="mt-auto footer-styles">
  <nav class="footer-nav">
    <table class="footer-table">
      <tr>
      <td>© 2018 - <%= Date.today.year %></td>
        <td>&nbsp;/&nbsp;</td>
        <% if current_user.is_admin?(current_account) %>
          <td class="d-none d-md-inline"><%= t('plan.title') %>:</td>
          <td class="d-none d-md-inline"><u><%= link_to t("plan.#{current_account.subscription_status.to_s}"), settings_subscriptions_url %></u></td>
          <td class="d-none d-md-inline">&nbsp;/&nbsp;</td>
        <% end %>
        <td><%= t('version') %>:</td>
        <td><%= version %></td>
        <td>&nbsp;/&nbsp;</td>
        <td class="pointer-hand">
          <button data-target="#modal-security"
                  data-toggle="modal"
                  data-placement="auto"
                  data-trigger="hover"
                  class="btn btn-icon btn-sm btn-outline-info">
          <i class="fa fa-lock fa-fw"></i>
          </button>
        </td>
      </tr>
    </table>
  </nav>
</footer>

<!-- Modal -->
<div class="modal fade" id="modal-security" tabindex="-1" aria-labelledby="modal-security" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="security-header"><%= t('footer.title') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="security-notice">
          <div class="d-flex justify-content-center"><i class="pr-icon lg padlock"> </i></div>
          <p><%= t('footer.body1') %></p>
          <p><%= t('footer.body2_html', subdomain: current_account.subdomain) %></p>
        </div>
      </div>
    </div>
  </div>
</div>