<!-- .app-header -->
<header class="app-header app-header-dark">
  <!-- .top-bar -->
  <div class="top-bar">
    <!-- .top-bar-brand -->
    <div id="logo" class="top-bar-brand" data-turbolinks-permanent="true">
      <%= link_to account_root_path, class: 'navbar-brand top-nav__logo' do %>
        <% if current_account.avatar.attached? %>
          <%= image_tag current_account.avatar, class: "d-inline-block align-top img-brand user-logo-image" %>
        <% else %>
          <svg id="logo-overflow" width="180" height="53" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <path d="M56.304 16.157h122.544v18.404H56.304z"/>
              <text fill="#EEE" fill-rule="nonzero" font-family="Skia-Regular_Bold, Skia" font-size="18" font-weight="bold" transform="translate(52.328 15.057)">
                <tspan x="6.677" y="18"><%= BRANDNAME %></tspan>
              </text>
              <g>
                <path d="M26 2c13.255 0 24 10.745 24 24S39.255 50 26 50 2 39.255 2 26 12.745 2 26 2" fill="#FCF5A2"/>
                <path d="M43.806 25.636a3.99 3.99 0 0 1 .57.513.419.419 0 0 1 .095.16c.003.007.738 2.224-1.716 3.712l.012.032c.098.269.116.898-.003 1.662a9.188 9.188 0 0 1-.747 2.464c-.864 1.833-2.18 3.534-4.967 3.155.808 2.275 1.64 5.967.001 8.862-.747 4.493-2.01 6.337-2.76 7.063.892.51 2.597 1.495 3.126 1.876.67.482.68 1.123.016 1.518-.282.167-.657.273-.904.324-3.287.683-5.508-.686-5.98-1.013-.543-.087-.99-.293-1.31-.588-.78-.72-.596-1.771-.28-2.424-.282-.307-.332-.715-.395-1.239l-.013-.109c-.098-.804-.736-1.71-1.068-2.137-2.49 1.256-4.28 4.03-4.38 4.187a.433.433 0 0 1-.105.116 8.82 8.82 0 0 1-.294.215c.032.522.075 1.736-.17 2.173-.258.458-1.263 1.45-2.47 2.286-1.377.952-2.855 1.61-4.454 1.553-2.493-.09-2.525-2.272-.693-2.978.857-.33 1.191-1.338 1.546-2.208a4.673 4.673 0 0 1-.526-.231.421.421 0 0 1-.246-.394l.186-6.454c-2.633 1.113-7.083 1.584-7.728-1.95-.258-1.413-.153-2.643.104-3.629.433-1.67 1.383-2.692 1.759-2.777.307-.07 1.464-.02 2.39.033-.043-.05-.084-.1-.122-.15-.91-1.182-.504-2.163-.178-2.831.471-.97 3.545-5.788 4.536-7.336-3.384-1.045-5.797-3.076-5.5-8.195.108-1.851.412-2.313-.065-4.715-.188-.945.126-2.23.935-3.664-4.938-.797-3.176-5.469-.759-6.067 1.808-.447 3.052 1.494 3.568 2.51 1.64-1.618 3.813-3.253 6.511-4.692l1.093-.512-.52 1.088-.454.815L25.684 3l-1.622 3.013 3.908-2.168-1.64 2.773c.906.075 2.866.329 4.767 1.18.287-1.032 1.108-3.207 2.906-3.071.744.055 1.524.504 2.074 1.156.344.406.604.896.715 1.422.114.54.074 1.114-.188 1.676-.301.645-.895 1.264-1.886 1.775.225.354.421.74.581 1.157.658 1.715 1.032 2.808 1.313 3.626.484 1.41.749 2.17 1.778 3.886.215.34 2.382 4.125-4.884 8.453.365.546 1.202 1.596 2.483 2.062.76.275 1.163.2 1.383-.039.247-.269.351-.77.436-1.25 0-.196.07-.64.706-.487.014-.27.001-.683-.102-1.278-.227-1.303-.202-2.072-.047-2.446.141-.343.378-.484.673-.46.213.018.424.145.616.355.247.274.465.692.624 1.211.759-.772 2.254-2.15 3.472-2.38.341-.066.596-.06.78.001.283.093.427.28.463.535.025.174-.018.363-.109.56-.18.388-.578.863-.944 1.241a8.967 8.967 0 0 1-.134.133" fill="#231614"/>
                <path d="M12.578 11c.088-.127.18-.256.276-.385-.206-.817-.605-1.28-.808-1.472-.18-.171.03-.515.269-.404.28.13.787.451 1.115 1.146a14.214 14.214 0 0 1 .57-.65c-.294-.66-1.249-2.521-2.543-2.198-.872.218-1.49 1.18-1.456 2.151.052 1.408 1.448 1.699 2.577 1.812" fill="#AF502E"/>
                <path d="M12.71 11c.093-.127.189-.256.29-.385-2.288-.735-2.346-3.077-.648-3.518a1.37 1.37 0 0 0-.82-.06c-.917.218-1.568 1.18-1.53 2.15.054 1.409 1.52 1.7 2.708 1.813" fill="#8F4229"/>
                <path d="m24.803 7.864 1.16-2.101-2.577 1.51-.001.001-1.415.822L23.697 5l-3.021 2.07-.106.073-1.378.935 1.303-2.453c-2.553 1.543-4.538 3.252-5.95 4.885-1.902 2.202-2.747 4.224-2.504 5.459.5 2.55.528 2.473.418 4.407-.393 6.86 4.356 7.818 9.725 8.625 1.81.272 4.158.95 5.532.984.83.021 1.467.057 1.728-.197.729-.709 2.316-1.85 2.321-1.853v.001a.454.454 0 0 1 .05-.03c8.043-4.26 6.008-7.757 5.82-8.085-1.103-1.9-1.302-2.486-1.836-4.064a98.666 98.666 0 0 0-1.295-3.627c-1.684-4.454-8.245-4.795-8.876-4.817l-.825.551" fill="#AF502E"/>
                <path fill="#8F4229" d="m25 8 1-2-.829.535v.001L25 8M22 8l2-3-1.384.793-.001.001L22 8M20 8l1-3c-.207.199-.409.4-.606.604L20 8M27 17.788s1.639-1.614 3.567-.221c1.929 1.393-3.191 2.27-3.567.22M19 22s-.078-2.53 1.527-4.42c0 0-.929-1.953.11-4.31 1.04-2.358 1.588-1.272 2.267 1.943.68 3.215-2.434 3.193-3.903 6.787"/>
                <path d="M13 16c.5 2.546.53 2.468.419 4.398-.393 6.845 4.361 7.8 9.736 8.605 1.813.272 4.163.948 5.539.982.83.021 1.469.057 1.73-.196.16-.155.36-.33.576-.51 0 0-4.988-2.983-5.95-.804 0 0-8.18-1.626-9.244-5.326-1.063-3.7-2.221-5.13-2.806-7.149" fill="#8F4229"/>
                <path d="M21 34.298 20.006 34 20 36.975l.086.025-.011-2.364a.428.428 0 0 1 .01-.121c.048-.204.242-.328.434-.277l.476.126.005-.066M23 34.366 22.027 34l-.027.528.926.472.074-.634" fill="#FFFFFE"/>
                <path d="M24.506 36.94c.092.016.186.037.282.06L25 35.439 23.008 35l-.008.037 1.281.403c.246.077.385.274.35.47l-.125 1.03" fill="#C7C6C1"/>
                <path d="M21.997 38c.115-.087.236-.211.362-.342.406-.419.86-.887 1.582-.94l.059-.715-.443-.203a.516.516 0 0 1-.024.118c-.076.228-.3.343-.5.256l-1.617-.704a.446.446 0 0 1-.25-.423L21 35l.01 2.502c.389.167.727.345.987.498" fill="#FFFFFE"/>
                <path d="M21.99 38a3.38 3.38 0 0 0 .364-.31c.407-.381.863-.807 1.587-.855l.059-.65-.445-.185c.204.413.002.622.002.622-1.042.242-1.636 1.066-1.636 1.066l-.921-.14c.39.15.729.313.99.452" fill="#C7C6C1"/>
                <path d="M24.934 38.31a.609.609 0 0 0 .066-.29.868.868 0 0 0-.107-.385 1.247 1.247 0 0 0-.299-.365c-1.262-.63-1.835-.025-2.318.486-.92.974-.617.801-1.198 2.128-.217.498.075.851.193.967.22.066.936.24 1.393-.155.768-.665 1.218-.238 1.531.26l.028.044c.227-.906-.527-1.339-1.059-1.51-.099-.03-.16-.144-.144-.262l.01-.066a.234.234 0 0 1 .084-.155.171.171 0 0 1 .155-.035c.616.16 1.041.33 1.314.589l.024.023a.622.622 0 0 0 .008-.18c0-.568-.85-1.01-1.263-1.164-.095-.035-.152-.144-.137-.258l.004-.029a.237.237 0 0 1 .081-.154.174.174 0 0 1 .151-.04c.478.102 1.068.214 1.483.552" fill="#AF502E"/>
                <path d="M23.145 38c-.804.863-.541.728-1.072 1.952-.203.468.069.8.179.908.205.062.871.226 1.297-.146.715-.624 1.134-.222 1.425.244L25 41c-.685-2.506-3.356 1.083-1.855-3" fill="#8F4229"/>
                <path d="M20.813 33.506 17.452 30c-1.111 1.766-3.764 6.01-4.185 6.89-.224.47-.505 1.155.086 1.937.692.915 2.44 1.985 6.377 3.12.021.006.042.013.061.022.081.03.543.16.95-.477-.282-.315-.62-.904-.224-1.681.23-.454.388-.833.483-1.082-.7-.381-2.439-1.302-3.54-1.688a5.86 5.86 0 0 1 1.234.069l.008-3.651a.416.416 0 0 1 .527-.402v-.001l1.584.45" fill="#363735"/>
                <path d="M20.813 33.506 17.452 30c-1.111 1.766-3.764 6.01-4.185 6.89-.224.47-.505 1.155.086 1.937.692.915 2.44 1.985 6.377 3.12.021.006.042.013.061.022.081.03.543.16.95-.477-.282-.315-.62-.904-.224-1.681.23-.454.388-.833.483-1.082-1.636 1.004-1.111 2.644-1.111 2.644-2.124-.564-6.599-1.867-5.912-4.11.687-2.244 3.518-5.746 4.038-4.509.52 1.238.679 4.356.679 4.356l.008-3.651a.416.416 0 0 1 .527-.402v-.001l1.584.45" fill="#272827"/>
                <path d="M16.88 45.836 17 41.53c-1.127-.468-1.974-.929-2.606-1.375-.504-.043-2.588-.216-2.948-.132-1.246.291-1.595 3.875-1.392 5.031.542 3.094 4.74 1.82 6.827.782" fill="#48281B"/>
                <path d="m16.94 45.82.06-2.182S10.394 45.92 10.537 41c-.5 1.247-.624 3.22-.483 4.028.548 3.135 4.78 1.845 6.886.792" fill="#3E251A"/>
                <path d="M17.757 55.373c-.434.923-.775 1.998-2.027 2.43-.948.328-1.13 1.145.41 1.194 1.381.045 2.675-.488 3.885-1.24 1.733-1.074 2.021-1.532 1.97-2.757a7.166 7.166 0 0 1-4.238.373M30.095 53c-.28.724.062 1.537.99 1.664a.4.4 0 0 1 .202.088c.006.005 1.82 1.799 5.058 1.077.206-.046.456-.122.655-.254-.297-.307-2.995-1.955-3.527-2.28-1.646-.02-2.699-.113-3.378-.295" fill="#363735"/>
                <path d="M30.103 53c-.304.751.066 1.595 1.072 1.726.083.01.157.044.218.091.004.004.918.869 2.607 1.183-.044-.019-1.998-.873-2.143-1.849 0 0 1.778-.3 1.902-.844-1.782-.022-2.92-.118-3.656-.307M17 59c1.085-.119 2.113-.596 3.086-1.222 1.68-1.082 1.959-1.544 1.909-2.778a6.703 6.703 0 0 1-4.108.376c.457.773 1.975.857 1.975.857C19.984 57.56 17.006 58.998 17 59" fill="#272827"/>
                <path d="M30.513 46.222a2.339 2.339 0 0 1-1.148 1c-.949.398-2.35.34-4.726.12-3.492-.325-6.203-1.664-7.382-2.342L17 53.667c.743.318 2.964.883 5.557-1.009.721-1.07 3.611-4.349 6.639-3.784-.259.054-.512.13-.761.22.305.286 1.148 1.159 1.282 2.228l.013.105c.103.844.123.777 3.939.817.305-.161 1.44-.697 2.331-5.377-.553.155-1.143.25-1.55.31-.953.145-1.897.209-2.56.243-.793.043-1.188-.514-1.377-1.197" fill="#363735"/>
                <path d="M29 46.632c-.942.38-2.31.308-4.547.068-3.478-.374-6.176-1.918-7.35-2.7L17 48l.62-2.02s7.12 2.548 11.38.652ZM28 48.862c.323.284 1.215 1.153 1.356 2.219l.013.104c.11.841.13.774 4.166.815.323-.161 1.522-.695 2.465-5.358-.585.154-1.209.249-1.64.31a29.993 29.993 0 0 1-2.707.242c-.838.042-1.255-.513-1.456-1.194-.47 2.633 4.182 1.63 4.182 1.63.019.679-.635 2.817-.926 3.192-.29.375-3.46.83-3.562-.129C29.79 49.734 28 48.862 28 48.862" fill="#272827"/>
                <path d="M17 53.63c.731.353 2.916.981 5.468-1.12.71-1.19 3.553-4.832 6.532-4.204-4.396-1.611-7.335 3.67-7.335 3.67C20.355 53.562 17 53.63 17 53.63" fill="#272827"/>
                <path d="M29.94 40.459C28.591 37.855 26.367 36.5 25.378 36l-.041.41c.148.14.271.293.367.456.146.25.226.523.232.797a1.42 1.42 0 0 1-.414 1.043c.009.043.016.088.021.135.059.515-.191.945-.37 1.182a1.85 1.85 0 0 1-.23 1.057 1.032 1.032 0 0 1-.261.306l-.417 3.225a.464.464 0 0 1-.025.112.412.412 0 0 1-.54.258l-5.54-2.219a.446.446 0 0 1-.265-.485l.097-.627c-.336-.116-.654-.231-.954-.346L17 42.684c2.212 1.627 4.987 2.974 7.914 3.222 2.151.184 4.488.378 5.046-2.363.07-.85.039-2.015-.02-3.084" fill="#363735"/>
                <path d="M29.94 40.459C28.591 37.855 26.367 36.5 25.378 36c1.466 1.312 3.884 3.902 3.507 6.43-.378 2.53-4.645 2.293-4.645 2.293a.412.412 0 0 1-.54.258l-5.54-2.219a.446.446 0 0 1-.265-.485l.097-.627c-.336-.116-.654-.231-.954-.346L17 42.684c2.212 1.627 4.987 2.974 7.914 3.222 2.151.184 4.488.378 5.046-2.363.07-.85.039-2.015-.02-3.084" fill="#272827"/>
                <path d="M25.605 35.52c.764.345 2.806 1.401 4.395 3.48a59.42 59.42 0 0 0-.087-.896c-1.445-2.554-8.185-8.082-9.032-8.771A47.269 47.269 0 0 1 19 29l3.4 4.3 2.992.86a.43.43 0 0 1 .306.471l-.093.89" fill="#363735"/>
                <path d="M20.88 29.333A47.158 47.158 0 0 1 19 29l3.396 4.304 2.962.851-4.479-4.822Zm4.72 6.193c.461.208 1.388.677 2.4 1.474l-2.31-2.486c.007.04.008.08.002.122l-.093.89Z" fill="#272827"/>
                <path d="m34.377 29.804.79 2.25a.415.415 0 0 1-.503.543l-.568-.158 1.084 1.372a.416.416 0 0 1-.001.531L31 39.36c.106 1.23.234 3.152.136 4.449l-.003.097a9.164 9.164 0 0 0-.003.95c0 1.718 3.629 1.211 4.678.366 2.488-2.004.547-7.663.467-10.136.002.005.234.445.531 1.171 3.217.49 5.355-2.841 5.185-5.803a3.395 3.395 0 0 1-1.097-.218c-.87-.31-1.614-.588-2.26-1.235-.105.603-.15.932-.554 1.375-.438.48-1.12.676-2.257.26a5.16 5.16 0 0 1-1.446-.831" fill="#363735"/>
                <path d="M37.55 35.954c3.375.469 5.619-2.723 5.44-5.562a3.862 3.862 0 0 1-1.15-.209c-.914-.297-1.694-.563-2.373-1.183-.11.577-.156.893-.58 1.317-.46.46-1.175.649-2.37.25A5.561 5.561 0 0 1 35 29.77c2.432 2.408 4.695.525 4.695.525.349.733 1.656 1.301 1.656 1.301.088 3.945-3.802 4.358-3.802 4.358M35.13 34 31 39.164c.105 1.265.231 3.245.135 4.58l-.004.099c-.008.183-.025.56-.002.977 0 1.77 3.586 1.248 4.623.378 2.426-2.036.59-7.738.465-10.332.035.893.247 7.495-1.062 8.458-1.404 1.032-3.594 1.462-3.015-3.829L35.13 34" fill="#272827"/>
                <path d="m31 38 4-4.081-1.997-2.15c-.17-.183-.134-.448.082-.593a.568.568 0 0 1 .44-.076l1.229.291-1.4-3.391c-.2.095-.405.19-.615.285l-.114.07c.74 4.087-1.087 8.474-1.625 9.645" fill="#363735"/>
                <path d="M32.846 31.657v-.001L34 32l-1.316-4c-.187.112-.379.224-.577.336l-.107.082s.794 1.99.846 3.239" fill="#272827"/>
                <path d="M42.08 26.495c.37.157 1.056.554 1.788 1.505a2.007 2.007 0 0 0 .068-1.218 3.844 3.844 0 0 0-.133-.106c-.424-.327-.853-.538-1.22-.627-.248-.06-.433-.066-.508-.009-.01.006.007-.005-.003.003-.128.111-.06.318.007.452" fill="#8F4229"/>
                <path d="M41.565 29.072c-.307-.411-.955-1.48-.165-2.316-.099-.335-.158-.847.198-1.24.008-.009.023-.024.046-.045.291-.281.721-.343 1.198-.194.034.01.067.022.1.035.12-.12.251-.255.298-.307.296-.322.612-.709.76-1.005a2.224 2.224 0 0 0-.172.029c-1.27.253-3.063 2.282-3.42 2.698v.008l-.461.546a6.814 6.814 0 0 0-.243-1.06l-.004-.004.002-.003c-.211-.69-.504-1.325-.69-1.13-.035.341.003.931.153 1.843.15.905.123 1.522.074 1.88.113.072.236.153.366.247.555.395 1.051.657 1.471.812.162.06.309.104.442.134.737-.329 1.225-.72 1.545-1.114-1.279-2.526-1.561-.824-1.137-.076a.218.218 0 0 1-.042.271l-.023.022a.199.199 0 0 1-.296-.03" fill="#AF502E"/>
                <path d="M41.433 28.142c-.321-.38-1-1.368-.173-2.142-1.253.58-.709 1.922-.709 1.922-.962-.495-1.551-.025-1.551-.025.119.066.247.141.384.228.58.365 1.098.607 1.538.751.169.056.323.096.462.124.77-.304 1.281-.665 1.616-1.03-1.338-2.337-1.633-.763-1.189-.07a.186.186 0 0 1-.044.25l-.024.02a.222.222 0 0 1-.162.047.215.215 0 0 1-.148-.075" fill="#8F4229"/>
                <path d="M28.854 31.146a.5.5 0 1 0-.706.71.5.5 0 0 0 .706-.71M31 35.416 29.255 32c-.08.044-.166.081-.255.11l.034 3.27A18.496 18.496 0 0 1 30.475 37c.15-.4.337-.943.525-1.584" fill="#C7C6C1"/>
                <path d="m29 34 .016 1.46c.573.549 1.074 1.072 1.455 1.54.15-.38.34-.896.529-1.506L29 34" fill="#ACADA9"/>
                <path d="M32 31.991 30.051 31a1.17 1.17 0 0 1-.051.139L31.6 34c.158-.625.299-1.302.4-2.009" fill="#C7C6C1"/>
                <path d="M30.023 30.726 31.957 32c.063-.982.062-1.996-.037-3-.468.408-1.01.901-1.34 1.269a1.7 1.7 0 0 1-.58.416.853.853 0 0 1 .023.041M27.217 32 26 33.245A68.379 68.379 0 0 1 28 35l-.027-2.507a1.596 1.596 0 0 1-.626-.358l-.002-.001a1.585 1.585 0 0 1-.128-.134" fill="#C7C6C1"/>
                <path d="m26.667 33-.667.56c.684.474 1.364.961 2 1.44l-.016-1.177L26.667 33" fill="#ACADA9"/>
                <path d="m25.684 33 1.205-1.73c.012-.189.05-.37.111-.533-1.138-.128-2.675-.47-4-.737.7.754 1.675 1.826 2.684 3" fill="#C7C6C1"/>
                <path d="m25.684 33 .473-.679-1.004-1.074 1.847-.51c-1.138-.128-2.675-.47-4-.737.7.754 1.675 1.826 2.684 3" fill="#ACADA9"/>
                <path d="m23.773 41-.287 2.158a.448.448 0 0 1-.024.097.407.407 0 0 1-.53.254l-3.3-1.32a42.465 42.465 0 0 1-.61-.19l-.022.141L23.657 44 24 41.353a2.291 2.291 0 0 1-.129-.196 4.073 4.073 0 0 0-.098-.157" fill="#C7C6C1"/>
                <path d="m21 42.496 1.81.504.19-1c-.553.138-1.14.103-1.509.055a2.082 2.082 0 0 1-.491.44" fill="#C7C6C1"/>
                <path d="M32.009 24.824c-.574.261-.646.55-.74.928a9.122 9.122 0 0 1-.062.243 3.926 3.926 0 0 1-.447 1.063c-.226.37-.56.78-1.093 1.287-1.121 1.068-3.24.524-3.479.458l-.024-.006c-6.607-1.93-7.098-6.53-7.092-7.905-.446.267-.882.617-1.072.944.002-.013.332-3.085 3.012-4.315-.528-.836-1.464-2.63-1.117-4.427.17-.878.925-1.64 1.842-1.946.43-.144.898-.19 1.362-.105.468.085.927.302 1.332.686.908.859 1.546 2.579 1.338 5.576.205.048.414.102.63.163.449-.18 1.807-.637 3.626-.423-.425-.772-.885-1.972-.651-3.281.147-.828.82-1.561 1.616-1.852a2.128 2.128 0 0 1 1.126-.104 1.99 1.99 0 0 1 1.08.599c.721.751 1.189 2.281.906 4.973.28.016.547.058.775.138.868.31 1.228 1.414 1.097 2.686a6.102 6.102 0 0 1-.55 1.945c-.303.642-.725 1.245-1.264 1.716-.588.514-1.307.872-2.151.959" fill="#231614"/>
                <path d="M28 27.998c-.548-.661-1.172-1.298-1.839-1.671-.675-.377-1.406-.48-2.161-.03.725.587 1.644 1.114 2.808 1.52l.013.004c.092.03.623.197 1.179.177" fill="#C53B2F"/>
                <path d="m27 25.435.578 1.483c.5.074 1.669.188 2.816-.13.1-.17.166-.334.225-.505.02-.056.041-.126.062-.192.08-.258.15-.487.319-.696-.43-.071-.882-.19-1.356-.364-.128.768-.537 1.025-.537 1.025.132-.572.011-1.056.011-1.056-.68.197-1.395.344-2.118.435" fill="#FFFFFE"/>
                <path d="M34.385 6.691c-.169.284-.537.968-.695 1.745.203.176.397.364.579.564.846-.38 1.336-.825 1.566-1.279.174-.341.201-.692.125-1.021a2.108 2.108 0 0 0-.518-.936c-.397-.431-.939-.727-1.438-.76C32.766 4.916 32.18 6.652 32 7.326c.346.174.683.37 1.006.588.272-.678.758-1.182 1.02-1.42a.28.28 0 0 1 .173-.07.2.2 0 0 1 .179.084c.04.056.042.123.007.182" fill="#AF502E"/>
                <path d="M34 8.424c.176.18.344.371.502.576.732-.388 1.156-.843 1.356-1.307.15-.35.173-.707.107-1.044a2.29 2.29 0 0 0-.448-.957c-.25-.32-.567-.568-.887-.692.007.003.415.238.467 1.269C35.151 7.306 34 8.424 34 8.424" fill="#8F4229"/>
                <path d="M32 18.58c-2.41-1.013-4.333-.446-5-.182.027.708.198 2.46 1.197 3.212a1.972 1.972 0 0 1-.007-.175c0-.51.197-.925.442-.925.243 0 .44.414.44.925 0 .189-.026.363-.072.51.166.029.323.047.472.053.474.019.875-.078 1.207-.28-.105-.17-.174-.436-.174-.736 0-.512.198-.926.442-.926.24 0 .436.402.441.904.233-.4.401-.913.508-1.528.047-.266.081-.551.104-.852" fill="#48281B"/>
                <path d="M26.062 18.346c-3.406-.918-5.163.148-6.062 1.351.056.534.18 1.01.356 1.434.46 1.096 1.297 1.85 2.323 2.308 1.053.47 2.31.632 3.572.533a9.425 9.425 0 0 0 2.825-.672.426.426 0 0 1 .366.018c1.778.953 3.131.66 4.046-.138a4.247 4.247 0 0 0 1.027-1.396c.252-.532.407-1.1.462-1.626.089-.86-.076-1.579-.514-1.734-.496-.176-1.319-.088-1.851-.001a8.543 8.543 0 0 1-.12.964c-.18.958-.531 1.707-1.057 2.218-.547.532-1.265.798-2.16.765a4.718 4.718 0 0 1-.68-.078c-2.17-.402-2.489-3.013-2.533-3.946" fill="#EDC28D"/>
                <path d="M23.73 18c-1.339.22-2.19.907-2.73 1.645.056.54.178 1.022.353 1.45.456 1.11 1.286 1.874 2.303 2.337 1.045.476 2.29.64 3.542.54a9.189 9.189 0 0 0 2.802-.68s-6.035 1.01-7.407-2.07c-1.13-2.536.518-3.101 1.137-3.222" fill="#D8A86D"/>
                <path d="M31.97 17.702c.281.08.57.177.865.298.2-.044.61-.125 1.074-.167.264-2.504-.079-3.856-.629-4.465a1.063 1.063 0 0 0-.583-.349 1.143 1.143 0 0 0-.637.068c-.5.194-.922.671-1.011 1.205-.268 1.592.64 3.016.922 3.41M23.095 18c.78-.204 1.728-.257 2.875-.079.157-2.45-.324-3.815-1.015-4.463a1.646 1.646 0 0 0-.836-.432 1.773 1.773 0 0 0-.873.07c-.597.197-1.085.668-1.188 1.202-.3 1.535.636 3.114 1.037 3.702" fill="#FFFFFE"/>
                <path d="M22.5 14c.225 0 .44.067.631.186-.317.035-.567.39-.567.823 0 .456.278.826.62.826.341 0 .619-.37.619-.826.125.292.197.63.197.991 0 1.104-.672 2-1.5 2s-1.5-.896-1.5-2 .672-2 1.5-2M32.24 15.012c.223-.033.442.003.647.093-.309.081-.508.47-.452.9.059.454.38.782.717.732.337-.05.562-.457.502-.91.162.272.276.598.323.957.144 1.098-.402 2.084-1.218 2.204-.815.12-1.593-.673-1.736-1.771-.144-1.098.402-2.086 1.218-2.205" fill="#231614"/>
                <path d="m31 38 4-3.836-1.997-2.02a.38.38 0 0 1-.09-.144l.618 1.845C33.157 35.72 31 38 31 38" fill="#272827"/>
                <path d="m13.589 43.239-.245.128-.265.017-.916.89 1.138-.554.288-.481Zm-.884-.908-.271.478.078-.038.424-.049.99-1.033-1.22.642ZM10.29 45l.892-1.496-.21.014.285-.138.122-.205.617-.644-1.996.127 2.72-.883.743-.775-.42.738.94-.108.603-.63-.932 1.64.545-.062L15.71 41l-.854 1.502.17-.02-.227.12-.258.453-.531.516 1.99-.229-2.735.952-.727.706.409-.686-.885.057-.648.629.936-1.57-.474.03L10.29 45Z" fill="#231614"/>
              </g>
            </g>
          </svg>






    <% end %>

    <% end %>
    </div>
    <!-- /.top-bar-brand -->
    <!-- .top-bar-list -->
    <div class="top-bar-list">
      <!-- .top-bar-item -->
      <!--      <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">-->
      <div class="top-bar-item px-2 d-lg-none d-xl-none">
        <!-- toggle menu -->
        <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="Menu" aria-controls="navigation">
                <span class="hamburger-box">
                  <span class="hamburger-inner"> </span>
                </span>
        </button>
        <!-- /toggle menu -->
      </div>
      <!-- /.top-bar-item -->
      <!-- .top-bar-item -->
      <div class="top-bar-item top-bar-item-full">
        <!-- .top-bar-search -->
        <div class="top-bar-search">
          <%= react_component('InlineSearch', props: {
              path: properties_inlinesearch_path,
              i18n: {
                  search: t('header.search'),
                  loading: t('js.components.select.loading_html'),
                  noresults: t('js.components.select.noresults')
              }
          }, prerender: false) %>

        </div>
        <!-- /.top-bar-search -->
      </div>
      <!-- /.top-bar-item -->
      <!-- .top-bar-item -->
      <div class="top-bar-item top-bar-item-right px-0 d-none d-md-flex">
        <!-- .nav -->
        <ul class="header-nav nav">
          <!-- .nav-item -->
          <!--          <li class="nav-item dropdown header-nav-dropdown has-notified">-->
          <!--            <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--              <span class="oi oi-pulse"></span>-->
          <!--            </a>-->
          <!--            <div class="dropdown-arrow"></div>-->
          <!-- .dropdown-menu -->
          <!--            <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">-->
          <!--              <h6 class="dropdown-header stop-propagation">-->
          <!--                      <span>Activities-->
          <!--                        <span class="badge">(2)</span>-->
          <!--                      </span>-->
          <!--              </h6>-->
          <!-- .dropdown-scroll -->
          <!--              <div class="dropdown-scroll has-scrollable">-->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item unread">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces15.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Jeffrey Wells created a schedule </p>-->
          <!--                    <span class="date">Just now</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item unread">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces16.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Anna Vargas logged a chat </p>-->
          <!--                    <span class="date">3 hours ago</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces17.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Sara Carr invited to Stilearn Admin </p>-->
          <!--                    <span class="date">5 hours ago</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces18.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Sara Carr updated a project </p>-->
          <!--                    <span class="date">1 day ago</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces19.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Arthur Carroll created a task </p>-->
          <!--                    <span class="date">1 day ago</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces20.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Angela Peterson assign a task to you </p>-->
          <!--                    <span class="date">2 days ago</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces21.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Willie Dixon and 3 others followed you </p>-->
          <!--                    <span class="date">2 days ago</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!--              </div>-->
          <!-- /.dropdown-scroll -->
          <!--              <a href="user-activities.html" class="dropdown-footer">All activities-->
          <!--                <i class="fa fa-fw fa-long-arrow-alt-right"></i>-->
          <!--              </a>-->
          <!--            </div>-->
          <!-- /.dropdown-menu -->
          <!--          </li>-->
          <!-- /.nav-item -->
          <!-- .nav-item -->
          <% if masquerading? %>
            <%= link_to user_masquerade_path(current_user),
                        method: :delete,
                        class: "nav-link menu-link #{masqueraded_admin.is_sysadmin? ? 'masquerading-special-sysadmin' : 'masquerading-special'}",
                        data: {
                            content: t('js.datatables.users.masquerading.exit_prompt', user: masqueraded_admin&.full_name) + (masqueraded_admin.is_sysadmin? ? '. ' + t('js.datatables.users.masquerading.sysadmin_prompt') : ''),
                            toggle: 'popover',
                            trigger: 'hover' } do %>
              <%= content_tag :i, nil, class: 'sidebar-masked-icon xs masked-icon-logout' %>
            <% end %>
          <% end %>

          <% if current_user.is_admin? current_account %>
            <%= content_tag :li, class: "menu-item dropdown header-nav-dropdown #{active_for(controller: %w[users invitations])}", id: 'partners-nav', data: {
              content: t('users.title'),
              placement: 'bottom',
              toggle: 'popover',
              trigger: 'hover' } do %>
              <%= link_to users_path, class: 'nav-link menu-link' do %>
                <%= content_tag :i, nil, class: 'sidebar-masked-icon xs masked-icon-partners-opt' %>
              <% end %>
            <% end %>
          <% end %>

          <%= content_tag :li, class: "menu-item dropdown header-nav-dropdown #{active_for(controller: ['properties'])}", id: 'properties-nav', data: {
              content: t('main.properties'),
              placement: 'bottom',
              toggle: 'popover',
              trigger: 'hover' } do %>
            <%= link_to properties_path, class: 'nav-link menu-link' do %>
              <%= content_tag :i, nil, class: 'sidebar-masked-icon xs masked-icon-building' %>
            <% end %>
          <% end %>

          <%= content_tag :li, class: "menu-item dropdown header-nav-dropdown #{active_for(controller: ['clients'])}", id: 'clients-nav', data: {
              content: t('clients.title'),
              placement: 'bottom',
              toggle: 'popover',
              trigger: 'hover' } do %>
            <%= link_to clients_path, class: 'nav-link menu-link' do %>
              <%= content_tag :i, nil, class: 'sidebar-masked-icon xs masked-icon-clients-opt' %>
            <% end %>
          <% end %>

          <div class="notifications-icon-wrapper">
            <%= content_tag :li, class: "menu-item dropdown header-nav-dropdown #{active_for(controller: ['notifications'])}", id: 'notifications-nav', data: {
              content: t('notifications'),
              placement: 'bottom',
              toggle: 'popover',
              trigger: 'hover' } do %>
              <%= link_to notifications_path, class: 'nav-link menu-link' do %>
                <%= content_tag :i, nil, class: 'sidebar-masked-icon xs masked-icon-bell' %>
              <% end %>
            <% end %>
              <% if unread_user_notifications > 0 %>
                <div id="unread-notifications-count"><%= unread_user_notifications %></div>
              <% end %>
          </div>

          <!-- Website toggle -->
          <div id="website-toggle" class="d-flex align-items-center" data-content="<%= t('accounts.website_toggle_popover') %>" data-placement="bottom" data-toggle="popover" data-trigger="hover">
            <div class="website-toggler d-inline-flex align-items-center">&nbsp;
              <strong>Live</strong>&nbsp;
              <strong>
                <%= link_to websites_root_url(locale: I18n.locale), target: '_blank', id: 'portal-link' do %>
                  <%= content_tag :i, nil, class: 'fas fa-link fa-fw' %>
                <% end %>
              </strong>&nbsp;
              <%= form_for(current_account, url: account_update_path, html: { id: 'header-website-toggle-form' }) do |f| %>
                  <div class="custom-control custom-switch">
                    <%= f.check_box(:website_enabled, {class: "custom-control-input solo-attribute-updater", type: 'checkbox'}) %>
                    <%= f.label(:website_enabled, {class: 'custom-control-label cursor-pointer'}) do %>
                    <% end %>
                  </div>
              <% end %>
            </div>
          </div>

          <!-- /.nav-item -->
        </ul>
        <!-- /.nav -->
        <!-- .btn-account -->
        <div id="account-dropdown-menu-element" class="dropdown d-md-flex">
          <button id="account-dropdown-menu-trigger" class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span data-turbolinks-permanent id="<%= current_user.avatar.attached? ? 'header-avatar' : 'avatar-in-header' %>" class="<%= current_user.avatar.attached? ? 'user-avatar user-avatar-bordered user-avatar-lg' : '' %>">
                    <!-- This needs to be properly taken care of -->
                    <%= render_avatar(current_user) %>
                    <%#= gravatar_for current_user, size: 64, classname: 'avatar-outline' %>
                    <!--                    <img src="assets/images/avatars/profile.jpg" alt="">-->
                  </span>
            <span class="account-summary pr-lg-4 d-none d-lg-block">
                    <span class="account-name"><%= current_user.full_name %></span>
                    <span class="account-description"><%= t "navbar.account.type.#{current_user.role(current_account)}" %></span>
                  </span>
          </button>
          <!--          <div class="dropdown-arrow"></div>-->
          <!-- .dropdown-menu -->
          <div class="dropdown-menu">
            <!--            <div class="dropdown-arrow d-lg-none" x-arrow="" style="left: 113px;"></div>-->
            <!--            <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>-->
            <h6 class="dropdown-header d-none d-md-block d-lg-none"><%= current_user.full_name %></h6>
            <%= render 'layouts/dropdown_menu' %>
          </div>
          <!-- /.dropdown-menu -->
        </div>
        <!-- /.btn-account -->
      </div>
      <!-- /.top-bar-item -->
    </div>
    <!-- /.top-bar-list -->
  </div>
  <!-- /.top-bar -->

  <%# Menu translation data %>
  <%= content_tag :div, class: "", id: "menu_i18n", data: {
    menui18n: {
      support: {
        title: t('support.title'),
        message_html: t('support.message_html', brandname: BRANDNAME.downcase)
      }
    }
  } do %>
  <% end %>

  <!-- ---------------Tour (onboarding data)--------------- -->
  <%= content_tag :div, class: "", id: "tour_metadata", data: {
    tour: {
      has_taken_tour: current_user.is_sysadmin? ? true : current_user.has_taken_tour,
      tour_data_url: tour_data_user_path(current_user)
    }
  } do %>
  <% end %>

  <div id="tour_container">
    <!-- Do not pollute the DOM if a user has already taken the tour -->
    <% unless current_user.has_taken_tour %>
      <%= render 'layouts/tour' %>
    <% end %>
  </div>
</header>