<!-- .app-header -->
<header class="app-header app-header-dark">
  <!-- .top-bar -->
  <div class="top-bar">
    <!-- .top-bar-brand -->
    <div id="logo" class="top-bar-brand" data-turbolinks-permanent="true">
      <%= link_to account_root_path, class: 'navbar-brand top-nav__logo' do %>
        <% if current_account.avatar.attached? %>
          <%= image_tag current_account.avatar, class: "d-inline-block align-top img-brand user-logo-image" %>
        <% else %>
          <svg id="logo-overflow" width="180" height="53" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <path d="M56.303 16.157h122.544v18.404H56.303z"/>
              <g fill="#EEE" fill-rule="nonzero">
                <path d="m71.436 32.226-3.186 1.085a42.92 42.92 0 0 0-1.272-1.843l-2.684-3.738.048-.196c.19-.043.434-.14.733-.291.3-.151.547-.328.744-.53a2.46 2.46 0 0 0 .471-.693c.1-.232.15-.525.15-.877 0-.348-.084-.66-.252-.937a1.555 1.555 0 0 0-.695-.618 2.656 2.656 0 0 0-.75-.21 6.155 6.155 0 0 0-.76-.048 19.535 19.535 0 0 0-.461.004l-.015 1.963a496.808 496.808 0 0 0 .004 5.3l.015 2.46h-3.364a494.238 494.238 0 0 0 .03-6.259 672.89 672.89 0 0 0-.03-5.836c.21 0 .581-.006 1.114-.016a78.37 78.37 0 0 1 1.511-.015c.998 0 1.843.026 2.536.078.693.052 1.34.178 1.942.377.885.282 1.538.699 1.958 1.251.42.553.63 1.165.63 1.838 0 .744-.195 1.386-.584 1.926-.39.54-.804.95-1.243 1.232v.055a97.424 97.424 0 0 0 1.768 2.272c.63.787 1.177 1.542 1.642 2.266ZM80.422 28.52h-6.044c.002.423.125.811.368 1.166.243.354.618.64 1.126.857a4.87 4.87 0 0 0 1.13.318c.39.061.806.092 1.247.092.387 0 .718-.005.991-.015l.628-.023-.305 2.17c-.148.013-.37.027-.665.043-.295.017-.634.025-1.018.025-1.05 0-1.991-.114-2.823-.341-.832-.227-1.545-.58-2.138-1.06a4.467 4.467 0 0 1-1.192-1.496 4.28 4.28 0 0 1-.44-1.931c0-.706.107-1.332.322-1.878.214-.547.572-1.072 1.075-1.576.412-.418.92-.738 1.521-.96a5.26 5.26 0 0 1 1.83-.332c.661 0 1.254.093 1.778.28.524.186.973.466 1.347.838a3.9 3.9 0 0 1 .964 1.608c.196.624.296 1.362.298 2.215Zm-2.89-1.264c-.042-.553-.199-.994-.47-1.323-.27-.33-.65-.494-1.138-.494-.479 0-.868.161-1.168.484-.3.322-.494.767-.58 1.333h3.357ZM89.393 28.346a1154.093 1154.093 0 0 1-.007 4.718c-.11.011-.524.039-1.244.084-.72.044-1.45.066-2.186.066-.504 0-1.096-.042-1.776-.128-.68-.086-1.244-.223-1.691-.414-.565-.241-1.002-.561-1.313-.96a2.188 2.188 0 0 1-.466-1.384c0-.573.163-1.063.487-1.47.324-.406.843-.742 1.557-1.008.485-.181 1.074-.32 1.765-.418a26.9 26.9 0 0 1 1.765-.2c-.015-.291-.092-.53-.228-.714-.137-.185-.38-.33-.731-.436a3.832 3.832 0 0 0-.77-.153c-.284-.03-.623-.044-1.016-.044-.375 0-.697.006-.964.017l-.824.034.261-2.227a44.566 44.566 0 0 1 1.653-.024c1.097 0 1.996.093 2.697.277.7.184 1.293.486 1.776.906.446.387.766.85.962 1.39.195.54.293 1.236.293 2.088Zm-2.932 1.542v-.655c0-.243-.002-.486-.004-.729a8.4 8.4 0 0 0-.794.094 3.999 3.999 0 0 0-1.026.29 1.722 1.722 0 0 0-.579.429 1.015 1.015 0 0 0-.266.708c0 .313.08.562.238.748.159.185.362.327.608.425.177.071.379.124.604.16a4.784 4.784 0 0 0 .951.048l.264-.008.002-.537.002-.973ZM94.349 33.057h-3.114l.014-2.635a760.631 760.631 0 0 0 .004-7.235c-.004-1.087-.01-2.212-.018-3.372h3.114c-.005.98-.01 2.013-.017 3.096a597.917 597.917 0 0 0 .004 7.157c.009 1.15.013 2.146.013 2.99ZM102.86 30.936l-.281 2.192c-.102.009-.252.017-.451.022-.2.006-.486.01-.858.01-1.49 0-2.619-.283-3.386-.846-.766-.563-1.15-1.406-1.15-2.53 0-.723.004-1.364.01-1.921.008-.557.011-1.173.011-1.846h-1.464v-2.2h1.527v-2.483h3.016v2.483h2.978v2.2h-2.978c0 .139-.002.375-.008.708a53.462 53.462 0 0 0-.006 1.53c.002.262.003.533.003.814 0 .625.172 1.093.517 1.404.345.312 1.014.467 2.007.467a20.424 20.424 0 0 0 .513-.004ZM113.016 28.445c0 .704-.13 1.372-.392 2.006a4.599 4.599 0 0 1-1.19 1.672 4.377 4.377 0 0 1-1.521.893 5.646 5.646 0 0 1-1.853.297c-.647 0-1.263-.1-1.847-.298a4.42 4.42 0 0 1-1.53-.878 4.645 4.645 0 0 1-1.175-1.652 5.166 5.166 0 0 1-.411-2.047c0-.723.118-1.373.354-1.953.236-.579.6-1.108 1.093-1.586.45-.434.973-.763 1.57-.986a5.485 5.485 0 0 1 1.935-.334c.692 0 1.328.102 1.906.306a4.412 4.412 0 0 1 1.56.955c.5.47.874 1.005 1.125 1.606.25.6.376 1.267.376 1.999Zm-3.084.038c0-.394-.056-.787-.167-1.179a2.284 2.284 0 0 0-.547-.979 1.478 1.478 0 0 0-.52-.346 1.713 1.713 0 0 0-.644-.122c-.262 0-.488.042-.676.125a1.678 1.678 0 0 0-.55.417c-.211.23-.372.533-.482.908-.11.376-.166.752-.166 1.128 0 .43.055.827.165 1.191.11.364.295.678.557.944.15.156.325.272.524.35a1.72 1.72 0 0 0 1.3-.02c.213-.091.392-.218.538-.38.216-.236.381-.538.496-.904.115-.366.172-.744.172-1.133ZM121.454 26.124c-.534.175-1.093.372-1.677.591a35.85 35.85 0 0 0-2.36 1.017c0 .174 0 .44-.003.796a155.644 155.644 0 0 0 .008 3.175c.008.737.012 1.188.012 1.354h-3.115c0-.206.004-.699.012-1.478a279.374 279.374 0 0 0 .004-5.03l-.016-2.732h3.05l-.016 1.314.024.014a16.48 16.48 0 0 1 1.776-1.01c.638-.313 1.131-.527 1.48-.64l.821 2.63ZM131.745 25.296c0 .902-.243 1.685-.729 2.349-.485.664-1.152 1.17-1.998 1.517a6.883 6.883 0 0 1-1.704.473c-.652.102-1.277.156-1.875.16l.013 3.262h-3.367c.002-.585.008-1.35.016-2.294a511.66 511.66 0 0 0 .005-6.722l-.021-3.079 1.004-.011c.375-.005.734-.008 1.075-.008 1.343 0 2.39.055 3.14.164.75.11 1.418.302 2.004.58.775.346 1.375.825 1.8 1.437.424.612.637 1.336.637 2.172Zm-3.43.237c0-.42-.09-.79-.27-1.112a1.959 1.959 0 0 0-.82-.774 2.29 2.29 0 0 0-.807-.257 7.12 7.12 0 0 0-.867-.052h-.247l-.008.983a155.374 155.374 0 0 0-.006 2.68l.002.834h.265c.253 0 .536-.026.85-.078.312-.052.57-.133.774-.245.371-.194.653-.443.846-.747.192-.304.288-.715.288-1.232ZM148.364 32.632l-3.24.597-1.374-7.58h-.059l-.921 2.322a117.4 117.4 0 0 0-1.438 3.83h-2.5a80.9 80.9 0 0 0-1.47-3.908 117.038 117.038 0 0 1-.903-2.25h-.059c-.065.322-.249 1.26-.55 2.813a231.76 231.76 0 0 0-.87 4.765l-3.14-.58a314.17 314.17 0 0 0 1.566-7.599c.427-2.229.68-3.537.761-3.925l3.275-.315c.083.27.383 1.108.9 2.515.516 1.407 1.11 2.975 1.779 4.703h.073a570.429 570.429 0 0 0 2.769-7.218l3.362.273c.038.233.244 1.451.617 3.656.373 2.204.847 4.838 1.422 7.901ZM158.088 29.496c0 .675-.179 1.253-.536 1.735-.358.48-.842.879-1.453 1.193-.537.278-1.21.484-2.021.616-.81.133-1.608.2-2.391.2-.606 0-1.131-.01-1.578-.03-.446-.02-.752-.036-.92-.047l-.335-2.715c.077.01.361.026.853.05a25.9 25.9 0 0 0 1.237.037c.277 0 .611-.02 1.002-.06a6.75 6.75 0 0 0 1.003-.168c.37-.097.626-.225.769-.385a.85.85 0 0 0 .214-.587.92.92 0 0 0-.24-.644c-.16-.175-.437-.36-.83-.554a22.924 22.924 0 0 0-.978-.468 8.992 8.992 0 0 1-1.054-.555c-.57-.355-.982-.755-1.235-1.198a2.945 2.945 0 0 1-.379-1.484c0-.435.087-.832.26-1.19a2.92 2.92 0 0 1 .697-.922c.495-.474 1.183-.842 2.066-1.105.882-.262 1.929-.393 3.141-.394.57 0 1.038.008 1.405.023s.607.028.721.038l.352 2.718a32.853 32.853 0 0 1-.711-.046c-.3-.022-.674-.033-1.122-.032-.336 0-.65.02-.945.06-.295.04-.585.102-.87.186-.26.073-.465.183-.616.33a.727.727 0 0 0-.226.542c0 .213.083.406.25.581.166.175.443.363.832.563.281.14.597.289.948.448.35.159.696.34 1.037.544.552.334.965.724 1.24 1.17.276.445.413.962.413 1.55Z"/>
              </g>
              <g>
                <path d="M26 2c13.255 0 24 10.745 24 24S39.255 50 26 50 2 39.255 2 26 12.745 2 26 2" fill="#FCF5A2"/>
                <path d="M44.472 25.376a4.01 4.01 0 0 1 .572.52.425.425 0 0 1 .094.162h.002c.002.007.738 2.252-1.722 3.76l.012.032c.099.272.116.91-.003 1.683a9.375 9.375 0 0 1-.75 2.496c-.865 1.855-2.184 3.579-4.98 3.195.81 2.304 1.646 6.043.002 8.974-.75 4.552-2.015 6.419-2.767 7.154.894.517 2.603 1.515 3.134 1.9.671.489.681 1.137.016 1.538-.282.169-.659.276-.907.328-3.295.691-5.522-.696-5.994-1.027-.545-.088-.994-.296-1.314-.595-.782-.73-.599-1.794-.281-2.455-.283-.311-.334-.724-.396-1.254l-.013-.11c-.099-.815-.738-1.733-1.071-2.165-2.497 1.271-4.292 4.082-4.391 4.24a.437.437 0 0 1-.106.118 8.847 8.847 0 0 1-.295.217c.032.53.075 1.759-.17 2.2-.259.465-1.267 1.47-2.478 2.316-1.38.964-2.862 1.63-4.465 1.573-2.5-.091-2.531-2.301-.694-3.016.859-.335 1.194-1.354 1.55-2.236-.28-.107-.464-.2-.528-.234a.427.427 0 0 1-.246-.399l.186-6.536c-2.64 1.127-7.101 1.604-7.748-1.976-.26-1.43-.153-2.676.104-3.675.434-1.69 1.387-2.727 1.764-2.812.307-.07 1.467-.021 2.396.033a3.722 3.722 0 0 1-.123-.151c-.912-1.198-.504-2.191-.178-2.868.473-.983 3.554-5.862 4.548-7.43-3.393-1.058-5.812-3.115-5.514-8.299.108-1.875.412-2.343-.066-4.776-.188-.957.126-2.257.937-3.71-4.95-.808-3.184-5.539-.76-6.145 1.813-.453 3.06 1.514 3.577 2.541 1.645-1.637 3.824-3.294 6.529-4.751l1.096-.518-.521 1.102-.456.825 4.248-2.694-1.627 3.051 3.919-2.195-1.645 2.808c.91.076 2.874.334 4.78 1.196.288-1.046 1.111-3.248 2.914-3.111.746.056 1.528.51 2.08 1.17.345.412.605.908.716 1.442a2.673 2.673 0 0 1-.189 1.696c-.301.653-.897 1.28-1.89 1.798.226.36.422.749.583 1.172.659 1.737 1.035 2.844 1.316 3.672.485 1.428.75 2.198 1.783 3.936.215.343 2.388 4.178-4.897 8.561.366.553 1.205 1.617 2.49 2.088.76.279 1.165.202 1.385-.04.249-.272.353-.78.438-1.264 0-.2.07-.65.708-.494.014-.274 0-.693-.103-1.295-.227-1.32-.202-2.099-.047-2.477.142-.348.38-.49.675-.466.214.018.425.147.617.36.248.277.467.7.627 1.226.76-.782 2.26-2.177 3.48-2.41.343-.067.598-.06.783.001.284.094.427.283.464.542.025.175-.018.368-.11.566-.18.393-.579.874-.946 1.258a9.035 9.035 0 0 1-.134.134" fill="#231614"/>
                <path d="M13.244 11.043c.095-.137.193-.276.297-.415-.222-.88-.652-1.379-.87-1.585-.194-.185.033-.555.29-.435.3.14.847.486 1.2 1.234a15.306 15.306 0 0 1 .614-.7c-.317-.71-1.345-2.715-2.738-2.367-.938.235-1.604 1.271-1.567 2.316.056 1.517 1.558 1.83 2.774 1.952" fill="#AF502E"/>
                <path d="M13.244 11.043c.095-.137.193-.276.297-.415-2.343-.792-2.402-3.313-.664-3.788a1.337 1.337 0 0 0-.84-.065c-.938.235-1.604 1.271-1.567 2.316.056 1.517 1.558 1.83 2.774 1.952" fill="#8F4229"/>
                <path d="M25.362 7.493 26.53 5.38l-2.598 1.518V6.9l-1.427.825 1.741-3.11-3.046 2.08h-.001l-.106.072-1.39.94 1.314-2.465c-2.574 1.55-4.576 3.268-5.999 4.909-1.919 2.213-2.77 4.245-2.526 5.486.504 2.564.533 2.486.422 4.43-.396 6.894 4.393 7.856 9.806 8.667 1.826.274 4.193.954 5.579.99.837.02 1.48.056 1.743-.2.734-.712 2.335-1.858 2.34-1.861a.458.458 0 0 1 .05-.03c8.11-4.281 6.059-7.795 5.868-8.124-1.112-1.91-1.312-2.499-1.85-4.084a98.933 98.933 0 0 0-1.307-3.646c-1.698-4.476-8.313-4.818-8.95-4.84l-.831.554" fill="#AF502E"/>
                <path fill="#8F4229" d="M25.362 7.493 26.53 5.38l-.969.566v.001l-.199 1.546M22.505 7.725l1.741-3.111-1.205.823-.536 2.288M19.704 7.708l1.314-2.466c-.272.164-.538.33-.797.497l-.517 1.969M26.59 17.808s1.916-1.868 4.171-.256c2.256 1.612-3.732 2.628-4.172.256M18.973 22.269s-.089-2.494 1.731-4.357c0 0-1.053-1.926.126-4.25 1.18-2.324 1.802-1.254 2.572 1.916.772 3.17-2.762 3.148-4.43 6.69"/>
                <path d="M12.492 15.637c.504 2.564.533 2.486.422 4.43-.396 6.894 4.393 7.856 9.806 8.667 1.826.274 4.193.954 5.579.99.837.02 1.48.056 1.743-.2.16-.155.362-.331.58-.512 0 0-5.024-3.005-5.994-.81 0 0-8.239-1.638-9.31-5.365-1.07-3.725-2.237-5.167-2.826-7.2" fill="#8F4229"/>
                <path d="m21.083 34.071-1.187-.334-.007 3.344.103.028-.014-2.657a.428.428 0 0 1 .53-.448l.57.142.005-.075M22.97 34.605l-1.046-.296-.03.426.997.381.079-.511" fill="#FFFFFE"/>
                <path d="M24.93 36.717c.07.017.14.037.214.06l.16-1.514-1.506-.425-.006.036.969.39a.427.427 0 0 1 .264.456l-.094.997" fill="#C7C6C1"/>
                <path d="M21.935 37.871c.128-.084.26-.204.4-.331.449-.405.95-.859 1.746-.91l.066-.692-.49-.197a.428.428 0 0 1-.578.362l-1.785-.681a.429.429 0 0 1-.276-.41l-.183-.045.011 2.422c.429.161.802.334 1.09.482" fill="#FFFFFE"/>
                <path d="M21.935 37.871c.128-.084.26-.204.4-.331.449-.405.95-.859 1.746-.91l.066-.692-.49-.197c.224.44.002.663.002.663-1.146.257-1.8 1.135-1.8 1.135l-1.013-.15c.429.161.802.334 1.09.482" fill="#C7C6C1"/>
                <path d="M25.65 38.661a.473.473 0 0 0 .068-.257.682.682 0 0 0-.11-.338 1.155 1.155 0 0 0-.308-.322c-1.303-.556-1.894-.022-2.392.428-.95.859-.638.707-1.237 1.876-.224.439.077.75.199.852.227.058.966.212 1.437-.137.793-.586 1.258-.21 1.58.23l.03.038c.234-.798-.544-1.18-1.093-1.33a.204.204 0 0 1-.149-.231l.01-.058a.2.2 0 0 1 .087-.137.2.2 0 0 1 .16-.031c.636.14 1.075.29 1.357.52l.024.02a.47.47 0 0 0 .008-.159c0-.5-.878-.89-1.304-1.026a.205.205 0 0 1-.14-.228l.003-.025a.201.201 0 0 1 .084-.136.202.202 0 0 1 .156-.035c.494.09 1.103.188 1.53.486" fill="#AF502E"/>
                <path d="M22.86 38.216c-.892.81-.6.683-1.189 1.832-.224.439.077.75.199.852.227.058.966.212 1.437-.137.793-.586 1.258-.209 1.58.23l.03.038c-.76-2.352-3.722 1.016-2.057-2.815" fill="#8F4229"/>
                <path d="m21.217 33.22-3.459-3.58c-1.142 1.804-3.872 6.138-4.305 7.037-.23.48-.52 1.179.089 1.978.712.935 2.51 2.027 6.56 3.185a.505.505 0 0 1 .063.024c.083.03.558.164.978-.487-.29-.322-.638-.924-.231-1.717.237-.464.399-.85.497-1.105-.721-.39-2.509-1.33-3.641-1.724.423-.024.85.005 1.268.07l.009-3.729a.427.427 0 0 1 .542-.41v-.001l1.63.46" fill="#363735"/>
                <path d="m21.217 33.22-3.459-3.58c-1.142 1.804-3.872 6.138-4.305 7.037-.23.48-.52 1.179.089 1.978.712.935 2.51 2.027 6.56 3.185a.505.505 0 0 1 .063.024c.083.03.558.164.978-.487-.29-.322-.638-.924-.231-1.717.237-.464.399-.85.497-1.105-1.683 1.026-1.144 2.7-1.144 2.7-2.184-.576-6.788-1.906-6.081-4.197.706-2.292 3.619-5.868 4.154-4.605.536 1.264.698 4.448.698 4.448l.009-3.729a.427.427 0 0 1 .542-.41v-.001l1.63.46" fill="#272827"/>
                <path d="m16.527 45.738.119-4.158c-1.122-.452-1.965-.897-2.594-1.327-.501-.042-2.575-.21-2.933-.128-1.24.281-1.587 3.741-1.385 4.858.54 2.987 4.716 1.758 6.793.755" fill="#48281B"/>
                <path d="m16.527 45.738.06-2.08s-6.518 2.176-6.377-2.512c-.494 1.188-.615 3.068-.477 3.837.54 2.987 4.717 1.758 6.794.755" fill="#3E251A"/>
                <path d="M17.874 55.174c-.441 1.057-.787 2.287-2.06 2.782-.962.375-1.147 1.31.417 1.366 1.403.051 2.717-.559 3.947-1.418 1.76-1.23 2.053-1.755 2-3.157a6.515 6.515 0 0 1-4.304.427M30.567 53.543c-.289.7.063 1.488 1.02 1.61.078.01.149.041.207.086.007.005 1.875 1.742 5.207 1.043a2.14 2.14 0 0 0 .675-.246c-.306-.297-3.083-1.893-3.632-2.207-1.694-.02-2.778-.11-3.477-.286" fill="#363735"/>
                <path d="M30.567 53.543c-.289.7.063 1.488 1.02 1.61.078.01.149.041.207.086.004.003.873.81 2.48 1.103-.042-.017-1.901-.814-2.039-1.725 0 0 1.691-.28 1.81-.788-1.695-.02-2.779-.11-3.478-.286M16.944 59.292c1.138-.135 2.215-.676 3.234-1.388 1.76-1.23 2.053-1.755 2-3.157a6.515 6.515 0 0 1-4.304.427c.479.88 2.07.974 2.07.974.127 1.508-2.993 3.142-3 3.144" fill="#272827"/>
                <path d="M30.832 46.217c-.284.49-.65.827-1.163 1.05-.96.418-2.38.358-4.787.126-3.537-.34-6.283-1.748-7.478-2.461l-.26 9.109c.753.333 3.002.928 5.63-1.06.73-1.126 3.658-4.571 6.725-3.977-.262.057-.52.135-.772.232.31.299 1.164 1.216 1.3 2.34l.012.11c.105.887.125.817 3.99.86.31-.17 1.459-.733 2.362-5.652-.56.163-1.158.262-1.57.327-.965.151-1.922.218-2.594.255-.803.045-1.202-.541-1.395-1.26" fill="#363735"/>
                <path d="M29.509 47.33c-.958.348-2.351.282-4.627.063-3.537-.34-6.283-1.748-7.478-2.461l-.104 3.646.631-1.842s7.244 2.324 11.578.595ZM28.727 49.236c.31.299 1.164 1.216 1.3 2.34l.012.11c.105.887.125.817 3.99.86.31-.17 1.459-.733 2.362-5.652-.56.163-1.158.262-1.57.327-.965.151-1.922.218-2.594.255-.803.045-1.202-.541-1.395-1.26-.45 2.778 4.006 1.72 4.006 1.72.018.716-.608 2.971-.887 3.367-.278.396-3.314.875-3.412-.136-.097-1.012-1.812-1.931-1.812-1.931" fill="#272827"/>
                <path d="M17.144 54.04c.753.334 3.002.929 5.63-1.06.73-1.125 3.658-4.57 6.725-3.976-4.526-1.525-7.552 3.472-7.552 3.472-1.35 1.5-4.803 1.565-4.803 1.565" fill="#272827"/>
                <path d="M30.658 41.086c-1.376-2.513-3.646-3.82-4.656-4.304l-.042.397c.152.133.277.281.375.439.15.242.231.505.237.77.006.274-.069.543-.234.784a1.476 1.476 0 0 1-.189.223c.01.041.017.085.022.13.06.496-.195.912-.378 1.14a1.712 1.712 0 0 1-.234 1.02 1.013 1.013 0 0 1-.267.296l-.426 3.113a.427.427 0 0 1-.576.357l-5.653-2.142a.427.427 0 0 1-.271-.468l.099-.605a30.224 30.224 0 0 1-.974-.334l-.039 1.333c2.258 1.57 5.09 2.87 8.077 3.11 2.195.177 4.58.364 5.15-2.282.07-.82.04-1.945-.02-2.977" fill="#363735"/>
                <path d="M30.658 41.086c-1.376-2.513-3.646-3.82-4.656-4.304 1.497 1.267 3.964 3.766 3.58 6.207-.386 2.442-4.741 2.213-4.741 2.213a.427.427 0 0 1-.55.25l-5.654-2.143a.427.427 0 0 1-.271-.468l.099-.605a30.126 30.126 0 0 1-.974-.334l-.039 1.333c2.258 1.57 5.09 2.87 8.077 3.11 2.195.177 4.58.364 5.15-2.282.07-.82.04-1.945-.02-2.977" fill="#272827"/>
                <path d="M26.097 35.888c.77.341 2.828 1.389 4.43 3.45a57.99 57.99 0 0 0-.088-.889c-1.456-2.532-8.249-8.013-9.102-8.696a48.35 48.35 0 0 1-1.896-.33l3.426 4.263 3.015.852c.209.059.337.26.309.468l-.094.882" fill="#363735"/>
                <path d="M21.337 29.753a48.35 48.35 0 0 1-1.896-.33l3.426 4.263 2.987.844-4.517-4.777Zm4.76 6.135c.466.206 1.401.67 2.422 1.46l-2.33-2.463a.42.42 0 0 1 .002.121l-.094.882Z" fill="#272827"/>
                <path d="m34.858 29.687.81 2.305a.426.426 0 0 1-.516.558l-.582-.162 1.11 1.406a.427.427 0 0 1 0 .544l-4.283 5.142c.11 1.26.24 3.23.14 4.56l-.004.099a9.394 9.394 0 0 0-.002.973c0 1.762 3.718 1.242 4.793.376 2.55-2.054.561-7.854.478-10.388.003.005.241.456.545 1.2 3.296.501 5.487-2.912 5.313-5.948a3.478 3.478 0 0 1-1.124-.224c-.892-.317-1.654-.602-2.316-1.265-.107.617-.153.955-.567 1.409-.449.491-1.147.693-2.313.266a5.287 5.287 0 0 1-1.482-.851" fill="#363735"/>
                <path d="M37.347 36.3c3.296.501 5.487-2.912 5.313-5.948a3.478 3.478 0 0 1-1.124-.224c-.892-.317-1.654-.602-2.316-1.265-.107.617-.153.955-.567 1.409-.449.491-1.147.693-2.313.266a5.287 5.287 0 0 1-1.482-.851c2.375 2.575 4.584.56 4.584.56.341.784 1.617 1.393 1.617 1.393.086 4.218-3.712 4.66-3.712 4.66M35.68 34.338l-4.283 5.142c.11 1.26.24 3.23.14 4.56l-.004.099a9.394 9.394 0 0 0-.002.973c0 1.762 3.718 1.242 4.793.376 2.517-2.027.612-7.704.483-10.288.036.89.256 7.463-1.101 8.422-1.456 1.027-3.727 1.456-3.127-3.812l3.1-5.472" fill="#272827"/>
                <path d="m31.371 38.178 3.432-4.12-1.713-2.17a.427.427 0 0 1 .448-.675l1.054.294-1.202-3.424c-.171.096-.346.192-.527.288l-.098.07c.636 4.127-.932 8.555-1.394 9.737" fill="#363735"/>
                <path d="m33.538 31.213 1.054.294-1.202-3.424a31.35 31.35 0 0 1-.527.288l-.098.07s.725 1.704.773 2.772" fill="#272827"/>
                <path d="M42.971 26.138c.274.142.782.502 1.324 1.365.153-.505.09-.93.05-1.105a3.033 3.033 0 0 0-.098-.096c-.314-.296-.632-.488-.903-.569-.184-.055-.321-.06-.377-.008-.007.006.006-.005-.002.003-.094.1-.044.288.006.41" fill="#8F4229"/>
                <path d="M42.31 28.56c-.308-.396-.957-1.422-.166-2.226-.099-.322-.158-.814.199-1.192a1.41 1.41 0 0 1 .045-.043c.292-.27.723-.329 1.2-.186.034.01.068.021.101.034.12-.116.251-.245.299-.295.296-.31.612-.681.76-.966a2.314 2.314 0 0 0-.172.028c-1.272.244-3.068 2.192-3.425 2.592v.008l-.462.524a6.32 6.32 0 0 0-.244-1.017l-.004-.005.003-.003c-.212-.662-.505-1.272-.691-1.086-.035.329.003.895.153 1.771.15.87.123 1.462.074 1.807.114.068.236.146.367.236.556.38 1.052.631 1.473.78.162.058.31.1.443.13.737-.317 1.226-.692 1.547-1.071-1.281-2.427-1.564-.792-1.138-.072a.204.204 0 0 1-.043.26l-.023.02a.202.202 0 0 1-.155.05.201.201 0 0 1-.142-.079" fill="#AF502E"/>
                <path d="M42.31 28.56c-.308-.396-.957-1.422-.166-2.226-1.2.602-.679 1.997-.679 1.997-.92-.514-1.485-.026-1.485-.026.114.068.236.146.367.236.556.38 1.052.631 1.473.78.162.058.31.1.443.13.737-.317 1.226-.692 1.547-1.071-1.281-2.427-1.564-.792-1.138-.072a.204.204 0 0 1-.043.26l-.023.02a.202.202 0 0 1-.155.05.201.201 0 0 1-.142-.079" fill="#8F4229"/>
                <path d="M29.28 30.896a.515.515 0 1 0-.726.73.515.515 0 0 0 .727-.73M31.256 35.824l-1.666-3.37c-.076.043-.158.08-.243.107l.032 3.228c.542.57 1.016 1.114 1.376 1.6.143-.396.322-.931.5-1.565" fill="#C7C6C1"/>
                <path d="m29.364 34.274.015 1.515c.542.57 1.016 1.114 1.376 1.6.143-.396.322-.931.5-1.565l-1.891-1.55" fill="#ACADA9"/>
                <path d="m31.925 32.584-1.685-.97a1.244 1.244 0 0 1-.044.136l1.383 2.8c.137-.612.258-1.274.346-1.966M30.08 30.538l1.937 1.115c.063-.86.063-1.747-.037-2.626-.469.357-1.011.789-1.343 1.11-.158.154-.35.275-.58.365a.727.727 0 0 1 .023.036M27.836 32.102l-1.06 1.166a61.097 61.097 0 0 1 1.741 1.643l-.023-2.347a1.368 1.368 0 0 1-.545-.335l-.001-.001a1.444 1.444 0 0 1-.112-.126" fill="#C7C6C1"/>
                <path d="m27.357 32.63-.58.638a61.097 61.097 0 0 1 1.74 1.643l-.014-1.342-1.146-.94" fill="#ACADA9"/>
                <path d="m26.141 32.695 1.41-1.55c.014-.17.06-.331.13-.478-1.332-.114-3.13-.422-4.68-.66.819.675 1.96 1.636 3.14 2.688" fill="#C7C6C1"/>
                <path d="m26.141 32.695.554-.608-1.175-.963 2.161-.457c-1.332-.114-3.13-.422-4.68-.66.819.675 1.96 1.636 3.14 2.688" fill="#ACADA9"/>
                <path d="m24.21 41.512-.296 2.122a.428.428 0 0 1-.575.346l-3.419-1.3a45.774 45.774 0 0 1-.632-.187l-.023.14 4.826 1.829.356-2.603a2.245 2.245 0 0 1-.134-.192 3.98 3.98 0 0 0-.102-.155" fill="#C7C6C1"/>
                <path d="m21.437 42.343 1.704.647.18-1.284c-.521.178-1.075.132-1.421.07a2.332 2.332 0 0 1-.463.567" fill="#C7C6C1"/>
                <path d="M32.706 25.21c-.562.257-.632.542-.724.914a9.011 9.011 0 0 1-.062.238 3.874 3.874 0 0 1-.438 1.047c-.221.364-.549.768-1.071 1.268-1.1 1.051-3.178.515-3.41.45l-.025-.006c-6.477-1.9-6.958-6.429-6.952-7.782-.438.263-.865.608-1.051.93.002-.013.325-3.037 2.953-4.249-.518-.823-1.435-2.59-1.096-4.358.167-.864.907-1.614 1.807-1.916.42-.141.88-.187 1.335-.103.458.084.908.298 1.305.675.89.846 1.516 2.54 1.312 5.49.201.047.406.1.618.16.44-.177 1.77-.626 3.554-.416-.416-.76-.868-1.941-.638-3.23.144-.815.805-1.537 1.585-1.824.35-.129.73-.172 1.103-.102.378.071.743.258 1.06.59.706.74 1.164 2.246.888 4.895.273.016.535.057.759.137.851.304 1.204 1.392 1.075 2.643a6.027 6.027 0 0 1-.538 1.915 5.162 5.162 0 0 1-1.24 1.69c-.577.506-1.281.859-2.109.944" fill="#231614"/>
                <path d="M28.59 28.478c-.631-.641-1.35-1.258-2.118-1.62-.777-.365-1.62-.463-2.489-.029.836.569 1.894 1.08 3.234 1.472l.015.005c.106.03.717.19 1.358.172" fill="#C53B2F"/>
                <path d="m27.856 25.182.517 1.666c.447.083 1.495.211 2.522-.146.09-.19.148-.375.202-.567l.055-.216c.071-.29.135-.546.286-.782a5.65 5.65 0 0 1-1.215-.408c-.114.863-.48 1.15-.48 1.15.117-.642.01-1.185.01-1.185-.61.221-1.25.386-1.897.488" fill="#FFFFFE"/>
                <path d="M34.974 6.976c-.174.324-.556 1.102-.719 1.989.21.2.411.414.6.642.875-.432 1.38-.94 1.62-1.457.179-.39.207-.788.128-1.164a2.48 2.48 0 0 0-.536-1.066c-.41-.491-.97-.828-1.487-.867-1.28-.098-1.886 1.88-2.072 2.648.357.198.706.42 1.04.67.282-.773.784-1.346 1.055-1.618a.276.276 0 0 1 .179-.08.2.2 0 0 1 .185.096.2.2 0 0 1 .007.207" fill="#AF502E"/>
                <path d="M34.255 8.965c.21.2.411.414.6.642.875-.432 1.38-.94 1.62-1.457.179-.39.207-.788.128-1.164a2.48 2.48 0 0 0-.536-1.066c-.299-.358-.677-.633-1.06-.771.009.003.496.265.56 1.413.063 1.157-1.312 2.403-1.312 2.403" fill="#8F4229"/>
                <path d="M32.516 18.87c-2.337-.914-4.202-.403-4.85-.165.027.64.192 2.22 1.162 2.898a1.656 1.656 0 0 1-.008-.157c0-.461.192-.835.429-.835.236 0 .428.374.428.835 0 .17-.026.327-.07.46.16.026.313.041.456.047.46.017.85-.07 1.171-.253-.102-.152-.168-.393-.168-.663 0-.462.192-.836.429-.836.233 0 .422.363.427.816.226-.362.39-.824.493-1.378.045-.24.078-.498.1-.77" fill="#48281B"/>
                <path d="M26.815 18.746c-3.41-.926-5.17.15-6.07 1.363.056.538.18 1.02.357 1.447.46 1.106 1.298 1.867 2.325 2.329 1.056.474 2.313.637 3.578.538a9.381 9.381 0 0 0 2.83-.678.424.424 0 0 1 .366.018c1.78.961 3.136.665 4.052-.14.435-.381.78-.876 1.028-1.408a5.19 5.19 0 0 0 .463-1.64c.089-.869-.076-1.594-.515-1.75-.497-.178-1.32-.09-1.854-.002-.024.346-.064.67-.12.973-.18.966-.531 1.722-1.058 2.238-.548.537-1.267.805-2.163.772a4.692 4.692 0 0 1-.681-.078c-2.174-.407-2.493-3.04-2.538-3.982" fill="#EDC28D"/>
                <path d="M23.501 18.47c-1.35.22-2.212.904-2.756 1.64.056.537.18 1.019.357 1.446.46 1.106 1.298 1.867 2.325 2.329 1.056.474 2.313.637 3.578.538a9.381 9.381 0 0 0 2.83-.678s-6.096 1.007-7.482-2.064c-1.14-2.527.524-3.09 1.149-3.211" fill="#D8A86D"/>
                <path d="M31.91 17.773c.288.077.583.172.885.288a9.653 9.653 0 0 1 1.101-.162c.27-2.425-.081-3.735-.644-4.325a1.103 1.103 0 0 0-.598-.338 1.233 1.233 0 0 0-.652.065c-.512.189-.944.651-1.036 1.168-.275 1.543.656 2.922.944 3.304M22.75 17.725c.814-.215 1.8-.271 2.995-.083.164-2.583-.337-4.022-1.057-4.705-.269-.255-.568-.399-.87-.455a1.826 1.826 0 0 0-.91.073c-.622.209-1.13.705-1.237 1.268-.312 1.618.663 3.282 1.08 3.902" fill="#FFFFFE"/>
                <path d="M23.125 14.128c.227 0 .443.064.636.178-.32.033-.571.374-.571.79 0 .437.28.792.624.792s.623-.355.623-.792c.126.28.199.605.199.95 0 1.06-.677 1.92-1.511 1.92-.834 0-1.51-.86-1.51-1.92 0-1.059.676-1.918 1.51-1.918M32.047 14.774c.202-.028.4.002.585.08-.28.069-.46.401-.41.768.054.388.345.667.65.625.305-.042.508-.39.455-.777.146.232.25.511.291.817.13.938-.363 1.78-1.101 1.883-.738.101-1.442-.576-1.571-1.513-.13-.938.363-1.781 1.101-1.883" fill="#231614"/>
                <path d="m31.371 38.178 3.432-4.12-1.713-2.17a.434.434 0 0 1-.077-.153l.53 1.981c-.321 2.014-2.172 4.462-2.172 4.462" fill="#272827"/>
                <path d="m13.796 43.735-.263.137-.286.018-.985.944 1.225-.587.31-.512Zm-.95-.964-.293.508.085-.04.456-.052 1.065-1.097-1.313.681Zm-2.599 2.835.96-1.588-.225.014.305-.146.132-.218.664-.684-2.148.134 2.927-.937.799-.823-.452.784 1.011-.114.65-.67-1.004 1.741.587-.066 1.626-1.675-.92 1.595.185-.02-.246.127-.277.48-.572.549 2.142-.243-2.943 1.01-.783.75.44-.728-.951.06-.698.668 1.008-1.667-.51.032-1.707 1.635Z" fill="#231614"/>
              </g>
            </g>
          </svg>
    <% end %>

    <% end %>
    </div>
    <!-- /.top-bar-brand -->
    <!-- .top-bar-list -->
    <div class="top-bar-list">
      <!-- .top-bar-item -->
      <!--      <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">-->
      <div class="top-bar-item px-2 d-lg-none d-xl-none">
        <!-- toggle menu -->
        <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="Menu" aria-controls="navigation">
                <span class="hamburger-box">
                  <span class="hamburger-inner"> </span>
                </span>
        </button>
        <!-- /toggle menu -->
      </div>
      <!-- /.top-bar-item -->
      <!-- .top-bar-item -->
      <div class="top-bar-item top-bar-item-full">
        <!-- .top-bar-search -->
        <div class="top-bar-search">
          <%= react_component('InlineSearch', props: {
              path: properties_inlinesearch_path,
              i18n: {
                  search: t('header.search'),
                  loading: t('js.components.select.loading_html'),
                  noresults: t('js.components.select.noresults')
              }
          }, prerender: false) %>

        </div>
        <!-- /.top-bar-search -->
      </div>
      <!-- /.top-bar-item -->
      <!-- .top-bar-item -->
      <div class="top-bar-item top-bar-item-right px-0 d-none d-md-flex">
        <!-- .nav -->
        <ul class="header-nav nav">
          <!-- .nav-item -->
          <!--          <li class="nav-item dropdown header-nav-dropdown has-notified">-->
          <!--            <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--              <span class="oi oi-pulse"></span>-->
          <!--            </a>-->
          <!--            <div class="dropdown-arrow"></div>-->
          <!-- .dropdown-menu -->
          <!--            <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">-->
          <!--              <h6 class="dropdown-header stop-propagation">-->
          <!--                      <span>Activities-->
          <!--                        <span class="badge">(2)</span>-->
          <!--                      </span>-->
          <!--              </h6>-->
          <!-- .dropdown-scroll -->
          <!--              <div class="dropdown-scroll has-scrollable">-->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item unread">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces15.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Jeffrey Wells created a schedule </p>-->
          <!--                    <span class="date">Just now</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item unread">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces16.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Anna Vargas logged a chat </p>-->
          <!--                    <span class="date">3 hours ago</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces17.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Sara Carr invited to Stilearn Admin </p>-->
          <!--                    <span class="date">5 hours ago</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces18.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Sara Carr updated a project </p>-->
          <!--                    <span class="date">1 day ago</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces19.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Arthur Carroll created a task </p>-->
          <!--                    <span class="date">1 day ago</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces20.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Angela Peterson assign a task to you </p>-->
          <!--                    <span class="date">2 days ago</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!-- .dropdown-item -->
          <!--                <a href="#" class="dropdown-item">-->
          <!--                  <div class="user-avatar">-->
          <!--                    <img src="assets/images/avatars/uifaces21.jpg" alt=""></div>-->
          <!--                  <div class="dropdown-item-body">-->
          <!--                    <p class="text"> Willie Dixon and 3 others followed you </p>-->
          <!--                    <span class="date">2 days ago</span>-->
          <!--                  </div>-->
          <!--                </a>-->
          <!-- /.dropdown-item -->
          <!--              </div>-->
          <!-- /.dropdown-scroll -->
          <!--              <a href="user-activities.html" class="dropdown-footer">All activities-->
          <!--                <i class="fa fa-fw fa-long-arrow-alt-right"></i>-->
          <!--              </a>-->
          <!--            </div>-->
          <!-- /.dropdown-menu -->
          <!--          </li>-->
          <!-- /.nav-item -->
          <!-- .nav-item -->
          <% if masquerading? %>
            <%= link_to user_masquerade_path(current_user),
                        method: :delete,
                        class: "nav-link menu-link #{masqueraded_admin.is_sysadmin? ? 'masquerading-special-sysadmin' : 'masquerading-special'}",
                        data: {
                            content: t('js.datatables.users.masquerading.exit_prompt', user: masqueraded_admin&.full_name) + (masqueraded_admin.is_sysadmin? ? '. ' + t('js.datatables.users.masquerading.sysadmin_prompt') : ''),
                            toggle: 'popover',
                            trigger: 'hover' } do %>
              <%= content_tag :i, nil, class: 'sidebar-masked-icon xs masked-icon-logout' %>
            <% end %>
          <% end %>

          <% if current_user.is_admin? current_account %>
            <%= content_tag :li, class: "menu-item dropdown header-nav-dropdown #{active_for(controller: %w[users invitations])}", id: 'partners-nav', data: {
              content: t('users.title'),
              placement: 'bottom',
              toggle: 'popover',
              trigger: 'hover' } do %>
              <%= link_to users_path, class: 'nav-link menu-link' do %>
                <%= content_tag :i, nil, class: 'sidebar-masked-icon xs masked-icon-partners-opt' %>
              <% end %>
            <% end %>
          <% end %>

          <%= content_tag :li, class: "menu-item dropdown header-nav-dropdown #{active_for(controller: ['properties'])}", id: 'properties-nav', data: {
              content: t('main.properties'),
              placement: 'bottom',
              toggle: 'popover',
              trigger: 'hover' } do %>
            <%= link_to properties_path, class: 'nav-link menu-link' do %>
              <%= content_tag :i, nil, class: 'sidebar-masked-icon xs masked-icon-building' %>
            <% end %>
          <% end %>

          <%= content_tag :li, class: "menu-item dropdown header-nav-dropdown #{active_for(controller: ['clients'])}", id: 'clients-nav', data: {
              content: t('clients.title'),
              placement: 'bottom',
              toggle: 'popover',
              trigger: 'hover' } do %>
            <%= link_to clients_path, class: 'nav-link menu-link' do %>
              <%= content_tag :i, nil, class: 'sidebar-masked-icon xs masked-icon-clients-opt' %>
            <% end %>
          <% end %>

          <div class="notifications-icon-wrapper">
            <%= content_tag :li, class: "menu-item dropdown header-nav-dropdown #{active_for(controller: ['notifications'])}", id: 'notifications-nav', data: {
              content: t('notifications'),
              placement: 'bottom',
              toggle: 'popover',
              trigger: 'hover' } do %>
              <%= link_to notifications_path, class: 'nav-link menu-link' do %>
                <%= content_tag :i, nil, class: 'sidebar-masked-icon xs masked-icon-bell' %>
              <% end %>
            <% end %>
              <% if unread_user_notifications > 0 %>
                <div id="unread-notifications-count"><%= unread_user_notifications %></div>
              <% end %>
          </div>

          <!-- Website toggle -->
          <div id="website-toggle" class="d-flex align-items-center" data-content="<%= t('accounts.website_toggle_popover') %>" data-placement="bottom" data-toggle="popover" data-trigger="hover">
            <div class="website-toggler d-inline-flex align-items-center">&nbsp;
              <strong>Live</strong>&nbsp;
              <strong>
                <%= link_to websites_root_url(locale: I18n.locale), target: '_blank', id: 'portal-link' do %>
                  <%= content_tag :i, nil, class: 'fas fa-link fa-fw' %>
                <% end %>
              </strong>&nbsp;
              <%= form_for(current_account, url: account_update_path, html: { id: 'header-website-toggle-form' }) do |f| %>
                  <div class="custom-control custom-switch">
                    <%= f.check_box(:website_enabled, {class: "custom-control-input solo-attribute-updater", type: 'checkbox'}) %>
                    <%= f.label(:website_enabled, {class: 'custom-control-label cursor-pointer'}) do %>
                    <% end %>
                  </div>
              <% end %>
            </div>
          </div>

          <!-- /.nav-item -->
        </ul>
        <!-- /.nav -->
        <!-- .btn-account -->
        <div id="account-dropdown-menu-element" class="dropdown d-md-flex">
          <button id="account-dropdown-menu-trigger" class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span data-turbolinks-permanent id="<%= current_user.avatar.attached? ? 'header-avatar' : 'avatar-in-header' %>" class="<%= current_user.avatar.attached? ? 'user-avatar user-avatar-bordered user-avatar-lg' : '' %>">
                    <!-- This needs to be properly taken care of -->
                    <%= render_avatar(current_user) %>
                    <%#= gravatar_for current_user, size: 64, classname: 'avatar-outline' %>
                    <!--                    <img src="assets/images/avatars/profile.jpg" alt="">-->
                  </span>
            <span class="account-summary pr-lg-4 d-none d-lg-block">
                    <span class="account-name"><%= current_user.full_name %></span>
                    <span class="account-description"><%= t "navbar.account.type.#{current_user.role(current_account)}" %></span>
                  </span>
          </button>
          <!--          <div class="dropdown-arrow"></div>-->
          <!-- .dropdown-menu -->
          <div class="dropdown-menu">
            <!--            <div class="dropdown-arrow d-lg-none" x-arrow="" style="left: 113px;"></div>-->
            <!--            <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>-->
            <h6 class="dropdown-header d-none d-md-block d-lg-none"><%= current_user.full_name %></h6>
            <%= render 'layouts/dropdown_menu' %>
          </div>
          <!-- /.dropdown-menu -->
        </div>
        <!-- /.btn-account -->
      </div>
      <!-- /.top-bar-item -->
    </div>
    <!-- /.top-bar-list -->
  </div>
  <!-- /.top-bar -->

  <%# Menu translation data %>
  <%= content_tag :div, class: "", id: "menu_i18n", data: {
    menui18n: {
      support: {
        title: t('support.title'),
        message_html: current_user.is_admin?(current_account) ? t('support.message_admin_html', brandname: BRANDNAME.downcase, chat: settings_chat_index_path) : t('support.message_user_html', brandname: BRANDNAME.downcase)
      }
    }
  } do %>
  <% end %>

  <!-- ---------------Tour (onboarding data)--------------- -->
  <%= content_tag :div, class: "", id: "tour_metadata", data: {
    tour: {
      has_taken_tour: current_user.is_sysadmin? ? true : current_user.has_taken_tour,
      tour_data_url: tour_data_user_path(current_user)
    }
  } do %>
  <% end %>

  <div id="tour_container">
    <!-- Do not pollute the DOM if a user has already taken the tour -->
    <% unless current_user.has_taken_tour %>
      <%= render 'layouts/tour' %>
    <% end %>
  </div>
</header>