<nav id="sidebar" class="navbar navbar-default navbar-fixed-side">
  <ul class="side-menu nav nav-stacked">

    <li class="side-menu-entry">
      <a href="/" class="entry-anchor-wrapper ">
        <i class="pr-icon sm stats-colored"></i>
        <div class="hidden-sm hidden-xs"><span>ΚΕΝΤΡΙΚΗ</span></div>
      </a>
    </li>

    <!--<li class="side-menu-entry">-->
      <!--<a href="#" class="entry-anchor-wrapper ">-->
      <!--<i class="pr-icon sm house-colored"></i>-->
      <!--<div class="hidden-sm hidden-xs"><span>ΑΚΙΝΗΤΑ</span></div>-->
      <!--</a>-->
    <!--</li>-->

    <%= content_tag :li, :class => 'side-menu-entry' do %>
        <%= link_to properties_path, :class => 'entry-anchor-wrapper' do %>
            <%= content_tag :i, '', :class => 'pr-icon sm house-colored' %>
            <%= content_tag :div, '', :class => 'hidden-sm hidden-xs' do %>
                <%= content_tag :span, 'ΑΚΙΝΗΤΑ' %>
            <% end %>
        <% end %>
    <%end %>


    <%= content_tag :li, :class => 'side-menu-entry' do %>
      <%= link_to users_path, :class => 'entry-anchor-wrapper' do %>
        <%= content_tag :i, '', :class => 'pr-icon sm agent-colored' %>
        <%= content_tag :div, '', :class => 'hidden-sm hidden-xs' do %>
            <%= content_tag :span, 'ΣΥΝΕΡΓΑΤΕΣ' %>
        <% end %>
      <% end %>
    <%end %>




    <!--<li class="side-menu-entry">-->
      <!--<a href="#" class="entry-anchor-wrapper ">-->
      <!--<i class="pr-icon sm agent-colored"></i>-->
      <!--<div class="hidden-sm hidden-xs"><span>ΣΥΝΕΡΓΑΤΕΣ</span></div>-->
      <!--</a>-->
    <!--</li>-->

    <li class="side-menu-entry">
      <a href="#" class="entry-anchor-wrapper ">
        <i class="pr-icon sm settings-colored"></i>
        <div class="hidden-sm hidden-xs"><span>ΡΥΘΜΙΣΕΙΣ</span></div>
      </a>
    </li>

  </ul>
</nav>

