<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">

  <meta name="format-detection"
        content="telephone=no">

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
        name='viewport'/>

  <meta name="apple-mobile-web-app-capable"
        content="yes">

  <meta name="turbolinks-cache-control" content="no-cache">

  <!-- full_title is defined in app/helpers/application_helper.rb. title is provided by each view file
       using the keyword 'provide' If the view file doesn't provide such value, 'full title' returns
       a generic title -->
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>


  <!-- This stylesheet is the uppy.scss. It needs to be placed before the main scss
       cause it overrides something in the transitions rules which breaks the system.
       It uses postcss to load the file. Check .postcssrc.yml -->
  <%= stylesheet_pack_tag 'stylesheets/uppyjs_styles' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'stylesheets/flatpickr_styles' %>
<!--  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">-->


  <!--    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/11ed69058d/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/e42336f4f6/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/34d6b38209/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/7dea02e0bb/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/6cbd9fccbb/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/fb1d28568a/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/c1f69e9892/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/c1f0de587f/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/9db1d64f31/Landia/style.css">-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'components-bundle' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'theme' %>
  <%= javascript_pack_tag 'datepicker' %>

  <%#= javascript_pack_tag 'hello_react' %>
  <%= render 'layouts/shim' %>
</head>
<body>

<!-- .app -->
<div class="app">

  <% flash.each do |message_type, message| %>
  <div class="alert-container">
    <div class="alert alert-<%= message_type %> alert-dismissible fade show"><%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  </div>
  <% end %>

  <%= render 'layouts/header' %>
  <%= render 'layouts/aside' %>

  <!-- .app-main -->
  <main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
      <!-- your awesome app content goes here -->

      <div id="page-transition">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <!-- /.wrapper -->
  </main>
  <!-- /.app-main -->

</div>
<!-- /.app -->

</body>

</html>
