<!DOCTYPE html>
<head>
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">

  <meta name="format-detection"
        content="telephone=no">

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
        name='viewport'/>

  <meta name="apple-mobile-web-app-capable"
        content="yes">

  <meta name="turbolinks-cache-control" content="no-cache">

  <!-- full_title is defined in app/helpers/application_helper.rb. title is provided by each view file
       using the keyword 'provide' If the view file doesn't provide such value, 'full title' returns
       a generic title -->
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap&subset=greek" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<!--  Order matters here. Don't change the order. external_stylesheets are basically the styles for flatpickr and -->
<!--  uppy.js. We need to load them first. -->
  <%= stylesheet_pack_tag 'style_loaders/external_stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'style_loaders/main_stylesheet', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%#= render 'layouts/shared_style_assets' %>
  <!--    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/11ed69058d/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/e42336f4f6/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/34d6b38209/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/7dea02e0bb/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/6cbd9fccbb/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/fb1d28568a/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/c1f69e9892/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/c1f0de587f/Landia/style.css">-->
  <!--  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/9db1d64f31/Landia/style.css">-->

  <%#= render 'layouts/shared_script_assets' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_packs_with_chunks_tag 'components-bundle',
                                       'application',
                                       'theme',
                                       'datepicker_localization',
                                       'date_select',
                                       'avatar_preview',
                                       'printable',
                                       'tabs',
                                       'custom_fields',
                                       'stepper',
                                       'validator',
                                       'script_loader',
                                       'automatedClicks',
                                       'data-turbolinks-track': 'reload' %>

  <%#= javascript_pack_tag 'components-bundle' %>
  <%#= javascript_pack_tag 'application' %>
  <%#= javascript_pack_tag 'theme' %>
  <%#= javascript_pack_tag 'datepicker_localization' %>
  <%#= javascript_pack_tag 'date_select' %>
  <%#= javascript_pack_tag 'avatar_preview' %>
  <%#= javascript_pack_tag 'stepper' %>
  <%#= javascript_pack_tag 'validator' %>


  <%= render 'layouts/shim' %>
</head>
<body>

<!-- .app -->
<div class="app">

  <%= render 'layouts/flash_messages' %>

  <%= render 'layouts/header' %>

  <%= render 'layouts/aside' %>

  <!-- .app-main -->
  <main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
      <!-- your awesome app content goes here -->

      <div id="page-transition">
        <%= yield %>
      </div>
      <%#= render 'layouts/footer' %>
      <%#= debug(params) if Rails.env.development? %>
    </div>
    <!-- /.wrapper -->
  </main>
  <!-- /.app-main -->

</div>
<!-- /.app -->

</body>

</html>
